<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<footer class="d-lg-none d-flex d-sm-flex d-md-flex flex-column bg-dark p-4">
    <div class="d-flex flex-column text-light text-start ms-3 mb-4">
        <img src="./img/iesmanacor.png" class="img m-1" alt="iesmanacor" style="max-width: 35px; max-height: 20px; object-fit:contain;">
        <span class="fs-7 text-secondary">658 Market Street</span>
        <span class="fs-7 text-secondary">San Francisco, CA 94105,</span>
        <span class="fs-7 text-secondary">United States</span>
        <br>
        <span class="fs-7 text-secondary">Call us: +34617398432</span>
        <span class="fs-7 text-secondary">Email: support@halothemes.com</span>
    </div>

    <div class="d-flex text-light text-start ms-3">
        <ul class="nav d-flex col-12">
            <span class="fs-5 w-75 fw-bold"><a>Shop by<br></a></span>
            <div class="my-auto" style="width: 22%;">
                <img class="border border-1 border-light justify-content-end float-end" src="./img/colores/negro.png" alt="select" style="width: 15px; height: 15px;">
            </div>
            <hr class="w-100 p-0 m-0 mt-3 mb-4 border border-2" />
        </ul>
    </div>

    <div class="d-flex text-light text-start ms-3">
        <ul class="nav d-flex col-12">
            <span class="fs-5 w-75 fw-bold"><a>Information<br></a></span>
            <div class="my-auto" style="width: 22%;">
                <img class="border border-1 border-light justify-content-end float-end" src="./img/colores/negro.png" alt="select" style="width: 15px; height: 15px;">
            </div>
            <hr class="w-100 p-0 m-0 mt-3 mb-4 border border-2" />
        </ul>
    </div>

    <div class="d-flex  text-light text-start ms-3">
        <ul class="nav d-flex col-12">
            <span class="fs-5 w-75 fw-bold"><a>Custom Service<br></a></span>
            <div class="my-auto" style="width: 22%;">
                <img class="border border-1 border-light justify-content-end float-end" src="./img/colores/negro.png" alt="select" style="width: 15px; height: 15px;">
            </div>
            <hr class="w-100 p-0 m-0 mt-3 mb-4 border border-2" />
        </ul>
    </div>

    <div class="d-flex flex-column text-light text-start ms-3">
        <span class="fs-6 text-light">Newsletter Sign Up</span><br>
        <span class="fs-7 text-secondary">Receive our lattest updates about our products and promotions</span><br>
        <div>

        </div>
    </div>
</footer>
</body>
</html>