<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<footer class=" mt-5 d-flex d-sm-flex d-md-flex bg-dark p-4">
    <div class="d-lg-flex d-none d-sm-none d-md-none justify-content-between align-items-center align-self-center text-center bg-dark p-4">
        <div class="d-flex flex-column text-light text-start ms-3">
            <img src="./img/iesmanacor.png" class="img m-1" alt="iesmanacor" style="max-width: 35px; max-height: 20px; object-fit:contain;">
            <span class="fs-7 text-secondary">658 Market Street</span>
            <span class="fs-7 text-secondary">San Francisco, CA 94105,</span>
            <span class="fs-7 text-secondary">United States</span>
            <br>
            <span class="fs-7 text-secondary">Call us: +34617398432</span>
            <span class="fs-7 text-secondary">Email: support@halothemes.com</span>
        </div>

        <div class="d-flex flex-column text-light text-start ms-3">
            <table>
                <tr><th class="fs-6"><a>Shop by<br></a></th></tr>
                <tr><td class="fs-7 text-secondary">Toni</td></tr>
                <tr><td class="fs-7 text-secondary">Carman</td></tr>
                <tr><td class="fs-7 text-secondary">Fabrication</td></tr>
                <tr><td class="fs-7 text-secondary">Apple</td></tr>
                <tr><td class="fs-7 text-secondary">Bollywood</td></tr>
                <tr><td class="fs-7 text-secondary">Some guy called Charles</td></tr>
                <tr><td class="fs-7 text-secondary">Steve</td></tr>
            </table>
        </div>

        <div class="d-flex flex-column text-light text-start ms-3">
            <table>
                <tr><th class="fs-6"><a>Information<br></a></th></tr>
                <tr><td class="fs-7 text-secondary">About Us</td></tr>
                <tr><td class="fs-7 text-secondary">Call malfunctions</td></tr>
                <tr><td class="fs-7 text-secondary">Theme styles</td></tr>
                <tr><td class="fs-7 text-secondary">Contact us</td></tr>
                <tr><td class="fs-7 text-secondary">Blog</td></tr>
                <tr><td class="fs-7 text-secondary">Brands</td></tr>
                <tr><td class="fs-7 text-secondary">Shrap</td></tr>
            </table>
        </div>

        <div class="d-flex flex-column text-light text-start ms-3">
            <table>
                <tr><th class="fs-6"><a>Custom Service<br></a></th></tr>
                <tr><td class="fs-7 text-secondary">Help & FAQ's</td></tr>
                <tr><td class="fs-7 text-secondary">Themes of Considence</td></tr>
                <tr><td class="fs-7 text-secondary">Privacy policy</td></tr>
                <tr><td class="fs-7 text-secondary">Online Recress Policy</td></tr>
                <tr><td class="fs-7 text-secondary">Estandard Program</td></tr>
                <tr><td class="fs-7 text-secondary">Esboral Cortel</td></tr>
                <tr><td class="fs-7 text-secondary">Patreons</td></tr>
            </table>
        </div>

        <!--Validated form-->

        <div class="d-flex flex-column text-light text-start ms-3">
            <span class="fs-6 text-light">Newsletter Sign Up</span><br>
            <span class="fs-7 text-secondary">Receive our lattest updates about our products and promotions</span><br>
            <form >
                <input type="email" name="email" placeholder="Your email ID.." class="email white col-7 col-md-4 col-lg-7 ml-3 form-control" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>

                <button type="submit" class="btn btn-warning text-uppercase sbmt-btn mt-3 col-3 col-md-2 col-lg-4 ml-1" value="validate">Submit</button>
            </form>
        </div>
    </div>

    <!--Footer mobile-->

    <div class="d-lg-none d-flex d-sm-flex d-md-flex flex-column bg-dark p-4">
        <div class="d-flex flex-column text-light text-start ms-3 mb-4">
            <img src="./img/iesmanacor.png" class="img m-1" alt="iesmanacor" style="max-width: 35px; max-height: 20px; object-fit:contain;">
            <span class="fs-7 text-secondary">658 Market Street</span>
            <span class="fs-7 text-secondary">San Francisco, CA 94105,</span>
            <span class="fs-7 text-secondary">United States</span>
            <br>
            <span class="fs-7 text-secondary">Call us: +34617398432</span>
            <span class="fs-7 text-secondary">Email: support@halothemes.com</span>
        </div>

        <div class="d-flex text-light text-start ms-3">
            <ul class="nav d-flex col-12">
                <span class="fs-5 w-75 fw-bold"><a>Shop by<br></a></span>
                <div class="my-auto" style="width: 22%;">
                    <img class="border border-1 border-light justify-content-end float-end" src="./img/colores/negro.png" alt="select" style="width: 15px; height: 15px;">
                </div>
                <hr class="w-100 p-0 m-0 mt-3 mb-4 border border-2" />
            </ul>
        </div>

        <div class="d-flex text-light text-start ms-3">
            <ul class="nav d-flex col-12">
                <span class="fs-5 w-75 fw-bold"><a>Information<br></a></span>
                <div class="my-auto" style="width: 22%;">
                    <img class="border border-1 border-light justify-content-end float-end" src="./img/colores/negro.png" alt="select" style="width: 15px; height: 15px;">
                </div>
                <hr class="w-100 p-0 m-0 mt-3 mb-4 border border-2" />
            </ul>
        </div>

        <div class="d-flex text-light text-start ms-3">
            <ul class="nav d-flex col-12">
                <span class="fs-5 w-75 fw-bold"><a>Custom Service<br></a></span>
                <div class="my-auto" style="width: 22%;">
                    <img class="border border-1 border-light justify-content-end float-end" src="./img/colores/negro.png" alt="select" style="width: 15px; height: 15px;">
                </div>
                <hr class="w-100 p-0 m-0 mt-3 mb-4 border border-2" />
            </ul>
        </div>

        <div class="d-flex flex-column text-light text-start ms-3">
            <span class="fs-6 text-light">Newsletter Sign Up</span><br>
            <span class="fs-7 text-secondary">Receive our lattest updates about our products and promotions</span><br>
            <div>

            </div>
        </div>
    </div>
    </div>

</footer>
</body>
</html>