<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Footer</title>
    <link th:href="@{/css/custom.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
</head>

<body>

<footer class="footer w-100 mx-0 mt-auto">
        <div class="w-100 text-center text-white bg-black">
            <!-- Grid container -->
            <div class="container p-4 pb-0">
                <!-- Section: Form -->
                <section class="">
                    <form action="">
                        <!--Grid row-->
                        <div class="row d-flex justify-content-center">
                            <!--Grid column-->
                            <div class="col-auto">
                                <p class="pt-2">
                                    <strong th:text="#{footer.message}"></strong>
                                </p>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-md-5 col-12">
                                <!-- Email input -->
                                <div class="form-outline form-white mb-0">
                                    <input type="email" id="form5Example2" class="form-control" />
                                    <label class="form-label" for="form5Example2" th:text="#{footer.address}"></label>
                                </div>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-auto">
                                <!-- Submit button -->
                                <button type="submit" class="btn btn-outline-light mb-4" th:text="#{button.subscribe}"></button>
                            </div>
                            <!--Grid column-->
                        </div>
                        <!--Grid row-->
                    </form>
                </section>
                <!-- Section: Form -->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgb(31,31,31)">
                © 2022 Copyright:
                <a class="text-white" href="https://www.trobalo.com/">trobalo.com</a>
            </div>
            <!-- Copyright -->
        </div>
</footer>
</body>
</html>