<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HEADER VERSION 2</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<!-- Header -->
<header id="header1" class="w-100 bg-front m-0">
  <div class="h-100 pt-2 pb-2 margin-nav-header1">
    <nav class="h-100 navbar navbar-light p-0 d-flex justify-content-lg-end justify-content-center border-e-grey">
      <a class="nav-link size-header1 text-white align-self-center p-0 pe-3 ps-3" href="#" th:text="#{header.right.question1}"></a>
      <a class="nav-link size-header1 text-white align-self-center p-0 pe-3 ps-3" href="#" th:text="#{header.right.question2}"></a>
    </nav>
  </div>
</header>
<header id="header2" class="sticky-top w-100">
  <nav class="navbar navbar-expand-lg navbar-light h-100">
    <div class="container-fluid flex-row h-100 w-100 p-0">
      <div class="d-xl-none d-block h-100 col-lg-4 col-3 d-flex flex-row justify-content-center">
        <button id="navbar-button-header" class="align-self-center border-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#asideHeader" aria-controls="asideHeader">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line mb-0"></span>
        </button>
      </div>
      <div class="col-xl-3 col-sm-4 col-5 h-100">
        <div class="h-100 w-100 d-flex flex-row justify-content-center">
          <img id="logoHeader1" class="h-100 align-self-center" th:src="@{/img/ies_manacor_white.png}" alt="ies">
        </div>
      </div>
      <div class="col-lg-6 d-xl-block d-none h-100 p-0">
        <nav id="navbarContent" class="h-100 d-flex flex-row justify-content-center navbar navbar-light fw-bold">
          <a class="align-self-center p-0 pe-3 ps-3" href="/" th:text="#{header.middle.start}"></a>
          <a class="align-self-center p-0 pe-3 ps-3" href="/restaurant/create" th:text="#{header.middle.create.restaurant}"></a>
          <a class="align-self-center p-0 pe-3 ps-3" href="/reservas" th:text="#{header.middle.bookings}"></a>
        </nav>
      </div>
      <div class="col-lg-3 col-4 d-flex flex-row justify-content-end">
        <a href="/lista/restaurantes" class="white-hover-grey"><i class="bi bi-shop fs-3 pe-xl-5 pe-3 align-self-center"></i></a>
        <div class="btn-group dropstart white-hover-grey">
          <a href="/login" class="dropdown-toggle text-white" id="loginDropdown" data-bs-toggle="dropdown" aria-expanded="false" role="button"><i class="bi bi-person-fill fs-3 pe-xl-5 pe-3 align-self-center"></i></a>
          <ul th:if="${session.user}!=null" class="dropdown-menu" aria-labelledby="loginDropdown">
            <li th:if="${session.user.isAdmin()}"><a class="dropdown-item" href="/restaurante/configuration/admin" th:text="#{header.user.admin.validation}"></a></li>
            <li><a class="dropdown-item" href="/user" th:text="#{header.user.update}+' '+${session.user.nombre_usuario}"></a></li>
            <li><a class="dropdown-item" href="/logout" th:text="#{header.user.logout}"></a></li>
          </ul>
        </div>
        <div class="btn-group dropstart">
          <a class="dropdown-toggle white-hover-grey" id="idiomaDropdown" data-bs-toggle="dropdown" aria-expanded="false" role="button"><i class="bi bi-globe fs-3 pe-xl-5 pe-3 align-self-center"></i></a>
          <ul class="dropdown-menu" aria-labelledby="idiomaDropdown">
            <li><a class="dropdown-item" href="/lista/restaurantes/?lang=es" th:text="#{header.lang.es}"></a></li>
            <li><a class="dropdown-item" href="/lista/restaurantes/?lang=ca" th:text="#{header.lang.ca}"></a></li>
            <li><a class="dropdown-item" href="/lista/restaurantes/?lang=en" th:text="#{header.lang.en}"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
</body>
</html>