<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>OFFCAVAS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
</head>
<body>
<div th:fragment="modelAside(restaurant)">
    <div class="offcanvas offcanvas-start" tabindex="-1" id="asideHeader" aria-labelledby="asideHeaderLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="asideHeaderLabel" th:text="#{model.title}"></h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body p-0">
            <a class="w-100 select-info text-decoration-none text-black ps-5" th:href="@{'/restaurant/update/'+${restaurant.id_restaurante}}">
                <i class="bi bi-shop fs-3"></i>
                <div th:text="#{aside.restaurant}"></div>
            </a>
            <a th:if="${restaurant} != null" class="w-100 select-info text-decoration-none text-black ps-5" th:href="@{'/restaurant/update/'+${restaurant.id_restaurante}+'#privacidadFixed'}">
                <i th:if="${restaurant.visible} == true" class="bi bi-eye-fill fs-3"></i>
                <i th:if="${restaurant.visible} == false" class="bi bi-eye-slash-fill fs-3"></i>
                <div th:text="#{aside.privacy}"></div>
            </a>
            <a class="w-100 select-info text-decoration-none text-black ps-5" th:href="@{'/restaurant/stats/'+${restaurant.id_restaurante}}">
                <i class="bi bi-bar-chart fs-3"></i>
                <div th:text="#{aside.stats}"></div>
            </a>
            <a class="w-100 select-info text-decoration-none text-black ps-5" th:href="@{'/restaurant/update/'+${restaurant.id_restaurante}+'#etiquetasFixed'}">
                <i class="bi bi-tags fs-3"></i>
                <div th:text="#{aside.tags}"></div>
            </a>
            <a class="w-100 select-info text-decoration-none text-black ps-5" th:href="@{'/restaurant/admin/horario/' +${restaurant.id_restaurante}}">
                <i class="bi bi-calendar-week fs-3"></i>
                <div th:text="#{aside.hours}"></div>
            </a>
            <a class="w-100 select-info text-decoration-none text-black ps-5" th:href="@{'/restaurant/admin/'+${restaurant.id_restaurante}+'/cards'}">
                <i class="bi bi-menu-button-wide-fill fs-3"></i>
                <div th:text="#{aside.cards}"></div>
            </a>
            <a class="w-100 select-info text-decoration-none text-black ps-5" th:href="@{'/reservas'}">
                <i class="bi bi-receipt fs-3"></i>
                <div th:text="#{aside.bookings}"></div>
            </a>
            <a class="w-100 select-info text-decoration-none text-black ps-5" th:href="@{'/restaurant/admin/membresia/'+${restaurant.id_restaurante}}">
                <i class="bi bi-inboxes fs-3"></i>
                <div th:text="#{aside.membership}"></div>
            </a>
            <a class="w-100 select-info text-decoration-none text-black ps-5" th:href="@{'/restaurant/update/'+${restaurant.id_restaurante}+'#imagenesFixed'}">
                <i class="bi bi-image fs-3"></i>
                <div th:text="#{aside.images}"></div>
            </a>
            <hr>
            <a class="w-100 select-info text-decoration-none text-black ps-5" th:href="@{/user}">
                <i class="bi bi-person-square fs-3"></i>
                <div th:text="#{user.aside.person}"></div>
            </a>
            <a class="w-100 select-info text-decoration-none text-black ps-5" th:href="@{'/restaurant/'+${restaurant.getId_restaurante()}}">
                <i class="bi bi-eye fs-3"></i>
                <div th:text="#{aside.show.restaurant}"></div>
            </a>
            <a class="w-100 select-info text-decoration-none text-black ps-5" th:href="@{/lista/restaurantes}">
                <i class="bi bi-shop fs-3"></i>
                <div th:text="#{aside.list.restaurants}"></div>
            </a>
        </div>
    </div>
</div>

<div th:fragment="modelUser">
    <div class="offcanvas offcanvas-start" tabindex="-1" id="asideHeader" aria-labelledby="asideHeaderLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="asideHeaderLabel" th:text="#{model.title}"></h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body p-0">
            <a class="w-100 select-info text-decoration-none text-black ps-5" th:href="@{/lista/restaurantes}">
                <i class="bi bi-shop fs-3"></i>
                <div th:text="#{aside.list.restaurants}"></div>
            </a>
            <a class="w-100 select-info text-decoration-none text-black ps-5" th:href="@{/user}">
                <i class="bi bi-person-square fs-3"></i>
                <div th:text="#{user.aside.person}"></div>
            </a>
            <a class="w-100 select-info text-decoration-none text-black ps-5" href="#modificables">
                <i class="bi bi-slash-circle-fill fs-3"></i>
                <div th:text="#{user.aside.no.modified}"></div>
            </a>
            <a class="w-100 select-info text-decoration-none text-black ps-5" href="#changepassword">
                <i class="bi bi-safe fs-3"></i>
                <div th:text="#{user.aside.password}"></div>
            </a>
            <a class="w-100 select-info text-decoration-none text-black ps-5" href="#deleterestaurant">
                <i class="bi bi-trash-fill fs-3"></i>
                <div th:text="#{user.aside.restaurant}"></div>
            </a>
            <a class="w-100 select-info text-decoration-none text-black ps-5" href="#deleteacount">
                <i class="bi bi-trash-fill text-danger fs-3"></i>
                <div th:text="#{user.aside.delete}"></div>
            </a>
        </div>
    </div>
</div>
</body>
</html>