.inputBuscador{
    background-color: lightgray;
    padding-right: 50px;
    border-radius: 6;
}

.buscarTitulo{
    color: #ADC5d9;
}

.buscarletra{
    font-size: 18px;
    font-weight: 400;
    color: white;
    background-color: #ADC5d9;
    border-width: 2px;
    border-color: transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.buscarletra:hover{
    background-color: #8C7654;
    border-color: #8C7654;
    border-color: transparent;
}

.inputBuscador{
    border-width: 2px;
    border-color: rgb(168,169,236);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}