.inputBuscador{
    background-color: #D8E6F2 !important;
    padding-right: 50px !important;
    color: black !important;
    border-radius: 6 !important;
}

.buscarTitulo{
    color: #ADC5d9 !important;
}

.buscarletra{
    font-size: 18px !important;
    font-weight: 400 !important; 
    color: white !important;
    background-color: #ADC5d9 !important;
    border-width: 2px !important;
    border-color: transparent !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}

.buscarletra:hover{
    background-color: #8C7654;
    border-color: #8C7654;
    border-color: transparent;
}

.inputBuscador{
    border-width: 2px !important;
    border-color: rgb(168,169,236) !important;
    ;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}
