.paraf_info_card {
    font-size: 13px;
}
.myCarusel {
    width: 100% !important;
}
@media only screen and (min-width: 1400px) {
    .myCarusel {
        width: 95% !important;
    }
}
.shadow-text-black {
    text-shadow: 1px 0 0 #000000, -1px 0 0 #000000, 0 1px 0 #000000, 0 -1px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
}
.shadow-node {
    text-shadow: none;
}
.position-name-municipio {
    position: absolute;
    left: 110px;
    bottom: 60px;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
.vertical-line {
    border-left: 1px solid #E8E8E8;
}