.title-no-where {
    font-size: 45px;
}
.sub-title-no-where{
    font-size: 35px;
}

@media only screen and (max-width: 1000px) {
    .title-no-where {
        font-size: 30px;
    }
    .sub-title-no-where{
        font-size: 20px;
    }
}