@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');

.font-family-not-found {
    font-family: 'Source Sans Pro', sans-serif;
}

.notfound-width {
    width: 1100px;
}

@media only screen and (max-width: 1000px) {
    .notfound-width {
        width: 90% !important;
    }
    .image-notFound {
        width: 100% !important;
        height: 400px !important;
        object-fit: cover;
    }
}
.title-not-found {
    font-size: 50px;
}
.image-notFound {
    width: 450px;
    height: 500px;
    object-fit: cover;
}