.form-input {
    border: lightgray solid 2px;
    border-radius: 10px;
    padding: 5px;
}

:root {
    --fc-small-font-size: .85em;
    --fc-page-bg-color: #fff;
    --fc-neutral-bg-color: rgba(208, 208, 208, 0.3);
    --fc-neutral-text-color: #808080;
    --fc-border-color: #ddd;

    --fc-button-text-color: #fff;
    --fc-button-bg-color: #2C3E50;
    --fc-button-border-color: #2C3E50;
    --fc-button-hover-bg-color: #1e2b37;
    --fc-button-hover-border-color: #1a252f;
    --fc-button-active-bg-color: #1a252f;
    --fc-button-active-border-color: #151e27;

    --fc-event-bg-color: #3788d8;
    --fc-event-border-color: #3788d8;
    --fc-event-text-color: #fff;
    --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);

    --fc-more-link-bg-color: #d0d0d0;
    --fc-more-link-text-color: inherit;

    --fc-event-resizer-thickness: 8px;
    --fc-event-resizer-dot-total-width: 8px;
    --fc-event-resizer-dot-border-width: 1px;

    --fc-non-business-color: rgba(215, 215, 215, 0.3);
    --fc-bg-event-color: rgb(143, 223, 130);
    --fc-bg-event-opacity: 0.3;
    --fc-highlight-color: rgba(188, 232, 241, 0.3);
    --fc-today-bg-color: rgba(255, 220, 40, 0.15);
    --fc-now-indicator-color: red;
}

/* FULLCALENDAR OPTIONS */
/*.week-0 .fc-scrollgrid-sync-table tbody tr:nth-child(0) {*/
/*    background-color: yellow;*/
/*}*/

/*.fc-scrollgrid-sync-table tbody tr:nth-child(2) td:first-child {*/
/*    background-color: yellow;*/
/*}*/
.fc-day-other {
    background-color: whitesmoke;
}
.fc-day-past {
    background-color: whitesmoke;
    opacity: 0.5;
}
.fc-day-today {
    background-color: navajowhite;
    opacity: 0.5;
}
.fc-daygrid-day-number {
    color: #749EE3;
}

/*.fc-day-future {*/
/*    background-color: yellow;*/
/*}*/

.message-success {
    position: fixed;
    top: 40%;
    left: 40%;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: white;
    z-index: 10;
    padding: 50px;
    border-radius: 10px;
    border: lightgray solid 2px;
    color: green;
}

.message-error {
    position: fixed;
    top: 40%;
    left: 30%;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: white;
    z-index: 10;
    padding: 50px;
    border-radius: 10px;
    border: lightgray solid 2px;
    color: red;
}