.sliderClass {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.arrow-left-position {
    position: absolute;
    top: 45%;
    left: 0;
    font-size: 40px;
    color: black;
    z-index: 5;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 2px 2px #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
}

.arrow-left-position:hover {
    position: absolute;
    top: 45%;
    left: 0;
    font-size: 40px;
    color: white;
    z-index: 5;
    text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, 2px 2px #000000, -2px -2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
}

.arrow-right-position {
    position: absolute;
    top: 45%;
    right: 0;
    font-size: 40px;
    color: black;
    z-index: 5;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 2px 2px #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
}

.arrow-right-position:hover {
    position: absolute;
    top: 45%;
    right: 0;
    font-size: 40px;
    color: white;
    z-index: 5;
    text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, 2px 2px #000000, -2px -2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
}

