.arrow-left-position {
    position: absolute;
    top: 45%;
    left: 0;
    font-size: 40px;
    color: black;
    z-index: 5;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 2px 2px #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff;
}
.arrow-right-position {
    position: absolute;
    top: 45%;
    right: 0;
    font-size: 40px;
    color: black;
    z-index: 5;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 2px 2px #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff;
}