@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

.main-width {
    width: 70% !important;
}

@media only screen and (min-width: 1400px) {
    .main-width {
        width: 1500px;
    }
}

.height-Carousel {
    height: 100%;
}
.height-img {
    height: 650px;
}
.object-cover {
    object-fit: cover;
}
.text-color-general {
    color: rgb(168,169,236);
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
.max-w-full {
    max-width: 100%;
}

.background-TYPE-1 {
    background: #022840 !important;
}
.background-TYPE-2 {
    background: #D8E6F2 !important;
}

.border-color-TYPE-1 {
    border: #D8E6F2 2px solid;
}
.border-color-TYPE-2 {
    border: #1D4259 2px solid;
}

.text-color-TYPE-1 {
    color: #51718C;
}
.text-color-TYPE-2 {
    color: #D8E6F2;
}

.background-color-general {
    background: linear-gradient(0deg, rgba(29,66,89,1) 0%, rgba(81,113,140,1) 16%, rgba(173,197,217,1) 51%, rgba(216,230,242,1) 85%, rgba(255,255,255,1) 100%);
}
.HindFont {
    font-family: 'Hind Siliguri', sans-serif;
}
.OxigenFont {
    font-family: 'Oxygen', sans-serif;
}