.height-Carousel {
    height: 100%;
}
.height-img {
    height: 670px;
}
.object-cover {
    object-fit: cover;
}
.text-color-general {
    color: rgb(168,169,236);
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
.max-w-full {
    max-width: 100%;
}
.background-color-general {
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(168,169,236) 100%);
}