@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');
.font-main{
    font-family: 'Shippori Antique B1', sans-serif;
}
.title-principal {
    font-stretch: extra-condensed;
}
.main-width {
    width: 80% !important;
}

@media only screen and (min-width: 1400px) {
    .main-width {
        width: 1500px;
    }
}

.height-Carousel {
    height: 100%;
}
.height-img {
    height: 650px;
}
.card-section-municipio {
    height: 225px;
}
.object-cover {
    object-fit: cover;
}
.text-color-general {
    color: rgb(168,169,236);
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
.max-w-full {
    max-width: 100%;
}

.background-TYPE-1 {
    background: #2D0E7D !important;
}
.background-TYPE-2 {
    background: #373DB0 !important;
}
.background-TYPE-3 {
    background:  #536CC9 !important;
}
.background-TYPE-4 {
    background: #749EE3 !important;
}


.color-TYPE-1 {
    color: #2D0E7D !important;
}
.color-TYPE-2 {
    color: #373DB0 !important;
}
.color-TYPE-3 {
    color:  #536CC9 !important;
}
.color-TYPE-4 {
    color: #749EE3 !important;
}

.background-color-general {
    background: linear-gradient(0deg, rgba(29,66,89,1) 0%, rgba(81,113,140,1) 16%, rgba(173,197,217,1) 51%, rgba(216,230,242,1) 85%, rgba(255,255,255,1) 100%);
}
.HindFont {
    font-family: 'Hind Siliguri', sans-serif;
}
.OxigenFont {
    font-family: 'Oxygen', sans-serif;
}
.round-card {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.round-card-top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}