<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link th:href="@{/css/custom.css}" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div th:fragment="header" class="position-relative">
  <!-- Header -->
  <header id="header1" class="w-100 bg-front m-0">
    <div class="h-100 pt-2 pb-2 margin-nav-header1">
      <nav class="h-100 navbar navbar-light p-0 d-flex justify-content-lg-end justify-content-center border-e-grey">
        <a class="nav-link size-header1 d-lg-none d-block text-white align-self-center p-0 pe-3 ps-3" href="#">Buscadar Avanzado</a>
        <a class="nav-link size-header1 text-white align-self-center p-0 pe-3 ps-3" href="#">Preguntas</a>
        <a class="nav-link size-header1 text-white align-self-center p-0 pe-3 ps-3" href="#">Quien Somos?</a>
      </nav>
    </div>
  </header>
  <header id="header2" class="sticky-top w-100">
    <nav class="navbar navbar-expand-lg navbar-light h-100">
      <div class="container-fluid flex-row h-100 w-100 p-0">
        <div class="d-xl-none d-block h-100 col-lg-4 col-3 d-flex flex-row justify-content-center">
          <button id="navbar-button-header" class="align-self-center border-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#offCanvasHeader" aria-controls="offCanvasHeader">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line" style="margin-bottom: 0;"></span>
          </button>
        </div>
        <div class="col-xl-3 col-sm-4 col-5 h-100">
          <div class="h-100 w-100 d-flex flex-row justify-content-center">
            <img id="logoHeader2" class="h-100 align-self-center" th:src="@{/img/ies_manacor_black.png}" alt="ies">
            <img id="logoHeader1" class="h-100 align-self-center" th:src="@{/img/ies_manacor_white.png}" alt="ies">
          </div>
        </div>
        <div class="col-lg-6 d-xl-block d-none h-100 p-0">
          <nav id="navbarContent" class="h-100 d-flex flex-row justify-content-center navbar navbar-light fw-bold">
            <a class="align-self-center p-0 pe-3 ps-3" href="#">Casa</a>
            <a class="align-self-center p-0 pe-3 ps-3" href="#">Crear Restaurante</a>
            <a class="align-self-center p-0 pe-3 ps-3" href="#">Mis Reservas</a>
          </nav>
          <section id="buscadorHeaderTop" class="d-none w-100 h-100 m-0 p-0 flex-row justify-content-center mt-2 mb-5">
            <div id="buscadorTop" class="w-100 h-100 m-0">
              <div class="background-search d-flex flex-row rounded-pill border border-2" style="height: 75px">
                <div class="w-30 h-100 rounded-pill">
                  <button class="localidad bg-items text-start button-search-s1 border-0 h-100 w-100 p-0 rounded-pill ps-2" onclick="openSection(1)">
                    <div class="container_search w-100">
                      <div class="title_search">Localizacion</div>
                      <div class="description_search w-100">¿A donde?</div>
                    </div>
                  </button>
                </div>
                <div class="separator1 border-end border-2 mt-3 mb-3 border-grey-100"><!-- Separator --></div>
                <div class="w-20 h-100 rounded-pill">
                  <button class="llegada bg-items button-search-s1 border-0 h-100 w-100 p-0 text-start rounded-pill" onclick="openSection(2)">
                    <div class="container_search w-100">
                      <div class="title_search">Hora</div>
                      <div class="description_search w-100">¿Que hora?</div>
                    </div>
                  </button>
                </div>
                <div class="separator2 border-end border-2 mt-3 mb-3 border-grey-100"><!-- Separator --></div>
                <div class="w-20 h-100 rounded-pill">
                  <button class="salida bg-items button-search-s1 border-0 h-100 w-100 p-0 text-start rounded-pill" onclick="openSection(3)">
                    <div class="container_search w-100">
                      <div class="title_search">Dia</div>
                      <div class="description_search w-100">¿Que dia?</div>
                    </div>
                  </button>
                </div>
                <div class="separator3 border-end border-2 mt-3 mb-3 border-grey-100"><!-- Separator --></div>
                <div class="w-30 h-100 rounded-pill">
                  <button class="etiqueta bg-items button-search-s1 border-0 h-100 w-100 p-0 text-start rounded-pill" onclick="openSection(4)">
                    <div class="container_search w-100">
                      <div class="title_search">Etiquetas</div>
                      <div class="description_search w-100">¿Que te gusta?</div>
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </section>
        </div>
        <form class="col-lg-3 col-4 d-flex flex-row justify-content-end">
          <i class="bi bi-shop fs-3 pe-xl-5 pe-3 align-self-center"></i>
          <i class="bi bi-person-fill fs-3 pe-xl-5 pe-3 align-self-center"></i>
          <i class="bi bi-globe fs-3 pe-xl-5 pe-3 align-self-center"></i>
        </form>
      </div>
    </nav>
    <section id="buscadorHeader" class="d-xl-flex d-none w-100 h-100 m-0 p-0 flex-row justify-content-center mt-2">
      <div id="buscador" class="h-100 m-0">
        <div class="background-search d-flex flex-row rounded-pill border border-2" style="height: 75px">
          <div class="w-30 h-100 rounded-pill">
            <button class="localidad bg-items text-start button-search-s1 border-0 h-100 w-100 p-0 rounded-pill ps-2" onclick="openSection(1)">
              <div class="container_search w-100">
                <div class="title_search">Localizacion</div>
                <div class="description_search w-100">¿A donde?</div>
              </div>
            </button>
          </div>
          <div class="separator1 border-end border-2 mt-3 mb-3 border-grey-100"><!-- Separator --></div>
          <div class="w-20 h-100 rounded-pill">
            <button class="llegada bg-items button-search-s1 border-0 h-100 w-100 p-0 text-start rounded-pill" onclick="openSection(2)">
              <div class="container_search w-100">
                <div class="title_search">Hora</div>
                <div class="description_search w-100">¿Que hora?</div>
              </div>
            </button>
          </div>
          <div class="separator2 border-end border-2 mt-3 mb-3 border-grey-100"><!-- Separator --></div>
          <div class="w-20 h-100 rounded-pill">
            <button class="salida bg-items button-search-s1 border-0 h-100 w-100 p-0 text-start rounded-pill" onclick="openSection(3)">
              <div class="container_search w-100">
                <div class="title_search">Dia</div>
                <div class="description_search w-100">¿Que dia?</div>
              </div>
            </button>
          </div>
          <div class="separator3 border-end border-2 mt-3 mb-3 border-grey-100"><!-- Separator --></div>
          <div class="w-30 h-100 rounded-pill">
            <button class="etiqueta bg-items button-search-s1 border-0 h-100 w-100 p-0 text-start rounded-pill" onclick="openSection(4)">
              <div class="container_search w-100">
                <div class="title_search">Etiquetas</div>
                <div class="description_search w-100">¿Que te gusta?</div>
              </div>
            </button>
          </div>
        </div>
      </div>
    </section>
    <section class="w-100 h-100 p-0 m-0 position-relative">

      <!-- Localizacion -->
      <section id="localizacion" class="sectionHeader d-none flex-column justify-content-center pt-3 position-absolute top-0">
        <div class="w-50 h-100 border-secondary border border-1 p-3 bg-white" style="margin-left: 500px; border-radius: 30px">
          <div class="container_search w-100">
            <div class="title_search">Localizacion</div>
            <div class="description_search w-100">¿Donde esta el restaurante que busca?</div>
          </div>
          <div class="w-100 h-100 p-0">
            <label class="w-100 h-100 ps-3 pe-3">
              <input class="w-100 h-100 p-2 ps-5 rounded-3 fw-bold" type="text">
            </label>
          </div>
          <div class="w-100 h-100 pt-3 ps-3">
            <button type="button" class="btn btn-secondary" onclick="closeSection(1)">Cerrar</button>
            <button type="button" class="btn btn-primary" onclick="">Buscar</button>
          </div>
        </div>
      </section>

      <!-- Hora -->
      <section id="hora" class="sectionHeader d-none flex-column justify-content-center pt-3 position-absolute top-0">
        <div class="w-50 h-100 border-secondary border border-1 p-3 bg-white" style="margin-left: 500px; border-radius: 30px">
          <div class="container_search w-100">
            <div class="title_search">Hora</div>
            <div class="description_search w-100">¿Que rango de horas quiere que este abierto?</div>
          </div>
          <div class="modal-body ps-3 pe-3 p-0 d-flex flex-column justify-content-between">
            <div class="w-100 d-flex flex-row justify-content-center">
              <p class="w-50 mb-1">Hora Inicio</p>
              <p class="w-50 ps-3 mb-1">Hora Final</p>
            </div>
            <div class="w-100 d-flex flex-row justify-content-center">
              <label for="time1"></label><input class="text-center w-50 fs-4 rounded-4 me-3" type="time" id="time1" name="time">
              <label for="time2"></label><input class="text-center w-50 fs-4 rounded-4 ms-3" type="time" id="time2" name="time">
            </div>
          </div>
          <div class="w-100 h-100 pt-3 ps-3">
            <button type="button" class="btn btn-secondary" onclick="closeSection(2)">Cerrar</button>
            <button type="button" class="btn btn-primary" onclick="">Buscar</button>
          </div>
        </div>
      </section>

      <!-- Dia -->
      <section id="dia" class="sectionHeader d-none flex-column justify-content-center pt-3 position-absolute top-0">
        <div class="w-50 h-100 border-secondary border border-1 p-3 bg-white" style="margin-left: 500px; border-radius: 30px">
          <div class="container_search w-100">
            <div class="title_search">Dia</div>
            <div class="description_search w-100">¿Que dia desea quieres que este abierto?</div>
          </div>
          DatePicker Discord
          <div class="w-100 h-100 pt-3 ps-3">
            <button type="button" class="btn btn-secondary" onclick="closeSection(3)">Cerrar</button>
            <button type="button" class="btn btn-primary" onclick="">Buscar</button>
          </div>
        </div>
      </section>

      <!-- Etiquetas -->
      <section id="etiquetas" class="sectionHeader d-none flex-column justify-content-center pt-3 position-absolute top-0">
        <div class="w-50 h-100 border-secondary border border-1 p-3 bg-white" style="margin-left: 500px; border-radius: 30px">
          <div class="container_search w-100">
            <div class="title_search">Etiquetas</div>
            <div class="description_search w-100">¿Que te gusta?</div>
          </div>
          Etiquetas
        </div>
      </section>
    </section>
  </header>
  <section class="offcanvas offcanvas-start" tabindex="-1" id="offCanvasHeader" aria-labelledby="offCanvasHeaderLabel">
    <div class="offcanvas-header d-flex flex-row justify-content-end">
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

    </div>
  </section>
</div>
</body>
</html>