<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crear Membresia</title>
    <link th:href="@{/css/custom.css}" rel="stylesheet">
    <link th:href="@{/css/form.css}" rel="stylesheet">
    <link th:href="@{/css/asideLeft.css}" rel="stylesheet">
</head>
<body>
<form th:fragment="form-create">
    <main class="d-flex flex-column justify-content-center body-info">
        <section class="pt-5">
            <div class="d-flex flex-row justify-content-center">
                <div class="d-flex flex-column justify-content-center" style="width: 70%;">
                    <label><input type='number' name='idRestaurante' th:value="${restaurant.id_restaurante}" hidden/></label>
                    <div class="container pt-3 m-0 w-100 px-0">
                        <div class="card">
                            <div class="w-100 p-4 ms-3 me-3">
                                <form action="">
                                    <h1>Tu Membresia</h1>
                                    <p>Direccion</p>
                                    <label for="direccion"></label><input type="text" class="input-text" name="direccion" id="direccion" required />
                                    <div class="d-flex flex-row justify-content-between mt-3">
                                        <div class="w-50 pe-2">
                                            <p>Fecha Final</p>
                                            <label for="data_final"></label><input type="date" class="input-text" name="data_final" id="data_final" required />
                                        </div>
                                        <div class="w-50 ps-2">
                                            <p>Precio Final</p>
                                            <label for="price"></label><input type="number" class="input-text" name="price" id="price" readonly/>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="d-flex flex-row justify-content-center pt-4">
                                        <button type="submit" class="btn btn-outline-dark">Guardar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</form>
</body>
</html>