<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mi Lista de Membresia</title>
    <link th:href="@{/css/custom.css}" rel="stylesheet">
    <link th:href="@{/css/form.css}" rel="stylesheet">
    <link th:href="@{/css/asideLeft.css}" rel="stylesheet">
    <style>
        .card {
            margin: auto;
            background: white;
            position:center;
            align-self: center;
            border-radius: 1.5rem;
            box-shadow: 4px 3px 20px #3535358c;
            display:flex;
            justify-content: center;
            flex-direction: row;

        }
    </style>
</head>
<body>
<div th:insert="shared/headerVersion2 :: header" class="sticky-top top-0"></div>
<div th:if="${error}!=null" th:text="${error}" class="message_error"></div>

<main class="w-100 p-0 m-0">
    <form class="d-flex flex-row justify-content-center" onsubmit="return validateGeneral()" id="info" th:action="@{/restaurant/put}" method="POST" th:object="${restaurant}">
        <main class="d-flex flex-column justify-content-center body-info">
            <section class="pt-5" id="restauranteFixed">
                <h3 class="title_section-info">Mis Membresias</h3>
                <div class="d-flex flex-row justify-content-center pt-2">
                    <p class="paraf_form text-center fw-normal" style="width: 70%; color: #808080">
                        La membresia es una forma para que tu restaurante genere mas visualizaciones y beneficios. Con esto conseguiras estar arriba en la busqueda de restaurantes.
                    </p>
                </div>
                <div class="d-flex flex-row justify-content-center">
                    <div class="d-flex flex-column justify-content-center" style="width: 70%;">
                        <div class="border border-secondary border-1 mt-5 p-4" style=" border-radius: 10px">
                            <input type="hidden" th:field="*{id_restaurante}" hidden>
                            <h4 class="fw-normal text-start text-black" style="font-family: 'Quicksand', sans-serif;">Informacion General</h4>
                            <p class="paraf_form text-start fw-normal" style="font-size: small;color: #808080">Estos son los datos generales del restaurante, como podria ser el nombre, los dias de anticipacio de reservas y el telefono movil enlazado con el restaurante</p>
                            <div class="ps-3 text-lg-start text-center">Nombre:</div>
                            <label class="w-100">
                                <input type="text" class="input-text validateNameResponse" th:field="*{nombre}">
                            </label>
                            <div id="validateNameResponse"></div>
                            <div class="container pt-3 m-0 w-100 px-0">
                                <div class="row">
                                    <div class="col-sm p-0">
                                        <label class="w-100 ps-2 pe-3">
                                            Dias de Anticipacion:
                                            <input type="number" class="input-text validateDiasAnticipacionResponse" th:field="*{dies_anticipacion_reservas}">
                                        </label>
                                        <div id="validateDiasAnticipacionResponse"></div>
                                    </div>
                                    <div class="col-sm p-0">
                                        <label class="w-100 pe-2 ps-3">
                                            Telefono:
                                            <input type="number" class="input-text validateTelefonoResponse" th:field="*{telefono_restaurante}">
                                        </label>
                                        <div id="validateTelefonoResponse"></div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <p class="paraf_form text-start fw-normal pt-3" style="font-size: small;color: #808080">Estos son los datos generales del restaurante, como podria ser el nombre, los dias de anticipacio de reservas y el telefono movil enlazado con el restaurante</p>
                            <div class="container pt-3 m-0 w-100 px-0">
                                <div class="row" id="localidadMunicipioChange">
                                    <div class="col-sm">
                                        <label class="w-100">
                                            Municipio:
                                            <select class="input-text" id="municipio"></select>
                                        </label>
                                    </div>
                                    <div class="col-sm">
                                        <label class="w-100">
                                            Localidad:
                                            <select id="localidad" class="input-text validateLocalidadResponse">

                                            </select>
                                        </label>
                                        <div id="validateLocalidadResponse"></div>
                                    </div>
                                    <label for='myLocalidadChanged'></label><input type='text' id='myLocalidadChanged' name='myLocalidadChanged' hidden/>
                                </div>
                                <div class="row" id="localidadMunicipioActual">
                                    <div class="col-sm">
                                        <label class="w-100">
                                            Municipio:
                                            <input type="text" class="input-text" disabled="disabled" th:value="${restaurant.localidad.nombre_municipio.nombre_municipio}" readonly/>
                                        </label>
                                    </div>
                                    <div class="col-sm">
                                        <label class="w-100">
                                            Localidad:
                                            <input name="myLocalidad" type="text" class="input-text" th:value="${restaurant.localidad.nombre_localidad}" readonly/>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-check form-switch d-flex flex-row justify-content-center pt-4">
                                <label class="w-100 d-flex flex-row justify-content-center">
                                    Deseas cambiar?
                                    <input class="form-check-input m-0 fs-3" type="checkbox" id="changeLocalidad">
                                </label>
                            </div>
                        </div>
                        <div class="d-flex flex-row justify-content-center pt-4">
                            <button type="submit" class="btn btn-dark">Guardar</button>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </form>
    <form th:insert="formularios/membresia-create :: form-create" class="d-flex flex-row justify-content-center" th:action="@{/membresia/save}" method="POST"></form>
</main>

<footer th:insert="shared/footer :: footer"></footer>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/headerv2.js}"></script>
</body>
</html>