<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/custom.css}" rel="stylesheet">
    <link th:href="@{/css/form.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');
    </style>
</head>
<body class="bg-black">
<!-- FORMULARIO RESTAURANTE -->
<div th:insert="shared/headerVersion2 :: header" class="sticky-top top-0"></div>
<div th:insert="shared/missage :: messages"></div>

<div id="error" class="message_error"></div>

<div class="d-flex flex-row justify-content-center bg-black">
    <div class="form_section">
        <form class="container form-container" th:action="@{/restaurant/save}" method="POST" enctype="multipart/form-data" th:object="${restaurant}">
            <div class="title_form">
                <h1 class="text-center">Your Restaurant</h1>
                <h4 class="text-center sub_comment_title">Que contiene tu restaurante?</h4>
            </div>
            <div class="body_form">
                <div class="d-flex justify-content-center">
                    <div class="text-center mb-3 p-0" style="width: 80%">
                        <div class="ps-3 paraf_form">Nombre</div>
                        <label class="w-100 field_form_principal">
                            <input class="text-center input-text" th:field="*{nombre}" type="text" maxlength="40" placeholder="NOMBRE RESTAURANTE" required>
                        </label>
                    </div>
                </div>
                <div class="form_section_2">
                    <div class="container-responsive-form">
                        <div class="p-0 form_2">
                            <div class="ps-3 paraf_form">Anticipacion reservas</div>
                            <label class="w-100 field_form_section">
                                <input class="input-text" type="number" th:field="*{dies_anticipacion_reservas}" oninput="this.value = Math.abs(this.value)" required>
                            </label>
                        </div>
                    </div>
                    <div class="container-responsive-form">
                        <div class="p-0 form_2">
                            <div class="ps-3 paraf_form">Telefono</div>
                            <label class="w-100 field_form_section">
                                <input class="input-text" type="number" th:field="*{telefono_restaurante}" oninput="this.value = Math.abs(this.value)" required>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center flex-row">
                    <div class="container-responsive-form d-flex flex-row justify-content-center gap-4">
                        <div class="p-0 pe-2 form_2">
                            <div class="ps-3 paraf_form">Localidad</div>
                            <label class="w-100 field_form_section" th:if="${localidades}!=null">
                                <select class="input-text" th:field="*{localidad}">
                                    <option th:each="localidad : ${localidades}" th:value="${localidad.id_localidad}" th:text="${localidad.nombre_localidad}">
                                </select>
                            </label>
                        </div>
                        <div class="p-0 ps-2 form_2">
                            <div class="ps-3 paraf_form">Municipio</div>
                            <label class="w-100 field_form_section" th:if="${municipios}!=null">
                                <select class="input-text" id="municipio">
                                    <option th:each="municipio : ${municipios}" th:value="${municipio.nombre_municipio}" th:text="${municipio.nombre_municipio}">
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="mb-3 p-0" style="width: 80%">
                        <div class="ps-3 paraf_form">Image</div>
                        <label class="w-100 field_form_principal">
                            <input class="input-text" name="image" type="file" maxlength="80" placeholder="URL" required>
                        </label>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="mb-3 p-0" style="width: 80%">
                        <div class="ps-3 paraf_form">Etiquetas</div>
                        <div class="w-100 d-flex flex-row gap-4" style="border-radius: 10px" th:if="${etiquetas}!=null">
                            <label class="field_form_section" style="width: 70%">
                                <input id="selectText" class="input-text" type="text" required>
                            </label>
                            <label class="field_form_section" style="width: 30%">
                                <select class="input-text" th:field="*{nombre}" id="selectEtiquetas">
                                </select>
                                <input class="input-text p-3 border border-2 border-success" id="create_etiqueta" onclick="addEtiqueta()" type="hidden" value="Create">
                            </label>
                        </div>
                    </div>
                </div>
                <!-- BOX OF ETIQUETAS SELECTED -->
                <div class="field_form_section align-self-center" style="width: 80%;min-height: 40px">
                    <section class="h-100 d-flex flex-row flex-wrap p-3" id="etiquetas_box">

                    </section>
                </div>
                <div class="pt-3 row d-flex flex-row justify-content-center gap-5">
                    <input class="w-20 pt-2 pb-2 paraf_form rounded" type="submit" value="Submit" />
                </div>
                <div type="hidden">
                    <label>
                        <input th:field="*{validated}" type="hidden"/>
                    </label>
                    <label>
                        <input th:field="*{visible}" type="hidden"/>
                    </label>
                    <label>
                        <input th:field="*{id_restaurante}" type="hidden">
                    </label>
                </div>
            </div>
        </form>
    </div>
</div>
<!--Footer-->
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/header.js}"></script>
<script>
    var selectEtiqueta = $("#selectEtiquetas");
    var numEtiquetas = 7;
    var etiquetasAdded = [];
    $("#error").hide();

    selectEtiqueta.append("<option selected><-- Buscador</option>");
    $("#create_etiqueta").attr("type","hidden");
    selectEtiqueta.show();

    $('#selectText').on('input',function(e){
        $("#create_etiqueta").attr("type","hidden");
        $("#selectEtiquetas").show();
        searchEtiquetas($("#selectText").val());
    });

    function searchEtiquetas(etiquetaSearched) {
        $.getJSON( "http://127.0.0.1:8080/get/etiquetas/admin/json", function( data ) {
            var list = "";
            selectEtiqueta.empty();
            var boolean = false;
            $.each( data, function(key, object) {
                if (object.nombre.includes(etiquetaSearched)) {
                    if (boolean===false) {
                        $("#selectEtiquetas").append("<option>-----</option>");
                        boolean = true;
                    }
                    selectEtiqueta.append("<option id='" + object.id_etiqueta + "'>" + object.nombre + "</option>");
                }
            });
            if (selectEtiqueta.text()==="") {
                $("#selectEtiquetas").hide();
                $("#create_etiqueta").attr("type","button");
            } else {
            }
        });
    }
    function addEtiqueta(value) {
        if (numEtiquetas!==0) {
            if (value == null) {
                if (isEtiquetaAdded($("#selectText").val())===false) {
                    if ($("#selectText").val().length<15) {
                        $("#etiquetas_box").append("<article class='rounded-pill w-20 text-center d-flex flex-row justify-content-center flex-wrap' onclick='deleteEtiqueta(this)'><a class='text-decoration-none text-black align-self-center'>" + $("#selectText").val() + "</a><input class='align-self-center rounded-circle fw-bold border-0 bg-danger text-white pt-0' style='font-size: 10px; width: 20px; height: 20px' type='button' value='X'></article>");
                        etiquetasAdded.push($("#selectText").val());
                        numEtiquetas--;
                    } else {
                        $("#error").text("Etiqueta too long");
                        $("#error").show();
                        setTimeout(function() {$("#error").hide()}, 1200);
                    }
                } else {
                    $("#error").text("Etiqueta already added");
                    $("#error").show();
                    setTimeout(function() {$("#error").hide()}, 1200);
                }
            } else {
                if (isEtiquetaAdded(value)===false) {
                    if (value.length<30) {
                        $("#etiquetas_box").append("<article class='rounded-pill w-20 text-center d-flex flex-row justify-content-center flex-wrap' onclick='deleteEtiqueta(this)'><a class='text-decoration-none text-black align-self-center'>" + value + "</a><input class='align-self-center rounded-circle fw-bold border-0 bg-danger text-white pt-0' style='font-size: 10px; width: 20px; height: 20px' type='button' value='X'></article>");
                        etiquetasAdded.push(value);
                        numEtiquetas--;
                    } else {
                        $("#error").text("Etiqueta too long");
                        $("#error").show();
                        setTimeout(function() {$("#error").hide()}, 1200);
                    }
                } else {
                    $("#error").text("Etiqueta already added");
                    $("#error").show();
                    setTimeout(function() {$("#error").hide()}, 1200);
                }
            }
        } else {
            $("#error").text("Max length is 7 for etiquetas");
            $("#error").show();
            setTimeout(function() {$("#error").hide()}, 1200);
        }
    }
    $('#selectEtiquetas').on('change', function () {
        var valueSelected = this.value;
        addEtiqueta(valueSelected)
    });
    function deleteEtiqueta(etiqueta) {
        etiqueta.remove();
        numEtiquetas++;
    }

    function isEtiquetaAdded(value) {
        for (let i = 0; i < etiquetasAdded.length; i++) {
            if (etiquetasAdded[i] === value) {
                return true;
            }
        }
        return false;
    }
</script>
</body>
</html>