<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${restaurant.nombre}"></title>
    <link rel=icon th:if="${imagesRestaurant.size()}!=0" th:href="@{${restaurant.getPhotosImagePath()}+${imagesRestaurant.get(0).url}}" sizes="16x16" type="image/png">
    <link rel=icon th:if="${imagesRestaurant.size()}==0" th:href="@{/img/no-photo-available.jpg}" sizes="16x16" type="image/png">
    <link th:href="@{/css/custom.css}" rel="stylesheet">
    <link th:href="@{/css/form.css}" rel="stylesheet">
    <link th:href="@{/css/asideLeft.css}" rel="stylesheet">
    <link th:href="@{/css/restaurante_update.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div th:insert="shared/headerVersion2 :: header(${restaurant})"></div>
<div th:if="${error}!=null" th:text="${error}" class="message_error"></div>
<div th:if="${success}!=null" th:text="${success}" class="message_success"></div>
<div id="error" class="message_error"></div>

<main class="w-100 p-0 m-0">
    <aside th:insert="shared/asideList :: aside"></aside>
    <form id="restauranteFixed" class="d-flex flex-row justify-content-center" onsubmit="return validateGeneral()" th:action="@{/restaurant/put}" method="POST" th:object="${restaurant}">
        <main class="d-flex flex-column justify-content-center body-info">
            <section class="pt-5">
                <h3 class="title_section-info" th:text="#{restaurant.update.title}"></h3>
                <div class="d-flex flex-row justify-content-center pt-2">
                    <p class="paraf_form text-center fw-normal length-container" th:text="#{restaurant.update.title.paraf}"></p>
                </div>
                <div class="d-flex flex-row justify-content-center">
                    <div class="d-flex flex-column justify-content-center length">
                        <div class="border border-secondary border-1 mt-5 p-4 box-container">
                            <input type="hidden" th:field="*{id_restaurante}" hidden>
                            <h4 class="fw-normal text-start text-black QuickSand" th:text="#{restaurant.update.info.general}"></h4>
                            <p class="paraf_form text-start fw-normal" th:text="#{restaurant.update.info.general.paraf}"></p>
                            <div class="ps-3 text-lg-start text-center" th:text="#{restaurant.form.name}"></div>
                            <label class="w-100">
                                <input type="text" class="input-text validateNameResponse" th:field="*{nombre}">
                            </label>
                            <div id="validateNameResponse"></div>
                            <div class="container pt-3 m-0 w-100 px-0">
                                <div class="row">
                                    <div class="col-sm p-0">
                                        <div class="ps-3 text-start" th:text="#{restaurant.form.days}"></div>
                                        <label class="w-100 ps-2 pe-3">
                                            <input type="number" class="input-text validateDiasAnticipacionResponse" th:field="*{dies_anticipacion_reservas}">
                                        </label>
                                        <div id="validateDiasAnticipacionResponse"></div>
                                    </div>
                                    <div class="col-sm p-0">
                                        <div class="ps-3 text-start" th:text="#{restaurant.form.phone}"></div>
                                        <label class="w-100 pe-2 ps-3">
                                            <input type="number" class="input-text validateTelefonoResponse" th:field="*{telefono_restaurante}">
                                        </label>
                                        <div id="validateTelefonoResponse"></div>
                                    </div>
                                    <div class="col-sm p-0">
                                        <div class="ps-3 text-start" th:text="#{restaurant.form.capacity}"></div>
                                        <label class="w-100 pe-2 ps-3">
                                            <input type="number" class="input-text validateAforo" th:field="*{aforo}">
                                        </label>
                                        <div id="validateAforo"></div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <p class="paraf_form text-start fw-normal pt-3" th:text="#{restaurant.update.info.title}"></p>
                            <div class="container pt-3 m-0 w-100 px-0">
                                <div class="row" id="localidadMunicipioChange">
                                    <div class="col-sm">
                                        <div class="ps-3 text-start" th:text="#{restaurant.form.municipality}"></div>
                                        <label class="w-100">
                                            <select class="input-text" id="municipio"></select>
                                        </label>
                                    </div>
                                    <div class="col-sm">
                                        <div class="ps-3 text-start" th:text="#{restaurant.form.location}"></div>
                                        <label class="w-100">
                                            <select id="localidad" class="input-text validateLocalidadResponse">

                                            </select>
                                        </label>
                                        <div id="validateLocalidadResponse"></div>
                                    </div>
                                    <label for='myLocalidadChanged'></label><input type='text' id='myLocalidadChanged' name='myLocalidadChanged' hidden/>
                                </div>
                                <div class="row" id="localidadMunicipioActual">
                                    <div class="col-sm">
                                        <div class="ps-3 text-start" th:text="#{restaurant.form.municipality}"></div>
                                        <label class="w-100">
                                            <input type="text" class="input-text" disabled="disabled" th:value="${restaurant.localidad.nombre_municipio.nombre_municipio}" readonly/>
                                        </label>
                                    </div>
                                    <div class="col-sm">
                                        <div class="ps-3 text-start" th:text="#{restaurant.form.location}"></div>
                                        <label class="w-100">
                                            <input name="myLocalidad" type="text" class="input-text" th:value="${restaurant.localidad.nombre_localidad}" readonly/>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-check form-switch d-flex flex-row justify-content-center pt-4">
                                <div class="d-flex flex-column w-100">
                                    <div class="text-center" th:text="#{restaurant.update.question.checkbox}"></div>
                                    <label class="pt-3 w-100 d-flex flex-row justify-content-center">
                                        <input class="form-check-input m-0 fs-3" type="checkbox" id="changeLocalidad">
                                    </label>
                                </div>
                            </div>
                            <hr>
                            <div class="d-flex flex-column justify-content-center">
                                <h4 class="fw-normal text-center text-black QuickSand" th:text="#{restaurant.update.google.maps}"></h4>
                                <div class="container pt-3 m-0 w-100 px-0">
                                    <div class="col-sm p-0">
                                        <div class="ps-3 text-start" th:text="#{restaurant.form.address}"></div>
                                        <label class="w-100 pe-2 ps-3">
                                            <input type="text" class="input-text" th:field="*{direccion}">
                                        </label>
                                    </div>
                                </div>
                                <div class="container-responsive-form d-flex justify-content-center flex-row">
                                    <div class="p-0 form_2 pe-2 w-40">
                                        <div class="ps-3 paraf_form text-secondary" th:text="#{restaurant.form.longitude}"></div>
                                        <label class="w-100 field_form_section">
                                            <input type="number" step="any" id="longitud" class="input-text text-secondary" th:field="*{longitud}" name="longitud" readonly>
                                        </label>
                                    </div>
                                    <div class="p-0 form_2 ps-2 w-40">
                                        <div class="ps-3 paraf_form text-secondary" th:text="#{restaurant.form.latitude}"></div>
                                        <label class="w-100 field_form_section">
                                            <input type="number" step="any" id="latitud" class="input-text text-secondary" th:field="*{latitud}" name="latitud" readonly>
                                        </label>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <div class="mb-3 p-0 w-80">
                                        <div class="w-100 googleMap" id="miGoogleMap"></div>
                                        <div class="googleMaps w-100">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row justify-content-center pt-4">
                            <button type="submit" class="btn btn-dark" th:text="#{button.save}"></button>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </form>
    <form id="privacidadFixed" class="d-flex flex-row justify-content-center" th:action="@{/restaurant/visibility}" method="POST">
        <main class="d-flex flex-column justify-content-center body-info">
            <section class="pt-5">
                <h3 class="title_section-info" th:text="#{restaurant.update.privacy}"></h3>
                <div class="d-flex flex-row justify-content-center pt-2">
                    <p class="paraf_form text-start fw-normal length">

                    </p>
                </div>
                <div class="d-flex flex-row justify-content-center">
                    <div class="d-flex flex-column justify-content-center length">
                        <div class="border border-secondary border-1 mt-2 p-4 box-container">
                            <h4 class="fw-normal text-start text-black QuickSand" th:text="#{restaurant.update.privacy.info}"></h4>
                            <p class="paraf_form text-start fw-normal" th:text="#{restaurant.update.privacy.paraf}"></p>
                            <label><input type='number' name='idRestaurante' th:value="${restaurant.id_restaurante}" hidden/></label>
                            <div class="container pt-3 m-0 w-100 px-0">
                                <div class="form-check form-switch d-flex flex-row justify-content-center pt-4">
                                    <label class="w-100 d-flex flex-row justify-content-center">
                                        <input th:if="${restaurant.visible} == true" type="checkbox" name="visibilty" class="form-check-input m-0 fs-3" checked>
                                        <input th:if="${restaurant.visible} == false" type="checkbox" name="visibilty" class="form-check-input m-0 fs-3">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row justify-content-center pt-4">
                            <button type="submit" class="btn btn-dark" th:text="#{button.save}"></button>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </form>
    <form id="etiquetasFixed" class="d-flex flex-row justify-content-center" onsubmit="return validateEtiquetas()" th:action="@{/etiquetas/save}" method="POST">
        <main class="d-flex flex-column justify-content-center body-info">
            <section class="pt-5">
                <h3 class="title_section-info" th:text="#{restaurant.update.tags}"></h3>
                <div class="d-flex flex-row justify-content-center pt-2">
                    <p class="paraf_form text-start fw-normal length" th:text="#{restaurant.update.tags.paraf}"></p>
                </div>
                <div class="d-flex flex-row justify-content-center">
                    <div class="d-flex flex-column justify-content-center length">
                        <div class="border border-secondary border-1 mt-2 p-4 box-container">
                            <h4 class="fw-normal text-start text-black QuickSand" th:text="#{restaurant.update.tags.title}"></h4>
                            <p class="paraf_form text-start fw-normal" th:text="#{restaurant.update.tags.title.paraf}">
                                <a class="text-decoration-none text-danger" th:text="#{restaurant.update.tags.title.paraf.red}"></a>
                            </p>
                            <label><input type='number' name='idRestaurante' th:value="${restaurant.id_restaurante}" hidden/></label>
                            <div class="container pt-3 m-0 w-100 px-0">
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="ps-3 paraf_form text-secondary" th:text="#{restaurant.form.tags}"></div>
                                        <label class="text-center w-100">
                                            <input id="selectText" class="input-text" type="text">
                                        </label>
                                    </div>
                                    <div class="col-sm">
                                        <div class="ps-3 paraf_form text-secondary" th:text="#{restaurant.create.js.search}"></div>
                                        <label class="text-center w-100">
                                            <select class="input-text" id="selectEtiquetas">
                                            </select>
                                            <input class="input-text p-3 border border-2 border-success" id="create_etiqueta" onclick="addEtiqueta()" type="hidden" value="Create">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- BOX OF ETIQUETAS SELECTED -->
                        <div class="align-self-center mt-4 pt-2 w-100">
                            <div class="text-center paraf_form" th:text="#{restaurant.form.tags.selected}"></div>
                            <section class="h-100 p-4 h-auto" th:if="${etiquetas}!=null">
                                <div class="d-flex flex-row justify-content-center flex-wrap gap-2" id="etiquetas_box">
                                    <div class="border border-2 w-auto box-container" th:each="etiqueta : ${etiquetas}" onclick='deleteEtiqueta(this)'>
                                        <i class='bi bi-tag ps-2'></i>
                                        <label class="w-auto">
                                            <input name='etiquetas' class='singleEtiqueta border-0 ps-2 box-container' th:value="${etiqueta.nombre}" readonly/>
                                        </label>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="d-flex flex-row justify-content-center pt-4">
                            <button type="submit" class="btn btn-dark" th:text="#{button.save}"></button>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </form>
    <form id="imagenesFixed" class="d-flex flex-row justify-content-center" th:style="${imagesRestaurant.size()} == 0 ? 'margin-bottom: 50px' : ''" th:action="@{/imagen/saveMultiple}" enctype="multipart/form-data" method="POST">
        <main class="d-flex flex-column justify-content-center body-info">
            <section class="pt-5">
                <h3 class="title_section-info" th:text="#{restaurant.update.images}"></h3>
                <div class="d-flex flex-row justify-content-center pt-2">
                    <div class="d-flex flex-column justify-content-center length">
                        <p class="paraf_form fw-normal text-center" th:text="#{restaurant.update.images.paraf}"></p>
                        <p class="paraf_form fw-normal text-center" th:text="'Cantidad de imagenes: '+${imagesRestaurant.size()}"></p>
                    </div>
                </div>
                <input type="hidden" name="idRestaurant" th:value="${restaurant.id_restaurante}" hidden>
                <div class="d-flex flex-row justify-content-center">
                    <div class="d-flex flex-column justify-content-center length">
                        <div class="border border-secondary border-1 mt-2 p-4 box-container">
                            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div th:each="image, iteration : ${imagesRestaurant}" th:class="${iteration.index} == 0 ? 'carousel-item active' : 'carousel-item'">
                                        <img class="d-block w-100 image-contain-length" th:src="@{${restaurant.getPhotosImagePath()}+${image.url}}"  alt=""/>
                                    </div>
                                    <div th:if="${imagesRestaurant.size()}==0">
                                        <img class="d-block w-100 image-contain-length" th:src="@{/img/no-photo-available.jpg}" alt="">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden" th:text="#{restaurant.update.images.previous}"></span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden" th:text="#{restaurant.update.images.next}"></span>
                                </button>
                            </div>
                            <div class="mb-3 p-0 mt-3">
                                <div class="ps-3 paraf_form" th:text="#{restaurant.update.images.insert}"></div>
                                <label class="w-100 field_form_principal">
                                    <input class="input-text validateImagenResponse" name="saveMultiple" multiple accept="image/jpeg, image/jpg, image/png, image/gif" type="file" maxlength="80" placeholder="URL" required>
                                </label>
                                <div id="validateImagenResponse"></div>
                            </div>
                        </div>
                        <div class="d-flex flex-row justify-content-center pt-4">
                            <button type="submit" class="btn btn-dark" th:text="#{button.save}"></button>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </form>
    <form onsubmit="return validateImages()" th:if="${imagesRestaurant.size()} != 0" class="d-flex flex-row justify-content-center mb-5" th:action="@{/imagen/delete}" enctype="multipart/form-data" method="POST">
        <main class="d-flex flex-column justify-content-center body-info">
            <section class="pt-5">
                <h3 class="title_section-info" th:text="#{restaurant.update.images.manage}"></h3>
                <input type="hidden" name="idRestaurante" th:value="${restaurant.id_restaurante}" hidden>
                <div class="d-flex flex-row justify-content-center">
                    <div class="d-flex flex-column justify-content-center length">
                        <div class="border border-secondary border-1 mt-2 p-4 box-container">
                            <ul id="inputSubmitImages" class="w-100 d-flex flex-row justify-content-center flex-wrap gap-2 img-block">
                                <li class="w-25 h-100 list-unstyled" th:each="imagen : ${imagesRestaurant}">
                                    <input type="checkbox" name="images" th:value="${imagen.getId_img()}" th:id="${imagen.getId_img()}"/>
                                    <label class="w-auto box-container" th:for="${imagen.getId_img()}">
                                        <img class="p-0 m-0 d-block w-100 img-size-sm" th:src="@{${restaurant.getPhotosImagePath()}+${imagen.url}}" alt="img" />
                                    </label>
                                    <div th:each="imgModified : ${imageModified}" th:if="${imgModified[0]}==${imagen.getUrl()}" th:text="${imgModified[1]}"></div>
                                </li>
                            </ul>
                        </div>
                        <div id="buttonDeleteImg" class="d-flex flex-row justify-content-center pt-4">
                            <button type="submit" class="btn btn-danger" th:text="#{restaurant.update.images.manage.delete}"></button>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </form>
    <form th:if="${codeEliminar}!=null" class="d-flex flex-row justify-content-center mb-5" th:action="@{/restaurant/delete/}" method="POST">
        <main class="d-flex flex-column justify-content-center body-info">
            <section class="pt-5">
                <h3 class="title_section-info" th:text="#{button.delete}"><a th:text="${restaurant.nombre}"></a>?</h3>
                <div class="d-flex flex-row justify-content-center">
                    <div class="d-flex flex-column justify-content-center length">
                        <input type="text" class="input-text p-3 border border-2 border-success" id="id" th:value="${restaurant.id_restaurante}" name="id" hidden>
                        <div class="border border-secondary border-1 mt-2 p-4 box-container">
                            <p class="paraf_form" th:text="#{restaurant.update.delete.paraf}"><a class="text-decoration-none text-danger" th:text="#{restaurant.update.delete.paraf.red}"></a></p>
                            <div class="col-sm">
                                <div class="ps-3 paraf_form" th:text="#{user.update.password.code.verify}"></div>
                                <label class="text-center w-100">
                                    <input type="text" class="input-text p-3 border border-2 border-success" id="code" name="code">
                                </label>
                            </div>
                            <div class="d-flex flex-row justify-content-center pt-4">
                                <button type="submit" class="btn btn-danger" th:text="#{button.delete}"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </form>
    <form th:if="${codeEliminar}==null" class="d-flex flex-row justify-content-center mb-5" th:action="@{'/restaurant/generate/code/delete/'+${restaurant.id_restaurante}}" method="GET">
        <main class="d-flex flex-column justify-content-center body-info">
            <section class="pt-5">
                <div class="d-lg-flex d-block flex-row justify-content-center gap-2">
                    <h3 class="title_section-info" th:text="#{button.generate.code}+' '+#{button.delete}"></h3>
                    <h3 class="title_section-info" th:text="${restaurant.nombre}"></h3>
                    <h3 class="title_section-info">?</h3>
                </div>
                <div class="d-flex flex-row justify-content-center">
                    <div class="d-flex flex-column justify-content-center length">
                        <div class="border border-secondary border-1 mt-2 p-4 box-container">
                            <div class="d-flex flex-row justify-content-center pt-4">
                                <button type="submit" class="btn btn-dark" th:text="#{button.generate.code}"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </form>
</main>
<footer th:insert="shared/footer :: footer"></footer>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/headerv2.js}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCKiIqCdZGrVxx06LSbe7uG3zXOq1Cz5k&callback=myMap"></script>
<script th:inline="javascript">
    /*<![CDATA[*/

    let traductions = {
        sureDelete: [[#{restaurant.update.delete.confirm}]],
        buscador: [[#{restaurant.create.js.arrow.search}]],
        ocurrencias: [[#{restaurant.create.js.occurrences}]],
        encontrados: [[#{restaurant.create.js.find}]],
        short: [[#{errors.tags.short}]],
        long: [[#{errors.tags.long}]],
        max: [[#{errors.tags.max}]],
        added: [[#{errors.tags.already.added}]],

        municipality : [[#{restaurant.create.js.municipality}]],
        selectM: [[#{restaurant.create.js.select.municipality}]],

        formName: [[#{restaurant.create.js.form.name}]],
        formNumber: [[#{restaurant.update.has.to.be.number}]],
        formPhone: [[#{restaurant.create.js.form.phone}]],
        formLocation: [[#{restaurant.create.js.form.location}]]
    };

    /*]]>*/
</script>
<script th:src="@{/js/etiquetas.js}"></script>
<script th:src="@{/js/restaurante_update.js}"></script>
<script th:src="@{/js/asideVersionScroll.js}"></script>
<script th:src="@{/js/hide_messages.js}"></script>
</body>
</html>