<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{user.update.meta}+' '+${session.user.nombre_usuario}"></title>
    <link th:href="@{/css/custom.css}" rel="stylesheet">
    <link th:href="@{/css/form.css}" rel="stylesheet">
    <link th:href="@{/css/asideLeft.css}" rel="stylesheet">
    <link th:href="@{/css/restaurante_update.css}" rel="stylesheet">
    <link th:href="@{/css/reservas.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div th:insert="shared/headerVersion1 :: header"></div>
<div th:if="${error}!=null" th:text="${error}" class="message_error"></div>
<div th:if="${success}!=null" th:text="${success}" class="message_success"></div>
<main class="w-100 p-0 m-0">
    <aside th:if="${user}!=0" class="float-info">
        <div class="container-info">
            <a class="w-100 select-info text-decoration-none text-black ps-5" th:href="@{/lista/restaurantes}">
                <i class="bi bi-shop fs-3"></i>
                <div th:text="#{aside.list.restaurants}"></div>
            </a>
            <a class="w-100 select-info text-decoration-none text-black ps-5" th:href="@{/user}">
                <i class="bi bi-person-square fs-3"></i>
                <div th:text="#{user.aside.person}"></div>
            </a>
            <a class="w-100 select-info text-decoration-none text-black ps-5" href="#modificables">
                <i class="bi bi-slash-circle-fill fs-3"></i>
                <div th:text="#{user.aside.no.modified}"></div>
            </a>
            <a class="w-100 select-info text-decoration-none text-black ps-5" href="#changepassword">
                <i class="bi bi-safe fs-3"></i>
                <div th:text="#{user.aside.password}"></div>
            </a>
            <a class="w-100 select-info text-decoration-none text-black ps-5" href="#deleterestaurant">
                <i class="bi bi-trash-fill fs-3"></i>
                <div th:text="#{user.aside.restaurant}"></div>
            </a>
            <a class="w-100 select-info text-decoration-none text-black ps-5" href="#deleteacount">
                <i class="bi bi-trash-fill text-danger fs-3"></i>
                <div th:text="#{user.aside.delete}"></div>
            </a>
        </div>
    </aside>
    <div th:insert="shared/model :: modelUser"></div>
    <form class="d-flex flex-row justify-content-center" onsubmit="return validateGeneral()" th:action="@{/user/put}" method="POST" th:object="${user}">
        <section class="d-flex flex-column justify-content-center body-info">
            <section class="pt-5">
                <h3 class="title_section-info" th:text="#{user.aside.person}"></h3>
                <div class="d-flex flex-row justify-content-center pt-2">
                    <p class="paraf_form text-center fw-normal length-container" th:text="#{user.update.paraf}"></p>
                </div>
                <div class="d-flex flex-row justify-content-center">
                    <div class="d-flex flex-column justify-content-center length">
                        <div class="border border-secondary border-1 mt-5 p-4 box-container">
                            <input type="hidden" th:field="*{id_user}" hidden>
                            <h4 class="fw-normal text-start text-black QuickSand" th:text="#{user.update.info}"></h4>
                            <div class="paraf_form text-center pt-3" th:text="#{user.update.info.paraf}"></div>
                            <div class="paraf_form text-danger text-center pb-2" th:text="#{user.update.info.paraf.red}"></div>
                            <div class="ps-3 text-lg-start text-center" th:text="#{user.update.username}"></div>
                            <label class="w-100">
                                <input type="text" class="input-text validateNameUsuarioResponse" th:field="*{nombre_usuario}" required>
                            </label>
                            <div id="validateNameUsuarioResponse"></div>
                            <div class="container pt-3 m-0 w-100 px-0">
                                <div class="row">
                                    <div class="col-sm p-0">
                                        <div class="ps-3 paraf_form" th:text="#{user.update.name}"></div>
                                        <label class="w-100 ps-2 pe-3">
                                            <input type="text" class="input-text validateNombre" th:field="*{nombre}" required>
                                        </label>
                                        <div id="validateNombre"></div>
                                    </div>
                                    <div class="col-sm p-0">
                                        <div class="ps-3 paraf_form" th:text="#{user.update.surname1}"></div>
                                        <label class="w-100 pe-2 ps-3">
                                            <input type="text" class="input-text validateApellido1" th:field="*{apellido1}" required>
                                        </label>
                                        <div id="validateApellido1"></div>
                                    </div>
                                    <div class="col-sm p-0">
                                        <div class="ps-3 paraf_form" th:text="#{user.update.surname2}"></div>
                                        <label class="w-100 pe-2 ps-3">
                                            <input type="text" class="input-text validateApellido2" th:field="*{apellido2}">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="container pt-3 m-0 w-100 px-0">
                                <div class="row">
                                    <div class="col-sm p-0">
                                        <div class="ps-3 paraf_form" th:text="#{user.update.phone}"></div>
                                        <label class="w-100 ps-2 pe-3">
                                            <input type="text" class="input-text validateTelefono" th:field="*{telefono}" required>
                                        </label>
                                        <div id="validateTelefono"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row justify-content-center pt-4">
                            <button type="submit" class="btn btn-dark" th:text="#{button.save}"></button>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </form>
    <section  id="modificables" class="d-flex flex-row justify-content-center">
        <section class="d-flex flex-column justify-content-center body-info">
            <section class="pt-5">
                <h3 class="title_section-info" th:text="#{user.aside.no.modified}"></h3>
                <div class="d-flex flex-row justify-content-center">
                    <div class="d-flex flex-column justify-content-center length">
                        <div class="border border-secondary border-1 mt-2 p-4 box-container">
                            <h4 class="fw-normal text-start text-black QuickSand" th:text="#{user.update.important.title}"></h4>
                            <div class="paraf_form text-center fw-normal pt-3" th:text="#{user.update.important.paraf}"></div>
                            <div class="paraf_form text-danger text-center" th:text="#{user.update.important.paraf.red}"></div>
                            <section th:if="${verified}==true">
                                <div class="container pt-3 m-0 w-100 px-0">
                                    <div class="row">
                                        <div class="col-sm p-0">
                                            <div class="ps-3 paraf_form" th:text="#{user.update.dni}"></div>
                                            <label class="w-100 pe-2 ps-3">
                                                <input type="text" class="input-text" th:value="${user.dni}" readonly>
                                            </label>
                                        </div>
                                        <div class="col-sm p-0">
                                            <div class="ps-3 paraf_form" th:text="#{user.update.correo}"></div>
                                            <label class="w-100 pe-2 ps-3">
                                                <input type="text" class="input-text" th:value="${user.correo}" readonly>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div th:if="${user.isAdmin()}" class="container pt-3 m-0 w-100 px-0">
                                    <div class="form-check form-switch d-flex flex-row justify-content-center pt-4">
                                        <div class="ps-3 paraf_form" th:text="#{user.update.admin}"></div>
                                        <label class="w-100 d-flex flex-row justify-content-center">
                                            <input class="form-check-input m-0 fs-3" type="checkbox" readonly>
                                        </label>
                                    </div>
                                </div>
                            </section>
                            <section th:if="${verified}==null">
                                <form class="container pt-3 m-0 w-100 px-0" th:action="@{/user/verified}" method="POST">
                                    <div class="col-sm p-0">
                                        <div class="ps-3 paraf_form" th:text="#{user.update.password}"></div>
                                        <label class="w-100 pe-2 ps-3">
                                            <input type="password" class="input-text" id="verified" name="verified" required>
                                        </label>
                                    </div>
                                    <div class="d-flex flex-row justify-content-center pt-4">
                                        <button type="submit" class="btn btn-dark" th:text="#{button.prove}"></button>
                                    </div>
                                </form>
                            </section>
                            <div class="w-100 text-center paraf_form fw-normal length">
                                <div class="text-black QuickSand pt-2" th:text="#{user.update.info.no.modified.paraf.red}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>
    <form id="changepassword" onsubmit="return changepassword()" class="d-flex flex-row justify-content-center mb-5" th:action="@{/user/changepassword}" method="POST">
        <section class="d-flex flex-column justify-content-center body-info">
            <section class="pt-5">
                <h3 class="title_section-info" th:text="#{user.update.password.title}"></h3>
                <div class="d-flex flex-row justify-content-center">
                    <div class="d-flex flex-column justify-content-center length">
                        <div class="border border-secondary border-1 mt-2 p-4 box-container">
                            <h4 class="fw-normal text-start text-black" th:text="#{user.update.password.sub.title}"></h4>
                            <div class="paraf_form text-center pt-3 pb-2" th:text="#{user.update.password.sub.title.paraf}"></div>
                            <section class="container">
                                <div class="row">
                                    <div class="col-sm p-0">
                                        <div class="ps-3 paraf_form" th:text="#{user.update.password.now}"></div>
                                        <label class="w-100 pe-2 ps-3">
                                            <input type="password" class="input-text" id="password_actual" name="password_actual" required>
                                        </label>
                                        <div class="password_actual"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm p-0">
                                        <div class="ps-3 paraf_form" th:text="#{user.update.password.change}"></div>
                                        <label class="w-100 pe-2 ps-3">
                                            <input type="password" class="input-text" id="password_change" name="password_change" required>
                                        </label>
                                        <div class="password_change"></div>
                                    </div>
                                    <div class="col-sm p-0">
                                        <div class="ps-3 paraf_form" th:text="#{user.update.password.change.confirm}"></div>
                                        <label class="w-100 pe-2 ps-3">
                                            <input type="password" class="input-text" id="password_change_confirm" name="password_change_confirm" required>
                                        </label>
                                        <div class="password_change_confirm"></div>
                                    </div>
                                </div>
                            </section>
                            <div class="paraf_form text-center text-danger pt-2" th:text="#{user.update.password.sub.title.paraf.red}"></div>
                            <div class="d-flex flex-row justify-content-center pt-4">
                                <button type="submit" class="btn btn-dark" th:text="#{button.continue}"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </form>
    <form th:if="${hascode}==true" id="recuperar" class="d-flex flex-row justify-content-center mb-5" th:action="@{/user/password}" method="POST">
        <section class="d-flex flex-column justify-content-center body-info">
            <section class="pt-5">
                <h3 class="title_section-info" th:text="#{user.update.recover.password.title}"></h3>
                <div class="d-flex flex-row justify-content-center">
                    <div class="d-flex flex-column justify-content-center length">
                        <div class="border border-secondary border-1 mt-2 p-4 box-container">
                            <p class="paraf_form" th:text="#{user.update.recover.password.paraf}"><a class="text-decoration-none text-danger" th:text="#{user.update.recover.password.paraf.red}"></a></p>
                            <div class="d-flex flex-row justify-content-center pt-4">
                                <button type="submit" class="btn btn-dark" th:text="#{button.send.code}"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </form>
    <form th:if="${hascode}==false" id="recuperar" onsubmit="return password()" class="d-flex flex-row justify-content-center mb-5" th:action="@{/user/recuperar}" method="POST">
        <section class="d-flex flex-column justify-content-center body-info">
            <section class="pt-5">
                <h3 class="title_section-info" th:text="#{user.update.recover.password.title}"></h3>
                <div class="d-flex flex-row justify-content-center">
                    <div class="d-flex flex-column justify-content-center length">
                        <div class="border border-secondary border-1 mt-2 p-4 box-container">
                            <section class="container">
                                <div class="row">
                                    <div class="col-sm p-0">
                                        <div class="ps-3 paraf_form" th:text="#{user.update.password.code.verify}"></div>
                                        <label class="w-100 pe-2 ps-3">
                                            <input type="text" class="text-center input-text" id="codigo_email" name="codigo_email" required>
                                        </label>
                                        <div class="codigo_email"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm p-0">
                                        <div class="ps-3 paraf_form" th:text="#{user.update.password.change}"></div>
                                        <label class="w-100 pe-2 ps-3">
                                            <input type="password" class="input-text" id="password_change_recuperar" name="password_change_recuperar" required>
                                        </label>
                                        <div class="password_change_recuperar"></div>
                                    </div>
                                    <div class="col-sm p-0">
                                        <div class="ps-3 paraf_form" th:text="#{user.update.password.change.confirm}"></div>
                                        <label class="w-100 pe-2 ps-3">
                                            <input type="password" class="input-text" id="password_change_confirm_recuperar" name="password_change_confirm_recuperar" required>
                                        </label>
                                        <div class="password_change_confirm_recuperar"></div>
                                    </div>
                                </div>
                                <div class="d-flex flex-row justify-content-center pt-4 gap-2">
                                    <button type="submit" class="btn btn-dark" th:text="#{button.prove}"></button>
                                    <a href="/recuperar" class="btn btn-dark" th:text="#{button.generate.code}"></a>
                                    <a href="/delete/code/password" class="btn btn-danger" th:text="#{button.delete.code}"></a>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </form>
    <form id="deleterestaurant" th:if="${codeEliminar}==null" class="d-flex flex-row justify-content-center mb-5" th:action="@{/restaurant/generate/code/delete}" method="GET">
        <main class="d-flex flex-column justify-content-center body-info">
            <section class="pt-5">
                <div class="d-lg-flex d-block flex-row justify-content-center gap-2">
                    <h3 class="title_section-info" th:text="#{button.delete}+' '+#{restaurants.admin.title}"></h3>
                    <h3 class="title_section-info">?</h3>
                </div>
                <div class="d-flex flex-row justify-content-center">
                    <div class="d-flex flex-column justify-content-center length">
                        <div class="border border-secondary border-1 mt-2 p-4 box-container">
                            <div class="ps-3 paraf_form" th:text="#{restaurant.update.delete.paraf}"></div>
                            <div class="ps-3 paraf_form text-danger" th:text="#{restaurant.update.delete.paraf.red}"></div>
                            <div class="d-flex flex-row justify-content-center pt-4">
                                <button type="submit" class="btn btn-dark" th:text="#{button.generate.code}"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </form>
    <form id="deleterestaurant" th:if="${codeEliminar}!=null" class="d-flex flex-row justify-content-center mb-5" th:action="@{/restaurant/regenerate/code}" method="GET">
        <main class="d-flex flex-column justify-content-center body-info">
            <section class="pt-5">
                <h3 class="title_section-info" th:text="#{button.delete}+''+#{restaurants.admin.title}"></h3>
                <div class="d-flex flex-row justify-content-center">
                    <div class="d-flex flex-column justify-content-center length">
                        <div class="border border-secondary border-1 mt-2 p-4 box-container">
                            <div class="ps-3 paraf_form" th:text="#{restaurant.update.delete.paraf}"></div>
                            <div class="ps-3 paraf_form text-danger" th:text="#{restaurant.update.delete.paraf.red}"></div>
                            <div class="d-flex flex-row justify-content-center pt-4">
                                <button type="submit" class="btn btn-dark" th:text="#{button.re.generate}"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </form>
    <form id="deleteacount" class="d-flex flex-row justify-content-center mb-5" th:action="@{/user/delete}" method="POST">
        <section class="d-flex flex-column justify-content-center body-info">
            <section class="pt-5">
                <h3 class="title_section-info" th:text="#{user.delete.user.title}"></h3>
                <div class="d-flex flex-row justify-content-center">
                    <div class="d-flex flex-column justify-content-center length">
                        <div class="border border-secondary border-1 mt-2 p-4 box-container">
                            <div class="paraf_form" th:text="#{user.delete.user.paraf}"></div>
                            <div class="paraf_form text-danger pb-3" th:text="#{user.delete.user.paraf.red}"></div>
                            <section class="container">
                                <div class="row">
                                    <div class="col-sm p-0">
                                        <div class="ps-3 paraf_form" th:text="#{user.update.password.code.verify}"></div>
                                        <div class="d-flex flex-lg-row flex-column">
                                            <div class="w-25"></div>
                                            <label class="width-form pe-2 ps-3">
                                                <input type="text" class="text-center input-text" id="code" name="code" required>
                                            </label>
                                            <div class="code"></div>
                                            <a href="/user/delete/generate/code" class="btn btn-dark mt-2 mt-lg-0 align-self-center" th:text="#{button.generate.code}"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm p-0">
                                        <div class="ps-3 paraf_form pt-3" th:text="#{user.delete.text_confirmation}"></div>
                                        <div class="d-flex flex-row justify-content-center pb-3">
                                            <label class="w-50 pe-2 ps-3">
                                                <input type="text" class="text-center text-center input-text QuickSand" id="code_confirmation" th:value="'DELETE-'+${session.user.nombre_usuario}" required>
                                            </label>
                                        </div>
                                        <div class="code_confirmation"></div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm p-0">
                                        <div class="ps-3 paraf_form pt-3" th:text="#{user.delete.result}"></div>
                                        <label class="w-100 pe-2 ps-3">
                                            <input type="text" class="text-center input-text" id="text_confirmation" name="text_confirmation" required>
                                        </label>
                                        <div class="text_confirmation"></div>
                                    </div>
                                </div>


                                <div class="d-flex flex-row justify-content-center pt-4 gap-2">
                                    <button type="submit" class="btn btn-danger" th:text="#{button.submit}"></button>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </form>
</main>
<footer th:insert="shared/footer :: footer"></footer>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/headerv2.js}"></script>
<script th:src="@{/js/asideVersionScroll.js}"></script>
<script th:src="@{/js/hide_messages.js}"></script>
<script th:inline="javascript">
    let traducciones = {
        formResponse: [[#{user.update.js.form}]]
    }
</script>
<script th:src="@{/js/user_update.js}"></script>
</body>
</html>