// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../../../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/mixins";
@import "../../../../../node_modules/bootstrap/scss/root";

// 4. Include any optional Bootstrap CSS as needed
@import "../../../../../node_modules/bootstrap/scss/utilities";
@import "../../../../../node_modules/bootstrap/scss/reboot";
@import "../../../../../node_modules/bootstrap/scss/type";
@import "../../../../../node_modules/bootstrap/scss/images";
@import "../../../../../node_modules/bootstrap/scss/containers";
@import "../../../../../node_modules/bootstrap/scss/grid";
@import "../../../../../node_modules/bootstrap/scss/helpers";

// 5. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../../../../../node_modules/bootstrap/scss/utilities/api";

// 6. Add additional custom code here
// own colors

$colors-personalitzats: (
        "iesmanacor": yellow,
        "diw": $indigo-300,
        "primary": green,
);

$personal-fonts: (
        7: $font-size-base * .75
);

//merge the maps

$theme-colors: map-merge($theme-colors,$colors-personalitzats);
$theme-colors-rgb: map-merge($theme-colors-rgb,$colors-personalitzats);
$utilities-bg-colors: map-merge($utilities-bg-colors,$colors-personalitzats);
$utilities-text-colors: map-merge($utilities-text-colors,$colors-personalitzats);
$font-sizes: map-merge($font-sizes, $personal-fonts);

//Importar tot el bootstrap
@import "../../../../../node_modules/bootstrap/scss/bootstrap";

//Importar iconos de bootstrap
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

@import "header.scss";
@import "principalPage.scss";

//Estils Personalitzats General
.object-cover {
  object-fit: cover;
}
@for $x from 0 through 10 {
  //Custom width
  .w-#{$x*10} {
    width: $x * 10%;
  }
}
@for $x from 0 through 10 {
  //Custom width
  .h-#{$x*10} {
    height: $x * 10%;
  }
}
.fadeOut {
  animation-name: fadeOut;
  animation-iteration-count: 1;
  animation-duration: 1s;
}
.fadeIn {
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-duration: 1s;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}