$color-primary: #1F1F1F;
$color-secondary-1: black;
$color-secondary-2: white;
$color-hover-1: grey;
$color-hover-2: #EBEBEB;
$color-seach: white;

/* BEFORE
$color-primary: #1F1F1F;
$color-secondary-1: white;
$color-secondary-2: #535BF8;
$color-hover-1: grey;
$color-hover-2: #EBEBEB;
$color-seach: black;
 */

#header2 {
  height: 110px;
}
.size-header1 {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 600;
}
#header1 {
  background: $color-primary;
  height: 40px;
}
.margin-nav-header1 {
  margin-right: 15%;
}
.border-e-grey {
  border-right: solid grey 2px;
}
@media only screen and (max-width: 600px) {
  .size-header1 {
    font-size: 10px;
  }
}
//lg
@media only screen and (max-width: 990px) {
  .margin-nav-header1 {
    margin-right: 0;
  }
  .border-e-grey {
    border: 0;
  }
}

.nav-header {
  &-text-#{1} {
    text-decoration-line: none;
    color: $color-secondary-1;
    &:hover {
      color: $color-hover-1;
    }
  }
  &-text-#{2} {
    text-decoration-line: none;
    color: $color-secondary-2;
    &:hover {
      color: $color-hover-1;
    }
  }
  &-bg-#{1} {
    background: $color-secondary-1;
  }
  &-bg-#{2} {
    background: $color-secondary-2;
  }
}
.navbar-toggler {
  &-t#{1} {
    padding-left: 11px;
    padding-right: 11px;
    width: 50px;
    height: 50px;
    background-color: $color-secondary-2;
    border: $color-secondary-1 solid 2px;
    .line {
      width: 100%;
      float: left;
      height: 2px;
      margin-bottom: 5px;
      background-color: $color-secondary-1;
    }
  }
  &-t#{2} {
    padding-left: 11px;
    padding-right: 11px;
    width: 50px;
    height: 50px;
    background-color: $color-secondary-1;
    border-color: $color-secondary-2;
    .line {
      width: 100%;
      float: left;
      height: 2px;
      margin-bottom: 5px;
      background-color: $color-secondary-2;
    }
  }
}

#buscador {
  width: 50%;
}
.background-search {
  background: $color-seach;
}
@media only screen and (max-width: 1500px) {
  #buscador {
    width: 75%;
  }
}
.border-grey-100 {
  border: #FFFFFF;
}
.button-search-s1 {
  background: $color-seach;
}
.bg-items:hover {
  background: $color-hover-2;
  border-radius: 50rem !important;
}
.container_search {
  padding: 14px 24px;
  white-space: nowrap;
}
.title_search {
  font-size: 12px;
  line-height: 16px;
  font-weight: 800;
  letter-spacing: 0.04em;
  padding-bottom: 2px;
  color: $color-primary;
}
.description_search {
  font-size: 14px;
  line-height: 18px;
  color: #717171;
  font-weight: 400;
}