$color-primary: #1F1F1F;
$color-secondary-1: white;
$color-secondary-2: black;
$color-hover-1: grey;

.button-search {
  .-s#{1} {
    color: $color-secondary-1;
  }
  .-s#{2} {
    color: $color-secondary-2;
  }
  &:hover {
    color: $color-hover-1;
  }
}
