.box-img {
    border-radius: 1rem 0 0 1rem;
}
.border-radius-1{
    border-radius: 1rem;
}
.letter-space {
    letter-spacing: 1px;
}
.error-validation {
    font-size: 14px; color: red;
}
.color-links {
    color: #393f81;
}
.width-min-content {
    width: min-content;
}