$color-primary: #1F1F1F;
$color-secondary-1: black;
$color-secondary-2: #535BF8;
$color-hover-1: grey;
$color-hover-2: #EBEBEB;

.principal {
  object-fit: cover;
  z-index: -1;
}
.title_principal {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: xxx-large;
}
.text-shadow-white {
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
.gradient-black {
  background: linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 50%);
}d