<!DOCTYPE html>
<html lang="en">
<head>
    <title>Modal Cartas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
</head>
<body>
<!-- container -->

<!-- Modal Edita Model -->
<section>
<div id="modalEdita" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <!-- header modal -->

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" th:text="#{modal.header.title}"></h5>
                <button data-bs-dismiss="modal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- body modal -->

            <div class="modal-body">
                <form role="form" name="formEdita" action="edita.php" method="get">
                    <div class="row">
                        <div class="col-md-6">
                            <label><div th:text="#{modal.body.id}"></div></label>
                            <input id="idc" type="text" class="form-control" th:placeholder="#{modal.body.id.placeholder}" readonly="readonly" name="id">
                        </div>
                        <div class="col-md-6">
                            <label><div th:text="#{modal.body.name}"></div></label>
                            <input id="nomc" type="text"class="form-control" th:placeholder="#{modal.body.name.placeholder}" name="nom">
                        </div>
                        <div class="col-md-6" id="useimgdiv">
                            <label><div th:text="#{modal.body.image}"></div></label>
                            <!--div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheck">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                            </div-->
                        </div>
                        <div class="col-md-6" id="visiblediv">
                            <label><div th:text="#{modal.body.usage}"></div></label>
                            <!--div class="form-check form-switch">
                                <input th:if="${carta.visible == false}" class="form-check-input" type="checkbox" id="flexSwitchCheck">
                                <input th:unless="${carta.visible == false}" class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                            </div-->
                        </div>
                    </div>
                </form>
            </div>
            <!-- footer modal -->

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" data-bs-dismiss="modal" th:text="#{button.close}"></button>
                <button id="editarButton" type="button" class="btn btn-primary" th:text="#{button.save}"></button>
            </div>
        </div>
    </div>
</div>
</section>
</body>
</html>