<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Modal Edita Model -->
<section>
    <div id="modalEliminar" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <!-- header modal -->

                <div class="modal-header">
                    <input type="text" class="" th:value="${categoria.nombre}">
                </div>

                <!-- body modal -->

                <div class="modal-body d-flex justify-content-evenly">
                    <button type="button" id="eliminarbutton" class="btn btn-primary text-center">Guardar</button>
                    <button type="button" class="btn btn-secondary text-center" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>