<!DOCTYPE html>
<html lang="en">
<head>
    <title>Modal ELIMINAR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
</head>
<body>
<!-- container -->

<!-- Modal Edita Model -->
<div th:fragment="modal_eliminar">
    <div id="modalEliminar" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <!-- header modal -->

                <div class="modal-header" th:text="#{modal.header.delete}"></div>

                <!-- body modal -->

                <div class="modal-body d-flex justify-content-evenly">
                    <button type="button" id="eliminarbutton" class="btn btn-danger text-center" th:text="#{button.delete}"></button>
                    <button type="button" class="btn btn-secondary text-center" data-bs-dismiss="modal" th:text="#{button.cancel}"></button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>