<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cards</title>
    <link th:href="@{/css/custom.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"/>
</head>
<body>
<div th:insert="shared/headerVersion2 :: header"/>
<main class="mt-5 pt-5 mx-auto w-75">
    <div id="Cards">
    <h3 class="mt-5">Cartas</h3>
    <table id="card_table" class="display" style="width:100%">
        <thead class="thead-dark">
            <th scope="row">Id</th>
            <th scope="row">Name</th>
            <th scope="row">img</th>
            <th scope="row">Usa Imagen</th>
            <th scope="row">Visible</th>
            <th scope="row"></th>
        </thead>
        <tbody>
        <tr th:each="carta : ${restaurant.cartas}">
            <td th:text="${carta.id_carta}"></td>
            <td th:text="${carta.nombre}"></td>
            <td th:text="${carta.url_img}"></td>
            <td>
                <div class="form-check form-switch">
                    <input th:if="${carta.usa_img == false}" class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled" disabled>
                    <input th:unless="${carta.usa_img == false}" class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedDisabled" checked disabled>
                </div>
            </td>
            <td>
                <div class="form-check form-switch">
                    <input th:if="${carta.visible == false}" class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled" disabled>
                    <input th:unless="${carta.visible == false}" class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedDisabled" checked disabled>
                </div>
            </td>
            <td>
                <a class="text-decoration-none text-white" th:href="@{'/restaurant/admin/card/edit/' + ${carta.id_carta}}"><button type='button' class='editar btn btn-primary'>Editar</button></a>
                <button type='button' class='eliminar btn btn-danger' onclick="loadModalEliminar()">Eliminar</button>
                <a class="text-decoration-none text-white" th:href="@{'/restaurant/admin/card/' + ${carta.id_carta} + '/categories'}"><button type='button' class='editar btn btn-info'>Categorias</button></a>
            </td>
        </tr>
        </tbody>
    </table>
        <a th:href="@{'/restaurant/admin/' + ${restaurant.id_restaurante} + '/card/create'}"><button class="btn btn-primary mt-2">Crear Carta</button></a>
        <a href="#"><button class="btn btn-secondary mt-2">Volver</button></a>
    </div>

    <div th:insert="shared/modals/modal_eliminar :: section"/>

</main>

<div th:insert="shared/footer :: footer"/>

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/header.js}"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

    <script>

        var data;
        var tablee;

        $(document).ready(function() {
            listar();
        });

        var listar = function(){
            var card_table = $("#card_table").DataTable({

            });
            obtener_data("#card_table", card_table, "button.eliminar");
            obtener_data("#card_table", card_table, "button.editar");
        }

            function loadModalEliminar(){
                $("#modalEliminar").modal("show");
            }

            var obtener_data = function(tbody, table, tag){
                $(tbody).on("click", tag, function(){
                    data = table.row( $(this).parents("tr")).data();
                    tablee = table.row( $(this).parents("tr"));
                });
            }

            $('#eliminarbutton').click( function () {
                obtener_data("#card_table", card_table, "button.eliminar");
                var id = data[0];
                var link = "/restaurant/admin/cards/delete/" + id;
                $.ajax(link);
                tablee.remove().draw();
                $("#modalEliminar").modal("hide");
            });

    </script>
</body>
</html>