<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{card.category.meta}"></title>
    <link th:href="@{/css/custom.css}" rel="stylesheet"/>
    <link th:href="@{/css/asideLeft.css}" rel="stylesheet">
    <link th:href="@{/css/form.css}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"/>
</head>
<body class="d-flex flex-column min-vh-100">
<div th:insert="shared/headerVersion2 :: header(${restaurant})"/>
<div th:insert="shared/asideList :: aside"/>
<main class="pt-5 mx-auto w-60">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{'/restaurant/admin/' + ${carta.restaurant.id_restaurante} + '/cards'}" th:text="#{card.category.title}"></a></li>
            <li class="breadcrumb-item active" th:text="${carta.nombre}" aria-current="page"></li>
        </ol>
    </nav>
    <div id="Cards">
        <div class="d-flex flex-row justify-content-start gap-2">
            <h3 th:text="#{card.category.of}"></h3>
            <h3 th:text="${carta.nombre}"></h3>
        </div>
        <table id="card_table" class="display" style="width:100%">
            <thead class="thead-dark">
            <th scope="row" class="d-none" th:text="#{card.table.id}"></th>
            <th scope="row" th:text="#{card.table.name}"></th>
            <th scope="row"></th>
            </thead>
            <tbody>
            <tr th:each="category : ${carta.categories}">
                <td class="d-none" th:text="${category.id_categoria}"></td>
                <td th:text="${category.nombre}"></td>
                <td>
                    <a class="text-decoration-none text-white text-end" th:href="@{'/restaurant/admin/category/'+${category.id_categoria}+'/dishes'}"><button type='button' class='editar btn btn-primary'><i class="bi bi-pencil"></i></button></a>
                    <button type='button' class='eliminar btn btn-danger text-end' onclick="loadModalEliminar()"><i class="bi bi-trash-fill"></i></button>
                </td>
            </tr>
            </tbody>
        </table>
        <a th:href="@{'/restaurant/admin/card/'+ ${carta.id_carta} +'/category/create'}"><button class="btn btn-primary mt-2" th:text="#{card.button.create.category}"></button></a>
        <a th:href="@{'/restaurant/admin/' + ${carta.restaurant.id_restaurante} + '/cards'}"><button class="btn btn-secondary mt-2" th:text="#{button.return}"></button></a>
    </div>

    <div th:insert="shared/modals/modal_eliminar :: section"/>
</main>

<div th:insert="card_modify :: main"/>

<footer th:insert="shared/footer :: body" class="mt-auto fot"></footer>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/headerv2.js}"></script>
<script th:src="@{/js/asideVersionScroll.js}"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

<script>

    var data;
    var tablee;

    $(document).ready(function() {
        listar();
    });

    var listar = function(){
        var card_table = $("#card_table").DataTable({

        });
        obtener_data("#card_table", card_table, "button.eliminar");
        obtener_data("#card_table", card_table, "button.editar");
    }

    function loadModalEliminar(){
        $("#modalEliminar").modal("show");
    }

    var obtener_data = function(tbody, table, tag){
        $(tbody).on("click", tag, function(){
            data = table.row( $(this).parents("tr")).data();
            tablee = table.row( $(this).parents("tr"));
        });
    }

    $('#eliminarbutton').click( function () {
        obtener_data("#card_table", card_table, "button.eliminar");
        var id = data[0];
        var link = "/restaurant/admin/category/delete/" + id;
        $.ajax(link);
        tablee.remove().draw();
        $("#modalEliminar").modal("hide");
    });

</script>
</body>
</html>