<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit cards</title>
    <link th:href="@{/css/custom.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="shared/header :: header"/>

<main class="mt-5 pt-5 mx-auto w-50">
    <h3 class="mt-4">Crear Producto</h3>
    <form method="post" class="mt-3 ms-3" th:action="@{'/restaurant/admin/card/'+ ${id} +'/category/create' }" enctype="multipart/form-data">
        <label class="my-1">Nombre de la Categoria: </label></br>
        <input type="text" id="name" name="name" class="mb-4"/></br>

        <button type="submit" class="mt-3 btn btn-primary">Submit</button>
    </form>
</main>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/header.js}"></script>
</body>
</html>