<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit cards</title>
    <link th:href="@{/css/custom.css}" rel="stylesheet"/>
    <link th:href="@{/css/create_dish.css}" rel="stylesheet"/>
    <link th:href="@{/css/form.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="shared/headerVersion2 :: header"/>

<div class="container my-5">
    <div class="row justify-content-center">
        <a class="col-lg-3 col-md-4 col-sm-6 col-12 my-1 justify-content-center" th:href="@{'/restaurant/admin/category/' + ${plato.categoria.id_categoria} + '/dishes'}">
            <button class="w-100 pt-2 pb-2 paraf_form rounded" value="Editar Platos"> Volver a las Categorias </button>
        </a>
    </div>
</div>

<hr class="w-75 mx-auto">

<main class="d-flex flex-row justify-content-center">

    <div class="form_section w-75 py-5 my-5">
    <form method="post" class="container form_container" th:action="@{'/restaurant/admin/'+ ${plato.categoria.id_categoria} +'/dish/save' }" enctype="multipart/form-data">

        <div class="tittle_form text-center">
            <h1 th:if="${plato.id_plato != null}"> Editar Plato </h1>
            <h1 th:unless="${plato.id_plato != null}"> Crear Plato </h1>
        </div>

        <div class="body_form">
            <div class="container">
                <div class="row justify-content-md-center">
            <div th:if="${plato.id_plato != null}" class="d-flex justify-content-center col-6">
                <div class="mb-3 p-0 text-center" style="width: 100%">
                    <div class="ps-3 paraf_form">Id:</div>
                    <label class="w-100 field_form_principal p-0">
                        <input class="input-text" id="id_plato" name="id_plato" th:value="${plato.id_plato}" type="text" readonly>
                    </label>
                </div>
            </div>

            <div class="d-flex justify-content-center col-6">
                <div class="mb-3 p-0 text-center" style="width: 100%">
                    <div class="ps-3 paraf_form">Nombre del Plato:</div>
                    <label class="w-100 field_form_principal p-0">
                        <input class="input-text" id="nombre" name="nombre" th:value="${plato.nombre}" type="text" maxlength="50" required>
                    </label>
                    <div th:if="${error != null && error.containsKey('nombre')}" th:text="${error.nombre}" style="font-size: 14px; color: red;"></div>
                </div>
            </div>


            <div class="d-flex justify-content-center col-6">
                <div class="mb-3 p-0 text-center" style="width: 100%">
                    <div class="ps-3 paraf_form">Precio del Plato:</div>
                    <label class="w-100 field_form_principal p-0">
                        <input type="float" step="0.01" class="input-text" id="precio" name="precio" th:value="${plato.precio}" >
                    </label>
                    <div th:if="${error != null && error.containsKey('precio')}" th:text="${error.precio}" style="font-size: 14px; color: red;"></div>
                </div>
            </div>

            <div class="d-flex justify-content-center col-6">
                <div class="mb-3 p-0 text-center" style="width: 100%">
                    <div class="ps-3 paraf_form">Descripción del Plato:</div>
                    <label class="w-100 field_form_principal p-0">
                        <textarea class="input-text" id="descripcion" name="descripcion" th:text="${plato.descripcion}" required></textarea>
                    </label>
                    <div th:if="${error != null && error.containsKey('descripcion')}" th:text="${error.descripcion}" style="font-size: 14px; color: red;"></div>
                </div>
            </div>
                </div>
            </div>

            <div class="tittle_form text-center">
                <h1 class="mt-3">Alergenos del Plato</h1>
            </div>

        <ul class="d-flex justify-content-center flex-wrap mx-auto">
            <li>
                <input type="checkbox" id="cb1" name="cb1" value="1"/>
                <label for="cb1"><img th:src="@{/img/alergenos/gluten.png}" alt="gluten" class="rounded-3"/></label>
            </li>
            <li>
                <input type="checkbox" id="cb2" name="cb2" value="2"/>
                <label for="cb2"><img th:src="@{/img/alergenos/crustaceos.png}" alt="crustaceos" class="rounded-3"/></label>
            </li>
            <li>
                <input type="checkbox" id="cb3" name="cb3" value="3"/>
                <label for="cb3"><img th:src="@{/img/alergenos/huevos.png}" alt="huevos" class="rounded-3"/></label>
            </li>
            <li>
                <input type="checkbox" id="cb4" name="cb4" value="4"/>
                <label for="cb4"><img th:src="@{/img/alergenos/pescado.png}" alt="pescado" class="rounded-3"/></label>
            </li>
            <li>
                <input type="checkbox" id="cb5" name="cb5" value="5"/>
                <label for="cb5"><img th:src="@{/img/alergenos/cacahuete.png}" alt="cacahuete" class="rounded-3"/></label>
            </li>
            <li>
                <input type="checkbox" id="cb6" name="cb6" value="6"/>
                <label for="cb6"><img th:src="@{/img/alergenos/soja.png}" alt="soja" class="rounded-3"/></label>
            </li>
            <li>
                <input type="checkbox" id="cb7" name="cb7" value="7"/>
                <label for="cb7"><img th:src="@{/img/alergenos/lacteos.png}" alt="lacteos" class="rounded-3"/></label>
            </li>
            <li>
                <input type="checkbox" id="cb8" name="cb8" value="8"/>
                <label for="cb8"><img th:src="@{/img/alergenos/frutos_secos.png}" alt="frutos_secos" class="rounded-3"/></label>
            </li>
            <li>
                <input type="checkbox" id="cb9" name="cb9" value="9"/>
                <label for="cb9"><img th:src="@{/img/alergenos/apio.png}" alt="apio" class="rounded-3"/></label>
            </li>
            <li>
                <input type="checkbox" id="cb10" name="cb10" value="10"/>
                <label for="cb10"><img th:src="@{/img/alergenos/mostaza.png}" alt="mostaza" class="rounded-3"/></label>
            </li>
            <li>
                <input type="checkbox" id="cb11" name="cb11" value="11"/>
                <label for="cb11"><img th:src="@{/img/alergenos/sesamo.png}" alt="sesamo" class="rounded-3"/></label>
            </li>
            <li>
                <input type="checkbox" id="cb12" name="cb12" value="12"/>
                <label for="cb12"><img th:src="@{/img/alergenos/so2.png}" alt="so2" class="rounded-3"/></label>
            </li>
            <li>
                <input type="checkbox" id="cb13" name="cb13" value="13"/>
                <label for="cb13"><img th:src="@{/img/alergenos/altramuces.png}" alt="altramuces" class="rounded-3"/></label>
            </li>
            <li>
                <input type="checkbox" id="cb14" name="cb14" value="14"/>
                <label for="cb14"><img th:src="@{/img/alergenos/moluscos.png}" alt="moluscos" class="rounded-3"/></label>
            </li>
        </ul>

            <div class="d-none" th:each="alergeno : ${plato.alergenos}">
                <span  th:id="${alergeno.id_alergeno}" th:text="${alergeno.id_alergeno}"></span>
            </div>

            <div class="tittle_form text-center mb-2">
                <h1 class="mt-3">Ingredientes del Plato</h1>
            </div>

            <div class="container">
                <div class="row justify-content-md-center w-75 mx-auto">
                    <div class="col-9">
                    <div class="d-flex justify-content-center col-12">
                        <div class="mb-3 p-0 text-left" style="width: 100%">
                            <div class="ps-3 paraf_form">Busca tus Ingredientes</div>
                            <label class="w-100 field_form_principal p-0">
                                <input class="input-text" id="formulario" type="text"/>
                            </label>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center col-12">
                        <div class="mb-3 p-0 text-left" style="width: 100%">
                            <div class="ps-3 paraf_form">Busca tus Ingredientes</div>
                            <label class="w-100 field_form_principal p-0">
                                <ul id="resultado" class="mt-2" style="height: 180px;">

                                </ul>
                            </label>
                        </div>
                    </div>

                    </div>

                    <div class="d-flex justify-content-center col-3">
                        <div class="mb-3 p-0 text-left" style="width: 100%">
                            <div class="ps-3 paraf_form">Ingredientes:</div>
                            <ul id="ingredientes" class="mt-2 w-100 ms-1 ps-1 field_form_principal text-left p-0 ">
                                <li th:each="ingrediente : ${plato.ingredientes}" style="z-index: 2;" th:id="${ingrediente.nombre}"
                                    th:inline="text" th:attr="onclick=|eliminar('${ingrediente.nombre}')|"  class="w-100 my-1 text-left"><i class="bi bi-x me-2"></i> [[${ingrediente.nombre}]]
                                <input type="text" class="d-none" name="ingredientes" th:value="${ingrediente.id_ingrediente}"/></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="pt-3 row d-flex flex-row justify-content-center gap-5">
                <input class="w-20 pt-2 pb-2 paraf_form rounded" type="submit" value="Submit" />
            </div>

        </div>
    </form>

    </div>

</main>


<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/header.js}"></script>

<script>
    var ingredientes;
    $(document).ready(function() {
        for(var x = 1 ; x <= 14 ; x++){
            var myId = document.getElementById(x);
            if(myId){
                var myId = $("#"+x).text();
                var id = "cb" + myId;
                $("#" + id).prop('checked', true);
            }
        }

        $.ajax({url: "/api/ingredients/", success: function(result){
                ingredientes = result;
                //console.log(ingredientes[1].nombre);
                filtrar();
            }});
    });
    const formulario = document.querySelector('#formulario');
    const resultado =document.querySelector('#resultado');
    const ingredientesLista =document.querySelector('#ingredientes');

    const filtrar = ()=>{
        //console.log(formulario.value);
        resultado.innerHTML = '';
        const texto = formulario.value.toLowerCase();
        var n = 0;
        for(let ingredient of ingredientes){
            let nombre = ingredient.nombre.toLowerCase();
            if(nombre.indexOf(texto) !== -1 && n < 6){
                resultado.innerHTML += `
                    <li style="z-index: 2;" id="lista" onclick="insertar('${ingredient.nombre}','${ingredient.id_ingrediente}')" class="w-100 my-1"><i class="bi bi-caret-up-fill me-2"></i>${ingredient.nombre}</li>
                `;
                n++
            }
        }

        if(resultado.innerHTML === ''){
            resultado.innerHTML += `
                <li onclick="crear()">Ingrediente no encontrado... Pulsa aqui para crearlo</li>
            `
        }

    }

    formulario.addEventListener('keyup', filtrar);

    function insertar(nombre, id) {
        var testData = document.getElementById(nombre);
        if (!testData) {
        ingredientesLista.innerHTML += `
                    <li style="z-index: 2;" id="${nombre}" onclick="eliminar('${nombre}')" class="w-100 my-1 text-left"><i class="bi bi-x me-2"></i>${nombre}
                    <input type="text" class="d-none" name="ingredientes" value="${id}"/></li>
                `;
        }
    }

    function eliminar(nombre){
        var testData = document.getElementById(nombre);
        testData.remove();
    }

    function crear(){
        const texto = formulario.value.toLowerCase();
        $.ajax({url: "/api/ingredients/"+texto.charAt(0).toUpperCase() + texto.slice(1), success: function(result){
                ingredientes = result;
                filtrar();
            }});
    }

</script>
</body>
</html>