<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link th:href="@{/css/custom.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<!-- Header -->
<header id="header1" class="w-100 bg-front m-0">
    <div class="h-100 pt-2 pb-2 margin-nav-header1">
        <nav class="h-100 navbar navbar-light p-0 d-flex justify-content-lg-end justify-content-center border-e-grey">
            <a class="nav-link size-header1 d-lg-none d-block text-white align-self-center p-0 pe-3 ps-3" href="#">Buscadar Avanzado</a>
            <a class="nav-link size-header1 text-white align-self-center p-0 pe-3 ps-3" href="#">Preguntas</a>
            <a class="nav-link size-header1 text-white align-self-center p-0 pe-3 ps-3" href="#">Quien Somos?</a>
        </nav>
    </div>
</header>
<header id="header2" class="sticky-top w-100">
    <nav class="navbar navbar-expand-lg navbar-light h-100">
        <div class="container-fluid flex-row h-100 w-100 p-0">
            <div class="d-xl-none d-block h-100 col-lg-4 col-3 d-flex flex-row justify-content-center">
                <button id="navbar-button-header" class="align-self-center border-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#offCanvasHeader" aria-controls="offCanvasHeader">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line" style="margin-bottom: 0;"></span>
                </button>
            </div>
            <div class="col-xl-3 col-sm-4 col-5 h-100">
                <div class="h-100 w-100 d-flex flex-row justify-content-center">
                    <img id="logoHeader1" class="h-100 align-self-center" th:src="@{/img/ies_manacor_black.png}" alt="ies">
                    <img id="logoHeader2" class="h-100 align-self-center" th:src="@{/img/ies_manacor_white.png}" alt="ies">
                </div>
            </div>
            <div class="col-lg-6 d-xl-block d-none h-100 p-0">
                <nav id="navbarContent" class="h-100 d-flex flex-row justify-content-center navbar navbar-light fw-bold">
                    <a class="align-self-center p-0 pe-3 ps-3" href="#">Casa</a>
                    <a class="align-self-center p-0 pe-3 ps-3" href="#">Crear Restaurante</a>
                    <a class="align-self-center p-0 pe-3 ps-3" href="#">Mis Reservas</a>
                </nav>
                <section id="buscadorHeaderTop" class="d-none w-100 h-100 m-0 p-0 flex-row justify-content-center mt-2 mb-5">
                    <div id="buscadorTop" class="w-100 h-100 m-0">
                        <div class="background-search d-flex flex-row rounded-pill border border-2" style="height: 75px">
                            <div class="w-30 h-100 rounded-pill">
                                <button class="localidad bg-items text-start button-search-s1 border-0 h-100 w-100 p-0 rounded-pill ps-2" data-bs-toggle="modal" data-bs-target="#staticLocalizacion">
                                    <div class="container_search w-100">
                                        <div class="title_search">Localizacion</div>
                                        <div class="description_search w-100">¿A donde?</div>
                                    </div>
                                </button>
                            </div>
                            <div class="separator1 border-end border-2 mt-3 mb-3 border-grey-100"><!-- Separator --></div>
                            <div class="w-20 h-100 rounded-pill">
                                <button class="llegada bg-items button-search-s1 border-0 h-100 w-100 p-0 text-start rounded-pill" data-bs-toggle="modal" data-bs-target="#staticHora">
                                    <div class="container_search w-100">
                                        <div class="title_search">Hora</div>
                                        <div class="description_search w-100">¿Que hora?</div>
                                    </div>
                                </button>
                            </div>
                            <div class="separator2 border-end border-2 mt-3 mb-3 border-grey-100"><!-- Separator --></div>
                            <div class="w-20 h-100 rounded-pill">
                                <button class="salida bg-items button-search-s1 border-0 h-100 w-100 p-0 text-start rounded-pill" data-bs-toggle="modal" data-bs-target="#staticDia">
                                    <div class="container_search w-100">
                                        <div class="title_search">Dia</div>
                                        <div class="description_search w-100">¿Que dia?</div>
                                    </div>
                                </button>
                            </div>
                            <div class="separator3 border-end border-2 mt-3 mb-3 border-grey-100"><!-- Separator --></div>
                            <div class="w-30 h-100 rounded-pill">
                                <button class="etiqueta bg-items button-search-s1 border-0 h-100 w-100 p-0 text-start rounded-pill" data-bs-toggle="modal" data-bs-target="#staticEtiquetas">
                                    <div class="container_search w-100">
                                        <div class="title_search">Etiquetas</div>
                                        <div class="description_search w-100">¿Que te gusta?</div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <form class="col-lg-3 col-4 d-flex flex-row justify-content-end">
                <i class="bi bi-shop fs-3 pe-xl-5 pe-3 align-self-center"></i>
                <i class="bi bi-person-fill fs-3 pe-xl-5 pe-3 align-self-center"></i>
                <i class="bi bi-globe fs-3 pe-xl-5 pe-3 align-self-center"></i>
            </form>
        </div>
    </nav>
    <section id="buscadorHeader" class="d-xl-flex d-none w-100 h-100 m-0 p-0 flex-row justify-content-center mt-2">
        <div id="buscador" class="h-100 m-0">
            <div class="background-search d-flex flex-row rounded-pill border border-2" style="height: 75px">
                <div class="w-30 h-100 rounded-pill">
                    <button class="localidad bg-items text-start button-search-s1 border-0 h-100 w-100 p-0 rounded-pill ps-2" data-bs-toggle="modal" data-bs-target="#staticLocalizacion">
                        <div class="container_search w-100">
                            <div class="title_search">Localizacion</div>
                            <div class="description_search w-100">¿A donde?</div>
                        </div>
                    </button>
                </div>
                <div class="separator1 border-end border-2 mt-3 mb-3 border-grey-100"><!-- Separator --></div>
                <div class="w-20 h-100 rounded-pill">
                    <button class="llegada bg-items button-search-s1 border-0 h-100 w-100 p-0 text-start rounded-pill" data-bs-toggle="modal" data-bs-target="#staticHora">
                        <div class="container_search w-100">
                            <div class="title_search">Hora</div>
                            <div class="description_search w-100">¿Que hora?</div>
                        </div>
                    </button>
                </div>
                <div class="separator2 border-end border-2 mt-3 mb-3 border-grey-100"><!-- Separator --></div>
                <div class="w-20 h-100 rounded-pill">
                    <button class="salida bg-items button-search-s1 border-0 h-100 w-100 p-0 text-start rounded-pill" data-bs-toggle="modal" data-bs-target="#staticDia">
                        <div class="container_search w-100">
                            <div class="title_search">Dia</div>
                            <div class="description_search w-100">¿Que dia?</div>
                        </div>
                    </button>
                </div>
                <div class="separator3 border-end border-2 mt-3 mb-3 border-grey-100"><!-- Separator --></div>
                <div class="w-30 h-100 rounded-pill">
                    <button class="etiqueta bg-items button-search-s1 border-0 h-100 w-100 p-0 text-start rounded-pill" data-bs-toggle="modal" data-bs-target="#staticEtiquetas">
                        <div class="container_search w-100">
                            <div class="title_search">Etiquetas</div>
                            <div class="description_search w-100">¿Que te gusta?</div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </section>
</header>
<!-- Modal Localizacion -->
<div class="modal fade" style="top: 100px" id="staticLocalizacion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticLocalizacionLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rounded rounded-2">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title text-center nav-header-text-2" id="staticLocalizacionLabel">Buscar Por Localizacion</h5>
            </div>
            <div class="modal-body w-100 h-100 p-0 rounded-pill">
                <label class="w-100 h-100 ps-3 pe-3">
                    <input class="w-100 h-100 p-2 ps-5 rounded-pill" type="text">
                </label>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Buscar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Hora -->
<div class="modal fade" style="top: 100px" id="staticHora" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticHoraLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h5 class="modal-title nav-header-text-2" id="staticHoraLabel">Buscar Hora Apertura</h5>
            </div>
            <div class="modal-body d-flex flex-row justify-content-between">
                <label class="d-flex flex-column w-40">
                    Hora
                    <select class="form-select form-select-sm" id="hora">
                    </select>
                </label>
                <label class="d-flex flex-column w-40">
                    Minutos
                    <select class="form-select form-select-sm" id="minutos">
                    </select>
                </label>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Buscar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Dia -->
<div class="modal fade" id="staticDia" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticDiaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticDiaLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Calendario plug in
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Etiquetas -->
<div class="modal fade" id="staticEtiquetas" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticEtiquetasLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticEtiquetasLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Select etiquetas
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>

<section class="offcanvas offcanvas-start" tabindex="-1" id="offCanvasHeader" aria-labelledby="offCanvasHeaderLabel">
    <div class="offcanvas-header d-flex flex-row justify-content-end">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

    </div>
</section>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script>
    // Cambios con el buscador pill
    let localidad = $(".localidad");
    let llegada = $(".llegada");
    let salida = $(".salida");
    let etiqueta = $(".etiqueta");

    let separator1 = $(".separator1");
    let separator2 = $(".separator2");
    let separator3 = $(".separator3");

    localidad.hover(function () {
        separator1.css("visibility","hidden");
    });
    localidad.mouseleave(function () {
        separator1.css("visibility","visible");
    });

    llegada.hover(function () {
        separator1.css("visibility","hidden");
        separator2.css("visibility","hidden");
    });
    llegada.mouseleave(function () {
        separator1.css("visibility","visible");
        separator2.css("visibility","visible");
    });

    salida.hover(function () {
        separator2.css("visibility","hidden");
        separator3.css("visibility","hidden");
    });
    salida.mouseleave(function () {
        separator2.css("visibility","visible");
        separator3.css("visibility","visible");
    });

    etiqueta.hover(function () {
        separator3.css("visibility","hidden");
    });
    etiqueta.mouseleave(function () {
        separator3.css("visibility","visible");
    });

    //Changes on header variables
    let header = $("#header2");
    let headerItems1 = $("#header2 form .bi");
    let headerItems2 = $("#navbar-button-header");
    let headerItems3 = $("#navbarContent a");
    let logoHeader1 = $("#logoHeader1");
    let logoHeader2 = $("#logoHeader2");

    let buscadorHeader = $("#buscadorHeader");
    let navbarContent = $("#navbarContent");
    let buscadorHeaderTop1 = $("#buscadorHeaderTop");

    window.onload = function () {
        if ($(window).scrollTop() < 40) {
            onTop();
            apareceSearchBottom();
        } else {
            onScrollHeader();
            desapareceSearchBottom();
        }
    }
    window.onscroll = function() {
        var distanceScrolled = document.documentElement.scrollTop;
        if (distanceScrolled < 40) {
            onTop();
            apareceSearchBottom();
        } else {
            onScrollHeader();
            desapareceSearchBottom();
        }
    }

    // Buscador header cambio de colores
    function onTop() {
        header.addClass("nav-header-bg-1");
        header.removeClass("nav-header-bg-2");
        headerItems1.addClass("nav-header-text-2");
        headerItems1.removeClass("nav-header-text-1");
        headerItems2.addClass("navbar-toggler-t2");
        headerItems2.removeClass("navbar-toggler-t1");
        headerItems3.addClass("nav-header-text-2");
        headerItems3.removeClass("nav-header-text-1");
        logoHeader1.css("display","block");
        logoHeader2.css("display","none");
    }
    function onScrollHeader() {
        header.addClass("nav-header-bg-2");
        header.removeClass("nav-header-bg-1");
        headerItems1.addClass("nav-header-text-1");
        headerItems1.removeClass("nav-header-text-2");
        headerItems2.addClass("navbar-toggler-t1");
        headerItems2.removeClass("navbar-toggler-t2");
        headerItems3.addClass("nav-header-text-1");
        headerItems3.removeClass("nav-header-text-2");
        logoHeader1.css("display","none");
        logoHeader2.css("display","block");
    }

    // Buscador header arriba o abajo
    function apareceSearchBottom() {
        buscadorHeader.addClass("d-xl-flex");
        navbarContent.removeClass("d-none");
        buscadorHeaderTop1.removeClass("d-xl-flex");
    }
    function desapareceSearchBottom() {
        buscadorHeader.removeClass("d-xl-flex");
        navbarContent.addClass("d-none");
        buscadorHeaderTop1.addClass("d-xl-flex");
    }

    //Modal hora
    var hora = $("#hora");
    var minutos = $("#minutos");

    for (let i = 0; i < 24; i++) {
        hora.append("<option value='"+i+"'>"+i+"</option>")
    }
    for (let i = 0; i < 60; i++) {
        minutos.append("<option value='"+i+"'>"+i+"</option>")
    }
</script>
</body>
</html>