<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link th:href="@{/css/custom.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<!-- Header -->
<header id="header1" class="w-100 bg-front m-0">
    <div class="h-100 pt-2 pb-2 margin-nav-header1">
        <nav class="h-100 navbar navbar-light p-0 d-flex justify-content-lg-end justify-content-center border-e-grey">
            <a class="nav-link size-header1 d-lg-none d-block text-white align-self-center p-0 pe-3 ps-3" href="#">Buscadar Avanzado</a>
            <a class="nav-link size-header1 text-white align-self-center p-0 pe-3 ps-3" href="#">Preguntas</a>
            <a class="nav-link size-header1 text-white align-self-center p-0 pe-3 ps-3" href="#">Quien Somos?</a>
        </nav>
    </div>
</header>
<header id="header2" class="sticky-top w-100">
    <nav class="navbar navbar-expand-lg navbar-light h-100">
        <div class="container-fluid flex-row h-100 w-100 p-0">
            <div class="d-lg-none d-block h-100 col-sm-4 col-3 d-flex flex-row justify-content-center">
                <button id="navbar-button-header" class="align-self-center border-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#offCanvasHeader" aria-controls="offCanvasHeader">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line" style="margin-bottom: 0;"></span>
                </button>
            </div>
            <div class="col-lg-3 col-sm-4 col-5 h-100">
                <div class="h-100 w-100 d-flex flex-row justify-content-center">
                    <img id="logoHeader1" class="h-100 align-self-center" th:src="@{/img/ies_manacor_black.png}" alt="ies">
                    <img id="logoHeader2" class="h-100 align-self-center" th:src="@{/img/ies_manacor_white.png}" alt="ies">
                </div>
            </div>
            <div id="navbarContent" class="col-lg-6 d-lg-block d-none h-100 p-0">
                <nav class="h-100 d-flex flex-row justify-content-center navbar navbar-light fw-bold">
                    <a class="align-self-center p-0 pe-3 ps-3" href="#">Casa</a>
                    <a class="align-self-center p-0 pe-3 ps-3" href="#">Crear Restaurante</a>
                    <a class="align-self-center p-0 pe-3 ps-3" href="#">Mis Reservas</a>
                </nav>
            </div>
            <form class="col-lg-3 col-4 d-flex flex-row justify-content-end">
                <i class="bi bi-shop fs-3 pe-lg-5 pe-3 align-self-center"></i>
                <i class="bi bi-person-fill fs-3 pe-lg-5 pe-3 align-self-center"></i>
                <i class="bi bi-globe fs-3 pe-lg-5 pe-3 align-self-center"></i>
            </form>
        </div>
    </nav>
</header>
<section class="offcanvas offcanvas-start" tabindex="-1" id="offCanvasHeader" aria-labelledby="offCanvasHeaderLabel">
    <div class="offcanvas-header d-flex flex-row justify-content-end">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

    </div>
</section>

<section class="d-lg-flex d-none w-100 h-100 m-0 p-0 flex-row justify-content-center">
    <div class="w-50 h-100 m-0">
        <div class="bg-white d-flex flex-row rounded-pill border border-2" style="height: 65px">
            <div class="w-30 h-100 rounded-pill">
                <button id="localidad" class="bg-white border-0 h-100 w-100 p-0 text-start rounded-pill ps-5" onclick="openDestino()">
                    <a class="text-black text-decoration-none fw-bold" style="font-size: 14px">Destino</a><br>
                    <a class="text-secondary text-decoration-none" style="font-size: 14px">¿A dónde viajas?</a>
                </button>
            </div>
            <div class="border-end border-2 border-secondary mt-3 mb-3"><!-- Separator --></div>
            <div id="llegada" class="w-20 h-100 rounded-pill">

            </div>
            <div class="border-end border-2 border-secondary mt-3 mb-3"><!-- Separator --></div>
            <div id="salida" class="w-20 h-100 rounded-pill">

            </div>
            <div class="border-end border-2 border-secondary mt-3 mb-3"><!-- Separator --></div>
            <div id="buscar"  class="w-30 h-100 rounded-pill">

            </div>
        </div>
    </div>
</section>
<section class="d-lg-flex d-none w-100 h-100 m-0 p-0 flex-row justify-content-center">
    <div class="w-50 h-100 m-0">
        <div class="bg-black d-flex flex-row rounded-pill border border-2" style="height: 65px">
            <div class="w-30 h-100 rounded-pill">
                <button id="localidad1" class="border-0 h-100 w-100 p-0 text-start rounded-pill ps-5" onclick="openDestino()">
                    <a class="text-white text-decoration-none fw-bold" style="font-size: 14px">Destino</a><br>
                    <a class="text-secondary text-decoration-none" style="font-size: 14px">¿A dónde viajas?</a>
                </button>
            </div>
            <div class="border-end border-2 border-secondary mt-3 mb-3"><!-- Separator --></div>
            <div id="llegada2" class="w-20 h-100 rounded-pill">

            </div>
            <div class="border-end border-2 border-secondary mt-3 mb-3"><!-- Separator --></div>
            <div id="salida3" class="w-20 h-100 rounded-pill">

            </div>
            <div class="border-end border-2 border-secondary mt-3 mb-3"><!-- Separator --></div>
            <div id="buscar4"  class="w-30 h-100 rounded-pill">

            </div>
        </div>
    </div>
</section>
<section class="w-100 h-100 p-0 m-0 ">
    <div id="localidadCard"></div>
</section>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script>
    //Changes on home
    function openDestino() {

    }
</script>
<script>
    //Changes on header
    var header = $("#header2");
    var headerItems1 = $("#header2 .bi");
    var headerItems2 = $("#navbar-button-header");
    var headerItems3 = $("#navbarContent nav a");
    var logoHeader1 = $("#logoHeader1");
    var logoHeader2 = $("#logoHeader2");

    window.onload = function () {
        if ($(window).scrollTop() < 40) {
            onTop();
        } else {
            onScrollHeader();
        }
    }
    window.onscroll = function() {
        var distanceScrolled = document.documentElement.scrollTop;
        if (distanceScrolled < 40) {
            onTop();
        } else {
            onScrollHeader();
        }
    }

    function onTop() {
        header.addClass("nav-header-bg-1");
        header.removeClass("nav-header-bg-2");
        headerItems1.addClass("nav-header-text-2");
        headerItems1.removeClass("nav-header-text-1");
        headerItems2.addClass("navbar-toggler-t2");
        headerItems2.removeClass("navbar-toggler-t1");
        headerItems3.addClass("nav-header-text-2");
        headerItems3.removeClass("nav-header-text-1");
        logoHeader1.css("display","block");
        logoHeader2.css("display","none");
    }
    function onScrollHeader() {
        header.addClass("nav-header-bg-2");
        header.removeClass("nav-header-bg-1");
        headerItems1.addClass("nav-header-text-1");
        headerItems1.removeClass("nav-header-text-2");
        headerItems2.addClass("navbar-toggler-t1");
        headerItems2.removeClass("navbar-toggler-t2");
        headerItems3.addClass("nav-header-text-1");
        headerItems3.removeClass("nav-header-text-2");
        logoHeader1.css("display","none");
        logoHeader2.css("display","block");
    }
</script>
</body>
</html>