<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{card.modify.meta}"></title>
    <link th:href="@{/css/custom.css}" rel="stylesheet"/>
    <link th:href="@{/css/card_modify.css}" rel="stylesheet"/>
    <link th:href="@{/css/form.css}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="d-flex flex-column min-vh-100">
<div th:insert="shared/headerVersion2 :: header(${horario.periodo.restaurant})"/>

<div class="container my-5">
    <div class="row justify-content-center">
        <a class="col-lg-3 col-md-4 col-sm-6 col-12 my-1 justify-content-center" th:href="@{'/restaurant/admin/periodo/horario/' + ${horario.periodo.id_periodo}}">
            <button class="w-100 pt-2 pb-2 paraf_form rounded" value="Editar Platos" th:text="#{hours.return}"></button>
        </a>
    </div>
</div>

<hr class="w-75 mx-auto">

<main class="d-flex flex-row justify-content-center">

    <div class="form_section col-sm-12 col-md-6 py-5 my-5">
        <form method="post" class="container form_container" th:action="@{'/restaurant/admin/periodo/horario/save/'+ ${horario.periodo.id_periodo}}">

            <div class="tittle_form">
                <h1 class="text-center" th:if="${horario.id_horario != null}" th:text="#{hours.edit}"></h1>
                <h1 class="text-center" th:unless="${horario.id_horario != null}" th:text="#{hours.create}"></h1>
            </div>

            <div class="body_form">
                <div class="container">
                    <div class="row justify-content-md-center">

                <div th:if="${horario.id_horario != null}" class="d-none d-flex justify-content-center">
                    <div class="mb-3 p-0 text-center length-card">
                        <div class="paraf_form" th:text="#{hours.id}"></div>
                        <label class="w-100 field_form_principal">
                            <input class="input-text" id="id_horario" name="id_horario" th:value="${horario.id_horario}" type="text" readonly>
                        </label>
                    </div>
                </div>

                <div class="d-flex justify-content-center col-6">
                    <div class="mb-3 p-0 text-center length-card">
                        <div class="paraf_form" th:text="#{hours.start}"></div>
                        <label class="w-100 field_form_principal">
                            <select id="selectStart" class="input-text" name="dateStart">
                                <option value="00:00:00">0:00</option>
                                <option value="01:00:00">1:00</option>
                                <option value="02:00:00">2:00</option>
                                <option value="03:00:00">3:00</option>
                                <option value="04:00:00">4:00</option>
                                <option value="05:00:00">5:00</option>
                                <option value="06:00:00">6:00</option>
                                <option value="07:00:00">7:00</option>
                                <option value="08:00:00">8:00</option>
                                <option value="09:00:00">9:00</option>
                                <option value="10:00:00">10:00</option>
                                <option value="11:00:00">11:00</option>
                                <option value="12:00:00">12:00</option>
                                <option value="13:00:00">13:00</option>
                                <option value="14:00:00">14:00</option>
                                <option value="15:00:00">15:00</option>
                                <option value="16:00:00">16:00</option>
                                <option value="17:00:00">17:00</option>
                                <option value="18:00:00">18:00</option>
                                <option value="19:00:00">19:00</option>
                                <option value="20:00:00">20:00</option>
                                <option value="21:00:00">21:00</option>
                                <option value="22:00:00">22:00</option>
                                <option value="23:00:00">23:00</option>
                            </select>
                        </label>
                    </div>
                </div>

                        <div th:if="${horario != null}" th:text="${horario.getHora_inicio()}" id="start" class="d-none">

                        </div>

                        <div th:if="${horario != null}" th:text="${horario.getHora_fin()}" id="end" class="d-none">

                        </div>

                        <div th:if="${horario != null}" th:text="${horario.getDay()}" id="day" class="d-none">

                        </div>

                <div class="d-flex justify-content-center col-6">
                    <div class="mb-3 p-0 text-center length-card">
                        <div class="paraf_form" th:text="#{hours.end}"></div>
                        <label class="w-100 field_form_principal">
                            <select id="selectEnd" class="input-text" name="dateEnd">
                                <option value="01:00:00">1:00</option>
                                <option value="02:00:00">2:00</option>
                                <option value="03:00:00">3:00</option>
                                <option value="04:00:00">4:00</option>
                                <option value="05:00:00">5:00</option>
                                <option value="06:00:00">6:00</option>
                                <option value="07:00:00">7:00</option>
                                <option value="08:00:00">8:00</option>
                                <option value="09:00:00">9:00</option>
                                <option value="10:00:00">10:00</option>
                                <option value="11:00:00">11:00</option>
                                <option value="12:00:00">12:00</option>
                                <option value="13:00:00">13:00</option>
                                <option value="14:00:00">14:00</option>
                                <option value="15:00:00">15:00</option>
                                <option value="16:00:00">16:00</option>
                                <option value="17:00:00">17:00</option>
                                <option value="18:00:00">18:00</option>
                                <option value="19:00:00">19:00</option>
                                <option value="20:00:00">20:00</option>
                                <option value="21:00:00">21:00</option>
                                <option value="22:00:00">22:00</option>
                                <option value="23:00:00">23:00</option>
                                <option value="24:00:00">24:00</option>
                            </select>
                        </label>
                    </div>
                </div>



                <div th:if="${horario.id_horario != null}" class="d-flex justify-content-center col-9">
                    <div class="mb-3 p-0 text-center length-card">
                        <div class="paraf_form" th:text="#{hours.change.day}"></div>
                        <label class="w-100 field_form_principal">
                            <select id="selectDay" class="input-text" name="dateChange">
                                <option value="Lunes" th:text="#{hours.monday}"></option>
                                <option value="Martes" th:text="#{hours.tuesday}"></option>
                                <option value="Miercoles" th:text="#{hours.wednesday}"></option>
                                <option value="Jueves" th:text="#{hours.thursday}"></option>
                                <option value="Viernes" th:text="#{hours.friday}"></option>
                                <option value="Sabado" th:text="#{hours.saturday}"></option>
                                <option value="Domingo" th:text="#{hours.sunday}"></option>
                            </select>
                        </label>
                        <div th:if="${error != null}" th:text="${error}" style="font-size: 14px; color: red;"></div>
                    </div>
                </div>

                        <div class="form-check text-start ms-3 d-none">
                            <input class="form-check-input" type="checkbox" value="nada" name="checkbox" checked id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                <div th:text="#{hours.nothing}"></div>
                            </label>
                        </div>

                        <div th:unless="${horario.id_horario != null}" class="d-flex justify-content-center col-6">
                            <div class="mb-3 p-0 text-center length-card">
                                <div class="paraf_form" th:text="#{hours.select.days}"></div>
                                <label class="w-100 field_form_principal">
                                    <div class="form-check text-start ms-3 my-1">
                                        <input class="form-check-input" type="checkbox" value="Lunes" name="checkbox" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            <div th:text="#{hours.monday}"></div>
                                        </label>
                                    </div>
                                    <div class="form-check text-start ms-3">
                                        <input class="form-check-input" type="checkbox" value="Martes" name="checkbox" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            <div th:text="#{hours.tuesday}"></div>
                                        </label>
                                    </div>
                                    <div class="form-check text-start ms-3">
                                        <input class="form-check-input" type="checkbox" value="Miercoles" name="checkbox" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            <div th:text="#{hours.wednesday}"></div>
                                        </label>
                                    </div>
                                    <div class="form-check text-start ms-3">
                                        <input class="form-check-input" type="checkbox" value="Jueves" name="checkbox" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            <div th:text="#{hours.thursday}"></div>
                                        </label>
                                    </div>
                                    <div class="form-check text-start ms-3">
                                        <input class="form-check-input" type="checkbox" value="Viernes" name="checkbox" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            <div th:text="#{hours.friday}"></div>
                                        </label>
                                    </div>
                                    <div class="form-check text-start ms-3">
                                        <input class="form-check-input" type="checkbox" value="Sabado" name="checkbox" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            <div th:text="#{hours.saturday}"></div>
                                        </label>
                                    </div>
                                    <div class="form-check text-start ms-3">
                                        <input class="form-check-input" type="checkbox" value="Domingo" name="checkbox" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            <div th:text="#{hours.sunday}"></div>
                                        </label>
                                    </div>
                                </label>
                                <div th:if="${errorc != null}" th:text="${errorc}" style="font-size: 14px; color: red;"></div>
                            </div>
                        </div>

            </div>
        </div>

                <div class="pt-3 row d-flex flex-row justify-content-center gap-5">
                    <input class="w-20 pt-2 pb-2 paraf_form rounded" type="submit" th:value="#{button.submit}" />
                </div>

            </div>

        </form>
    </div>

</main>

<footer th:insert="shared/footer :: body" class="mt-auto fot"></footer>


<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/headerv2.js}"></script>

<script>
        $("#selectStart").change(function(){
            var h = $("#selectStart option:selected").val();
            var nums = h.split(":");
            var num = nums[0];
            num++;
            $('#selectEnd').find('option').remove().end()
            for(num ; num <= 24 ; num++){
                $('#selectEnd').append("<option value='" + num +":00:00'>" + num + ":00</option>");
            }
        });

        $('document').ready(function(){
            var start = $('#start').text();
            $("#selectStart option[value='"+ start +"']").attr('selected','selected');

            var h = $("#selectStart option:selected").val();
            var nums = h.split(":");
            var num = nums[0];
            num++;
            $('#selectEnd').find('option').remove().end()
            for(num ; num <= 24 ; num++){
                $('#selectEnd').append("<option value='" + num +":00:00'>" + num + ":00</option>");
            }

            var end = $('#end').text();
            if(end == ("00:00:00")){
                end = "24:00:00";
            }
            $("#selectEnd option[value='"+ end +"']").attr('selected','selected');

            var day = $('#day').text();
            $("#selectDay option[value='"+ day +"']").attr('selected','selected');
        });
</script>

</body>
</html>