<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ProvaAndres</title>
    <link th:href="@{/css/custom.css}" rel="stylesheet">
</head>
<body>
<header class="header-top">
    <div class="row w-100 h-100 bg-front">
        <div class="col-lg-3 col-5 h-100">
            <div class="h-100 text-center">
                <img class="h-100 p-3" th:src="@{/img/iesmanacor.png}" alt="ies">
            </div>
        </div>
        <div class="col-lg-6 d-none d-lg-block h-100 align-self-center">
            <nav class="h-100 navbar navbar-light d-flex justify-content-center fw-bold">
                <a class="nav-link text-black" href="home.html">Home</a>
                <a class="nav-link text-black" href="#">Cars</a>
                <a class="nav-link text-black" href="#">Blog</a>
                <a class="nav-link text-black" href="#">Comments</a>
                <a class="nav-link text-black" href="#">Contact</a>
            </nav>
        </div>
        <div class="col-lg-3 col-7 h-100 d-flex flex-row justify-content-evenly">
            <i class="bi bi-basket3 fs-2 align-self-center"></i>
            <i class="bi bi-person-fill fs-2 align-self-center"></i>
            <i class="bi bi-globe fs-2 align-self-center"></i>
        </div>
    </div>
</header>
<!-- Mallorca grid -->
<section class="mw-100 bg-warning" style="height: 90vh">
    <div class="row w-75 align-self-center p-0 m-0 h-100">
        <!-- 1 -->
        <div class="col-1 h-100 p-0">
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0" style="height: 10%">
                <div class="col-6 bg-baleares-contorno">

                </div>
                <div class="col-6 h-100 p-0">
                    <div class="w-50 h-100 p-0 bg-baleares-contorno">

                    </div>
                    <div class="w-50">

                    </div>
                </div>
            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
        </div>
        <!-- 2 -->
        <div class="col-1 h-100 p-0">
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0" style="height: 10%">
                <div class="w-100 h-50 bg-baleares-contorno">

                </div>
                <div class="w-100 h-50 p-0">
                    <div class="w-50 h-100 p-0 bg-baleares-contorno">

                    </div>
                    <div class="w-50">

                    </div>
                </div>
            </div>
            <div class="row m-0" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
        </div>
        <!-- 3 -->
        <div class="col-1 h-100 p-0">
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0" style="height: 10%">

            </div>
            <div class="row m-0" style="height: 10%">

            </div>
            <div class="row m-0" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
        </div>
        <!-- 4 -->
        <div class="col-1 h-100 p-0">
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0" style="height: 10%">

            </div>
            <div class="row m-0" style="height: 10%">

            </div>
            <div class="row m-0" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
        </div>
        <!-- 5 -->
        <div class="col-1 h-100 p-0">
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0" style="height: 10%">

            </div>
            <div class="row m-0" style="height: 10%">

            </div>
            <div class="row m-0" style="height: 10%">

            </div>
            <div class="row m-0" style="height: 10%">

            </div>
            <div class="row m-0" style="height: 10%">

            </div>
            <div class="row m-0" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
        </div>
        <!-- 6 -->
        <div class="col-1 h-100 p-0">
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0" style="height: 10%">

            </div>
            <div class="row m-0" style="height: 10%">

            </div>
            <div class="row m-0" style="height: 10%">

            </div>
            <div class="row m-0" style="height: 10%">

            </div>
            <div class="row m-0" style="height: 10%">

            </div>
            <div class="row m-0" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
        </div>
        <!-- 7 -->
        <div class="col-1 h-100 p-0">
            <div class="row m-0" style="height: 10%">
                <div class="w-100 h-50 p-0 bg-baleares-contorno">

                </div>
                <div class="w-100 h-50 p-0">
                    <div class="w-100 h-50 p-0 bg-baleares-contorno">

                    </div>
                    <div class="w-100 h-50 p-0">

                    </div>
                </div>
            </div>
            <div class="row m-0" style="height: 10%">

            </div>
            <div class="row m-0" style="height: 10%">

            </div>
            <div class="row m-0" style="height: 10%">

            </div>
            <div class="row m-0" style="height: 10%">

            </div>
            <div class="row m-0" style="height: 10%">

            </div>
            <div class="row m-0" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0" style="height: 10%">

            </div>
        </div>
        <!-- 8 -->
        <div class="col-1 h-100 p-0">
            <div class="row m-0" style="height: 10%">
                <div class="w-100 h-50 p-0 bg-baleares-contorno">

                </div>
                <div class="w-100 h-50 p-0">

                </div>
            </div>
            <div class="row m-0" style="height: 10%">

            </div>
            <div class="row m-0" style="height: 10%">

            </div>
            <div class="row m-0" style="height: 10%">

            </div>
            <div class="row m-0" style="height: 10%">

            </div>
            <div class="row m-0" style="height: 10%">

            </div>
            <div class="row m-0" style="height: 10%">

            </div>
            <div class="row m-0" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
        </div>
        <!-- 9 -->
        <div class="col-1 h-100 p-0">
            <div class="row m-0" style="height: 10%">
                <div class="w-100 h-50 p-0">
                    <div class="w-100 h-25 p-0 bg-baleares-contorno">
                    </div>
                    <div class="w-100 h-75 p-0">
                    </div>
                </div>
                <div class="w-100 h-50 p-0">
                    <div class="w-100 h-25 p-0">

                    </div>
                    <div class="w-100 h-75 p-0 bg-baleares-contorno">

                    </div>
                </div>
            </div>
            <div class="row m-0" style="height: 10%">
                <div class="w-100 h-50 p-0">

                </div>
                <div class="w-100 h-50 p-0">
                    <div class="w-100 h-25 p-0">
                    </div>
                    <div class="w-100 h-75 p-0 bg-baleares-contorno">

                    </div>
                </div>
            </div>
            <div class="row m-0" style="height: 10%">
                <div class="w-50 h-100 p-0">
                    <div class="w-100 h-50 bg-baleares-contorno">

                    </div>
                    <div class="w-100 h-50">

                    </div>
                </div>
                <div class="w-50 h-100 bg-baleares-contorno">

                </div>
            </div>
            <div class="row m-0" style="height: 10%">

            </div>
            <div class="row m-0" style="height: 10%">

            </div>
            <div class="row m-0" style="height: 10%">

            </div>
            <div class="row m-0" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
        </div>
        <!-- 10 -->
        <div class="col-1 h-100 p-0">
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0" style="height: 10%">
                <div class="w-50 h-100 bg-baleares-contorno">

                </div>
                <div class="w-50 h-100 p-0 d-flex flex-column">
                    <div class="w-100 h-50 bg-baleares-contorno">

                    </div>
                    <div class="w-100 h-50">

                    </div>
                </div>
            </div>
            <div class="row m-0" style="height: 10%">

            </div>
            <div class="row m-0" style="height: 10%">

            </div>
            <div class="row m-0" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
        </div>
        <!-- 11 -->
        <div class="col-1 h-100 p-0">
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0" style="height: 10%">

            </div>
            <div class="row m-0" style="height: 10%">

            </div>
            <div class="row m-0" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
        </div>
        <!-- 12 -->
        <div class="col-1 h-100 p-0">
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0" style="height: 10%">
                <div class="w-50 h-100">

                </div>
                <div class="w-50 h-100 p-0 d-flex flex-row">
                    <div class="w-50 h-100 d-flex flex-row">
                        <div class="w-50 h-100">
                        </div>
                        <div class="w-50 h-100 bg-baleares-contorno">
                        </div>
                    </div>
                    <div class="w-50 h-100 bg-baleares-contorno">

                    </div>
                </div>
            </div>
            <div class="row m-0" style="height: 10%">
                <div class="w-50 h-100">

                </div>
                <div class="w-50 h-100 p-0 d-flex flex-row">
                    <div class="w-50 h-100 d-flex flex-row">
                        <div class="w-50 h-100">
                        </div>
                        <div class="w-50 h-100 bg-baleares-contorno">
                        </div>
                    </div>
                    <div class="w-50 h-100 bg-baleares-contorno">

                    </div>
                </div>
            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
            <div class="row m-0 bg-baleares-contorno" style="height: 10%">

            </div>
        </div>
    </div>
</section>
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/custom.js}"></script>
</body>
</html>