<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mis Restaurantes</title>
    <link th:href="@{/css/custom.css}" rel="stylesheet">
    <link th:href="@{/css/list_restaurants_useracount.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="d-flex flex-column min-vh-100">
<header th:insert="shared/headerVersion1 :: header" class="sticky-top top-0"></header>
    <h2 class="text-center pt-5 fw-bold title_principal" th:text="#{list.restaurants.title}+' '+${user.nombre_usuario}"></h2>
    <div class="d-flex flex-row justify-content-center w-100 gap-3 fw-bold sub_comment_title">
        <div th:text="#{list.restaurants.sub.title}"></div>
        <div th:text="' '+${restaurantesUser.size()}"></div>
    </div>
    <div class="d-flex justify-content-center">
        <div th:if="${restaurantesUser.size()}!=0" class="container_restaurants">
            <article class="single_restaurant pt-5" th:each="restaurante, iteration : ${restaurantesUser}">
                <a class="text-decoration-none text-black" th:href="@{'/restaurant/update/'+${restaurante.id_restaurante}}">
                    <div class="card">
                        <div th:each="imageSingle, iterationImg : ${ImgImages}">
                            <div th:if="${restaurante.id_restaurante}==${imageSingle.id_restaurant}">
                                <div th:if="${imageSingle.isEmpty()} == false">
                                    <img class="img-restaurant p-3 w-100" th:src="@{${restaurante.getPhotosImagePath()}+${imageSingle.getImgs()[0].url}}" th:alt="#{list.restaurants.image.no.found}">
                                </div>
                                <div th:if="${imageSingle.isEmpty()} == true">
                                    <img class="img-restaurant p-3 w-100" th:src="@{/img/no-photo-available.jpg}" th:alt="#{list.restaurants.image.no.found}">
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="d-flex flex-row justify-content-center">
                                <h4 class="text-center" th:text="${restaurante.nombre}"></h4>
                            </div>
                            <div class="container">
                                <div class="row" th:each="carta : ${cartas}" th:if="${carta.restaurant.id_restaurante}==${restaurante.id_restaurante}">
                                    <div class="col-12">
                                        <div th:if="${carta.hasVisible}==true" class="d-flex flex-row justify-content-center fw-bold gap-2">
                                            <div th:text="#{list.restaurants.active.card}"></div>
                                            <p class="mb-1 fw-normal" th:each="carta1 : ${carta.restaurant.cartas}" th:if="${carta1.visible}==true" th:text="${carta1.nombre}"></p>
                                        </div>
                                    </div>
                                    <div class="col-12" th:if="${carta.isEmpty()}==false">
                                        <div th:if="${carta.hasVisible}==false" class="d-flex flex-row justify-content-center fw-bold gap-2">
                                            <div th:text="#{list.restaurants.active.card}"></div>
                                            <p class="mb-1 fw-normal text-danger fw-bold" th:text="#{list.restaurants.no.active}"></p>
                                        </div>
                                    </div>

                                    <div th:if="${carta.isEmpty()}==true" class="col-12">
                                        <div class="d-flex flex-row justify-content-center text-danger gap-2 fw-bold" th:text="#{list.restaurants.no.cards}"></div>
                                    </div>
                                </div>
                                <div class="row pt-3">
                                    <div class="col-lg-6 d-flex flex-row gap-2 fw-bold">
                                        <div th:text="#{restaurant.form.capacity}"></div>
                                        <p class="mb-1 fw-normal" th:text="${restaurante.aforo}"></p>
                                    </div>
                                    <div class="col-lg-6 d-flex flex-row gap-2 fw-bold">
                                        <div th:text="#{restaurant.form.phone}"></div>
                                        <p class="mb-1 fw-normal" th:text="${restaurante.telefono_restaurante}"></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="d-flex flex-row gap-2 fw-bold">
                                        <div th:text="#{restaurant.form.location}"></div>
                                        <p class="mb-1 fw-normal" th:text="${restaurante.localidad.nombre_localidad}"></p>
                                    </div>
                                </div>
                            </div>

                            <div th:if="${restaurante} != null" class="d-flex flex-row justify-content-center gap-2 w-100">
                                <i th:if="${restaurante.isVisible()} == true" class="text-success align-self-center bi bi-eye-fill fs-3"></i>
                                <i th:if="${restaurante.isVisible()} == false" class="text-secondary align-self-center bi bi-eye-slash-fill fs-3"></i>
                                <i th:if="${restaurante.getMembresia()}!=null" class="text-success align-self-center bi bi-inboxes fs-3"></i>
                                <i th:if="${restaurante.getMembresia()}==null" class="text-secondary align-self-center bi bi-inboxes fs-3"></i>
                            </div>

                        </div>
                    </div>
                </a>
            </article>
        </div>
        <div th:if="${restaurantesUser.size()}==0" class="container_restaurants container-100">
            <div th:insert="shared/noRestaurante :: norestaurant"></div>
        </div>
    </div>
</body>
<footer th:insert="shared/footer :: body" class="mt-auto fot"></footer>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
</html>