<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mis Restaurantes</title>
    <link th:href="@{/css/custom.css}" rel="stylesheet">
    <link th:href="@{/css/list_restaurants_useracount.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div th:insert="shared/headerVersion1 :: header" class="sticky-top top-0"></div>
    <h2 class="text-center pt-5 fw-bold title_principal">Los Restaurantes de <a class="text-decoration-none text-dark fw-bold" th:text="${user.nombre_usuario}"></a></h2>
    <div class="d-flex flex-row justify-content-center w-100 gap-3 fw-bold sub_comment_title">
        Numeros de Restaurantes
        <div th:text="' '+${restaurantesUser.size()}"></div>
    </div>
    <div class="d-flex justify-content-center">
        <div th:if="${restaurantesUser.size()}!=0" class="container_restaurants">
            <article class="single_restaurant" th:each="restaurante, iteration : ${restaurantesUser}">
                <a class="text-decoration-none text-black" th:href="@{'/restaurant/update/'+${restaurante.id_restaurante}}">
                    <div class="card">
                        <div th:each="imageSingle, iterationImg : ${ImgImages}">
                            <div th:if="${restaurante.id_restaurante}==${imageSingle.id_restaurant}">
                                <div th:if="${imageSingle.isEmpty()} == false">
                                    <img class="img-restaurant p-3 w-100" th:src="@{${restaurante.getPhotosImagePath()}+${imageSingle.getImgs()[0].url}}" alt="Img Restaurant (1)">
                                </div>
                                <div th:if="${imageSingle.isEmpty()} == true">
                                    <img class="img-restaurant p-3 w-100" th:src="@{/img/no-photo-available.jpg}" alt="Img Restaurant (1)">
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <h4 class="d-flex justify-content-center w-100"><b th:text="${restaurante.nombre}"></b></h4>
                            <!-- Horario inicio y fin -->
                            <div class="d-flex flex-row gap-2 fw-bold">
                                Tef:
                                <p class="mb-1 fw-normal" th:text="${restaurante.telefono_restaurante}"></p>
                            </div>
                            <div class="d-flex flex-row gap-2 fw-bold">
                                Localidad:
                                <p class="mb-1 fw-normal" th:text="${restaurante.localidad.nombre_localidad}"></p>
                            </div>
                            <div class="d-flex flex-row justify-content-center gap-2">
                                Visibilidad:
                                <div th:if="${restaurante.isVisible()}" class="text-success pb-2">Visible</div>
                                <div th:unless="${restaurante.isVisible()}" class="text-secondary pb-2">Invisible</div>
                            </div>
                        </div>
                    </div>
                </a>
            </article>
        </div>
        <div th:if="${restaurantesUser.size()}==0" class="container_restaurants">
            <div class="d-flex flex-row justify-content-center mb-5">
                <main class="d-flex flex-column justify-content-center body-info">
                    <section class="pt-5">
                        <div class="d-flex flex-row justify-content-center">
                            <div class="d-flex flex-column justify-content-center" style="width: 70%;">
                                <div class="border border-secondary border-1 mt-2 p-4" style=" border-radius: 10px">
                                    <p class="paraf_form">
                                        No estamos encontrando ningun restaurante, puede ser que aun no tengas. A que esperas, añade tu propio restaurante
                                        <a class="text-decoration-none text-success">
                                            dandole click a crear
                                        </a>
                                    </p>
                                    <div class="d-flex flex-row justify-content-center pt-4">
                                        <a th:href="@{/restaurant/create}" class="btn btn-success">Crear</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </main>
            </div>
        </div>
    </div>
</body>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/header.js}"></script>
</html>