<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cards</title>
    <link th:href="@{/css/custom.css}" rel="stylesheet"/>
    <link th:href="@{/css/form.css}" rel="stylesheet">
    <link th:href="@{/css/asideLeft.css}" rel="stylesheet">
    <link th:href="@{/css/card_modify.css}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="d-flex flex-column min-vh-100">
<div th:insert="shared/headerVersion2 :: header(${restaurant})"></div>
<div th:insert="shared/asideList :: aside"></div>

<div class="w-40"></div>

<main class="mt-5 mx-auto w-100 mb-5">

    <form class="d-flex flex-row justify-content-center" th:action="@{'/restaurant/admin/membresia/'+ ${restaurant.id_restaurante}}" method="POST">
        <main class="d-flex flex-column justify-content-center body-info">
            <section class="pt-5" id="restauranteFixed">
                <h3 class="title_section-info" th:text="#{membership.title}"></h3>
                <div class="d-flex flex-row justify-content-center pt-2">
                    <p class="paraf_form text-center fw-normal length-container" th:text="#{membership.paraf}"></p>
                </div>
                <div th:if="${restaurant.membresia == null}" class="d-flex flex-row justify-content-center">
                    <div class="d-flex flex-column justify-content-center length">
                        <div class="border border-secondary border-1 mt-5 p-4 box-container">
                            <h4 class="fw-normal text-start text-black QuickSand" th:text="#{membership.subscription}"></h4>
                            <p class="paraf_form text-start fw-normal" th:text="#{membership.data.paraf}"></p>
                            <div class="container pt-3 m-0 w-100 px-0">
                                <div class="row">
                                    <div class="col-sm p-0">
                                        <div th:text="#{membership.form.number}"></div>
                                        <label class="w-100 ps-2 pe-3">
                                            <input type="number" class="input-text validateDiasAnticipacionResponse">
                                        </label>
                                        <div></div>
                                    </div>
                                    <div class="col-sm p-0">
                                        <div th:text="#{membership.form.address}"></div>
                                        <label class="w-100 pe-2 ps-3">
                                            <input type="text" name="dirrecion" class="input-text validateDireccion" required>
                                        </label>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                            <div id="validateNameResponse"></div>
                            <div class="container pt-3 m-0 w-100 px-0">
                                <div class="row">
                                    <div class="col-sm p-0">
                                        <div th:text="#{membership.form.titular}"></div>
                                        <label class="w-100 ps-2 pe-3">
                                            <input type="text" class="input-text validateDiasAnticipacionResponse">
                                        </label>
                                        <div id="validateDiasAnticipacionResponse"></div>
                                    </div>
                                    <div class="col-sm p-0">
                                        <div th:text="#{membership.form.date.end}"></div>
                                        <label class="w-100 pe-2 ps-3">
                                            <input type="text" class="input-text validateTelefonoResponse">
                                        </label>
                                        <div id="validateTelefonoResponse"></div>
                                    </div>
                                    <div class="col-sm p-0">
                                        <div th:text="#{membership.form.secret.number}"></div>
                                        <label class="w-100 pe-2 ps-3">
                                            <input type="number" class="input-text validateAforo">
                                        </label>
                                        <div id="validateAforo"></div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <p class="paraf_form text-start fw-normal pt-3" th:text="#{membership.title.select}"></p>
                            <div class="container pt-3 m-0 w-100 px-0">
                                <div class="row">
                                    <div class="col-sm p-0">
                                        <label class="w-100 ps-2 pe-3">
                                            Programas:
                                            <select class="input-text" name="duracion">
                                                <option value="1" th:text="#{membership.one.month}"></option>
                                                <option value="3" th:text="#{membership.three.month}"></option>
                                                <option value="6" th:text="#{membership.six.month}"></option>
                                                <option value="12" th:text="#{membership.one.year}"></option>
                                                <option value="24" th:text="#{membership.two.years}"></option>
                                                <option value="36" th:text="#{membership.three.years}"></option>
                                            </select>
                                        </label>
                                        <div id="validateDireccion"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row justify-content-center pt-4">
                            <button type="submit" class="btn btn-dark" th:text="#{button.contract}"></button>
                        </div>
                    </div>
                </div>
                <div th:if="${restaurant.membresia != null}" class="d-flex flex-row justify-content-center">
                    <div class="d-flex flex-column justify-content-center length">
                        <div class="border border-secondary border-1 mt-5 p-4 box-container">
                            <h4 class="fw-normal text-start text-black QuickSand" th:text="#{membership.subscription}"></h4>
                            <div class="d-flex flex-row justify-content-start gap-2">
                                <p class="paraf_form text-start fw-normal" th:text="#{membership.end.paraf}"></p>
                                <p th:text="${restaurant.membresia.getFecha_fin()}"></p>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </main>
    </form>

</main>

<footer th:insert="shared/footer :: body" class="mt-auto fot"></footer>


<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/headerv2.js}"></script>
<script th:src="@{/js/asideVersionScroll.js}"></script>
</body>
</html>