<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cards</title>
    <link th:href="@{/css/custom.css}" rel="stylesheet"/>
    <link th:href="@{/css/form.css}" rel="stylesheet">
    <link th:href="@{/css/asideLeft.css}" rel="stylesheet">
</head>
<body>
<div th:insert="shared/headerVersion2 :: header(${restaurant})"/>
<div th:insert="shared/asideList :: aside"/>
<div class="w-40"></div>

<main class="mt-5 mx-auto w-100">

    <form class="d-flex flex-row justify-content-center" th:action="@{'/restaurant/admin/membresia/'+ ${restaurant.id_restaurante}}" method="POST">
        <main class="d-flex flex-column justify-content-center body-info">
            <section class="pt-5" id="restauranteFixed">
                <h3 class="title_section-info">Membresia</h3>
                <div class="d-flex flex-row justify-content-center pt-2">
                    <p class="paraf_form text-center fw-normal length-container">Al apuntarte a nuestra membresia conseguiras multiples ventajas que ayudaran a que este viaje sea mas facil!</p>
                </div>
                <div th:if="${restaurant.membresia == null}" class="d-flex flex-row justify-content-center">
                    <div class="d-flex flex-column justify-content-center length">
                        <div class="border border-secondary border-1 mt-5 p-4 box-container">
                            <h4 class="fw-normal text-start text-black QuickSand">Subscripcion</h4>
                            <p class="paraf_form text-start fw-normal">Introduce tus datos y la membresia que quieres comprar:</p>
                            <div class="container pt-3 m-0 w-100 px-0">
                                <div class="row">
                                    <div class="col-sm p-0">
                                        <label class="w-100 ps-2 pe-3">
                                            Numero de la tarjeta:
                                            <input type="number" class="input-text validateDiasAnticipacionResponse">
                                        </label>
                                        <div></div>
                                    </div>
                                    <div class="col-sm p-0">
                                        <label class="w-100 pe-2 ps-3">
                                            Direccion Facturacion:
                                            <input type="text" name="dirrecion" class="input-text validateDireccion" required>
                                        </label>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                            <div id="validateNameResponse"></div>
                            <div class="container pt-3 m-0 w-100 px-0">
                                <div class="row">
                                    <div class="col-sm p-0">
                                        <label class="w-100 ps-2 pe-3">
                                            Titular de la tarjeta:
                                            <input type="text" class="input-text validateDiasAnticipacionResponse">
                                        </label>
                                        <div id="validateDiasAnticipacionResponse"></div>
                                    </div>
                                    <div class="col-sm p-0">
                                        <label class="w-100 pe-2 ps-3">
                                            Fecha de espiracion:
                                            <input type="text" class="input-text validateTelefonoResponse">
                                        </label>
                                        <div id="validateTelefonoResponse"></div>
                                    </div>
                                    <div class="col-sm p-0">
                                        <label class="w-100 pe-2 ps-3">
                                            Numero secreto:
                                            <input type="number" class="input-text validateAforo">
                                        </label>
                                        <div id="validateAforo"></div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <p class="paraf_form text-start fw-normal pt-3">Escoge membresia</p>
                            <div class="container pt-3 m-0 w-100 px-0">
                                <div class="row">
                                    <div class="col-sm p-0">
                                        <label class="w-100 ps-2 pe-3">
                                            Programas:
                                            <select class="input-text" name="duracion">
                                                <option value="1">1 Mes / 20€</option>
                                                <option value="3">3 Meses / 50€</option>
                                                <option value="6">6 Meses / 90€</option>
                                                <option value="12">1 año / 150€ (Mejor Oferta)</option>
                                                <option value="24">2 años / 260€</option>
                                                <option value="36">3 años / 360€</option>
                                            </select>
                                        </label>
                                        <div id="validateDireccion"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row justify-content-center pt-4">
                            <button type="submit" class="btn btn-dark">Contratar</button>
                        </div>
                    </div>
                </div>
                <div th:if="${restaurant.membresia != null}" class="d-flex flex-row justify-content-center">
                    <div class="d-flex flex-column justify-content-center length">
                        <div class="border border-secondary border-1 mt-5 p-4 box-container">
                            <h4 class="fw-normal text-start text-black QuickSand">Subscripcion</h4>
                            <p th:inline="text" class="paraf_form text-start fw-normal">Este restaurante esta subscrito a nuestra membresia. Esta acabara el [[${restaurant.membresia.getFecha_fin()}]] </p>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </form>

</main>

<div th:insert="shared/footer :: footer"/>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/headerv2.js}"></script>

</body>
</html>