<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{card.modify.meta}"></title>
    <link th:href="@{/css/custom.css}" rel="stylesheet"/>
    <link th:href="@{/css/asideLeft.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.1.0/css/buttons.dataTables.min.css"/>
</head>
<body>
<div th:insert="shared/headerVersion2 :: header(${restaurant})"/>
<div th:insert="shared/asideList :: aside"/>

<div class="w-40"></div>
<main class="mt-5 mx-auto w-60">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page" th:text="#{periodo.title}"></li>
        </ol>
    </nav>
    <div id="Cards">
        <h3 th:text="${restaurant.nombre}"> </h3>
        <table id="card_table" class="display" style="width:100%">
            <thead class="thead-dark">
            <th scope="row" class="d-none" th:text="#{periodo.form.id}"></th>
            <th scope="row" th:text="#{periodo.form.name}"></th>
            <th scope="row" th:text="#{periodo.form.date.start}"></th>
            <th scope="row" th:text="#{periodo.form.date.end}"></th>
            <th scope="row" th:text="#{periodo.form.capacity}"></th>
            <th scope="row"></th>
            </thead>
            <tbody>
            <tr th:each="periodo : ${restaurant.periodos}">
                <td class="d-none" th:text="${periodo.id_periodo}"></td>
                <td th:text="${periodo.nombre}"></td>
                <td th:text="${periodo.fecha_inicio}"></td>
                <td th:text="${periodo.fecha_fin}"></td>
                <td th:text="${periodo.capacidad}"></td>
                <td>
                    <a class="text-decoration-none text-white" th:href="@{'/restaurant/admin/periodo/horario/' + ${periodo.id_periodo}}"><button type='button' class='editar btn btn-primary'><i class="bi bi-pencil"></i></button></a>
                    <button type='button' class='eliminar btn btn-danger' onclick="loadModalEliminar()"><i class="bi bi-trash-fill"></i></button>
                </td>
            </tr>
            </tbody>
        </table>
        <a class="" id="e1" th:href="@{'/restaurant/admin/horario/create/periodo/' + ${restaurant.id_restaurante}}"><button class="btn btn-primary mt-2" th:text="#{periodo.new.create}"></button></a>
        <a class="" id="e2" th:href="@{'/restaurant/update/' + ${restaurant.id_restaurante}}"><button class="btn btn-secondary mt-2" th:text="#{button.return}"></button></a>
    </div>

    <div th:insert="shared/modals/modal_eliminar :: section"/>

</main>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/headerv2.js}"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>

<script>

    var data;
    var tablee;

    $(document).ready(function() {
        listar();
    });

    var listar = function(){
        var card_table = $("#card_table").DataTable({
        });
        obtener_data("#card_table", card_table, "button.eliminar");
        obtener_data("#card_table", card_table, "button.editar");
    }

    function loadModalEliminar(){
        $("#modalEliminar").modal("show");
    }

    var obtener_data = function(tbody, table, tag){
        $(tbody).on("click", tag, function(){
            data = table.row( $(this).parents("tr")).data();
            tablee = table.row( $(this).parents("tr"));
        });
    }

    $('#eliminarbutton').click( function () {
        obtener_data("#card_table", card_table, "button.eliminar");
        var id = data[0];
        var link = "/restaurant/admin/horario/delete/" + id;
        $.ajax(link);
        tablee.remove().draw();
        $("#modalEliminar").modal("hide");
    });

</script>
</body>
</html>