<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link th:href="@{/css/custom.css}" rel="stylesheet"/>
  <style>
    body{
      background-color: #9A616D;
    }
    /* Style the form */
    #regForm {
      background-color: #ffffff;
      margin: 100px auto;
      padding: 40px;
      width: 70%;
      min-width: 300px;
    }

    /* Style the input fields */
    input {
      padding: 10px;
      width: 100%;
      font-size: 17px;
      font-family: Raleway;
      border: 1px solid #aaaaaa;
    }

    /* Mark input boxes that gets an error on validation: */
    input.invalid {
      background-color: #ffdddd;
    }

    /* Hide all steps by default: */
    .tab {
      display: none;
    }

    /* Make circles that indicate the steps of the form: */
    .step {
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbbbbb;
      border: none;
      border-radius: 50%;
      display: inline-block;
      opacity: 0.5;
    }

    /* Mark the active step: */
    .step.active {
      opacity: 1;
    }

    /* Mark the steps that are finished and valid: */
    .step.finish {
      background-color: #04AA6D;
    }
  </style>
</head>
<body>
<main>
  <div th:if="${error}!=null" th:text="${error}" class="message_error"></div>
  <div th:if="${success}!=null" th:text="${success}" class="message_success"></div>
  <section class="vh-auto" style="background-color: #9A616D;">
    <div class="container py-5 h-auto">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0 m-auto w-100">
              <div class="col-md-6 col-lg-7 d-flex align-items-center w-100">
                <div class="card-body p-4 p-lg-5 text-black w-100">

                  <form id="sendCode" th:if="${hasSend}==null" class="w-100" method="post" th:action="@{/send/code}">
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                      <span class="h1 fw-bold mb-0">Recuperacion Contraseña</span>
                    </div>
                    <div class="spinner w-100 text-center position-fixed" style="display: none;top: 30%; left: 0">
                      <div class="spinner-border fs-3" style="width: 6em; height: 6em" role="status">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                    </div>
                    <!-- One "tab" for each step in the form: -->
                    <div class="tab form-outline mb-4">Correo:
                      <p><input placeholder="Correo..." type="email" id="email_actual" name="email_actual" class="form-control form-control-lg" oninput="this.className = ''"></p>
                    </div>
                    <div class="text-center form-outline my-4 d-flex flex-row justify-content-start gap-2" style="width: min-content">
                      <input type="button" onclick="showSpinner()" class="btn btn-dark" value="Enviar Codigo">
                      <a type="button" class="btn btn-secondary" th:href="@{/recuperar/send}">Continuar</a>
                    </div>
                  </form>

                  <form th:if="${hasSend}==true" class="w-100" method="post" th:action="@{/recuperar/password}">
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                      <span class="h1 fw-bold mb-0">Recuperacion Contraseña</span>
                    </div>
                    <div class="tab form-outline mb-4">Codigo del Correo:
                      <p><input type="number" id="code" name="code" class="form-control form-control-lg" placeholder="Codigo..." oninput="this.className = ''"></p>
                    </div>
                    <div class="tab form-outline mb-4">Nombre Usuario:
                      <p><input type="text" id="nombre_usuario" name="nombre_usuario" class="form-control form-control-lg" placeholder="Nombre Usuario..." oninput="this.className = ''"></p>
                    </div>
                    <div class="tab">DNI:
                      <p><input type="text" name="dni" id="dni" class="form-control form-control-lg" placeholder="DNI..." oninput="this.className = ''"></p>
                    </div>
                    <div class="tab form-outline mb-4">Nueva Contraseña:
                      <p><input type="password" id="password" name="password" class="form-control form-control-lg" placeholder="Password..." oninput="this.className = ''"></p>
                    </div>

                    <div class="tab form-outline mb-4">Confirmar Nueva Contraseña:
                      <p><input type="password" id="password_confirm" name="password_confirm" class="form-control form-control-lg" placeholder="Password Confirm..." oninput="this.className = ''"></p>
                    </div>
                    <div th:if="${hasSend}==true" class="overflow-auto w-100 d-flex flex-row justify-content-between">
                      <button type="button" class="btn btn-outline-diw" id="prevBtn" onclick="nextPrev(-1)">Volver</button>
                      <button type="button" class="btn btn-outline-diw" id="nextBtn" onclick="nextPrev(1)">Siguiente</button>
                    </div>
                    <!-- Circles which indicates the steps of the form: -->
                    <div style="text-align:center;margin-top:40px;">
                      <span class="step"></span>
                      <span class="step"></span>
                      <span class="step"></span>
                      <span class="step"></span>
                    </div>
                  </form>

                  <form id="regenerateCode" th:if="${hasSend}==false" th:action="@{/regererar/code}">
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                      <span class="h1 fw-bold mb-0">Recuperacion Contraseña</span>
                    </div>
                    <p>Ya se encuentra un codigo enlazado con el correo, para cambiar el correo pulsa regenerar, con el correo insertado. Pulsa continuar para continuar con la recuperacion de contraseña.</p>
                    <div class="spinner w-100 text-center position-fixed" style="display: none;top: 30%; left: 0">
                      <div class="spinner-border fs-3" style="width: 6em; height: 6em" role="status">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                    </div>
                    <div class="text-center form-outline mb-4">
                      <a type="button" class="btn btn-secondary mt-3" th:href="@{/recuperar/send}">Continuar</a>
                    </div>
                  </form>


                  <form id="1" th:if="${hasSend}==true" method="post" th:action="@{/regererar/code}">
                    <div class="form-outline mb-4">Regenerar codigo del Correo:
                      <p><input placeholder="Correo..." type="email" id="email" name="email" class="form-control form-control-lg"></p>
                    </div>
                    <div class="text-center form-outline mb-4">
                      <button type="button" onclick="showSpinner1()" class="btn btn-secondary mt-3">Regenerar</button>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script>
  var currentTab = 0; // Current tab is set to be the first tab (0)
  showTab(currentTab); // Display the current tab

  function showTab(n) {
    // This function will display the specified tab of the form ...
    var x = document.getElementsByClassName("tab");
    x[n].style.display = "block";
    // ... and fix the Previous/Next buttons:
    if (n == 0) {
      document.getElementById("prevBtn").style.display = "none";
    } else {
      document.getElementById("prevBtn").style.display = "inline";
    }
    if (n == (x.length - 1)) {
      document.getElementById("nextBtn").innerHTML = "Submit";
      setTimeout(function (){document.getElementById("nextBtn").setAttribute('type','submit')},500);
    } else {
      document.getElementById("nextBtn").innerHTML = "Next";
      setTimeout(function (){document.getElementById("nextBtn").setAttribute('type','button')},500);
    }
    // ... and run a function that displays the correct step indicator:
    fixStepIndicator(n)
  }

  function nextPrev(n) {
    // This function will figure out which tab to display
    var x = document.getElementsByClassName("tab");
    // Exit the function if any field in the current tab is invalid:
    if (n == 1 && !validateForm()) return false;
    // Hide the current tab:
    x[currentTab].style.display = "none";
    // Increase or decrease the current tab by 1:
    currentTab = currentTab + n;
    // if you have reached the end of the form... :
    if (currentTab >= x.length) {
      //...the form gets submitted:
      document.getElementById("regForm").submit();
      return false;
    }
    // Otherwise, display the correct tab:
    showTab(currentTab);
  }

  function validateForm() {
    // This function deals with validation of the form fields
    var x, y, i, valid = true;
    x = document.getElementsByClassName("tab");
    y = x[currentTab].getElementsByTagName("input");
    // A loop that checks every input field in the current tab:
    for (i = 0; i < y.length; i++) {
      // If a field is empty...
      if (y[i].value == "") {
        // add an "invalid" class to the field:
        y[i].className += " invalid";
        // and set the current valid status to false:
        valid = false;
      }
    }
    // If the valid status is true, mark the step as finished and valid:
    if (valid) {
      document.getElementsByClassName("step")[currentTab].className += " finish";
    }
    return valid; // return the valid status
  }

  function fixStepIndicator(n) {
    // This function removes the "active" class of all steps...
    var i, x = document.getElementsByClassName("step");
    for (i = 0; i < x.length; i++) {
      x[i].className = x[i].className.replace(" active", "");
    }
    //... and adds the "active" class to the current step:
    x[n].className += " active";
  }

  function showSpinner(){
    $(".spinner").css("display","block");
    setTimeout(function (){$("#sendCode").submit()},1500);
  }

  function showSpinnerRegenerate(){
    $(".spinner").css("display","block");
    setTimeout(function (){$("#regenerateCode").submit()},1500);
  }

  function showSpinner1(){
    $(".spinner").css("display","block");
    setTimeout(function (){$("#1").submit()},1500);
  }
</script>
</body>
</html>