<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{user.register.meta}"></title>
    <link th:href="@{/css/custom.css}" rel="stylesheet"/>
    <link th:href="@{/css/login.css}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="background-color-general">
<main>
    <section class="vh-auto background-color-general">
        <div class="container py-5 h-auto">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card border-radius">
                        <div class="row g-0 m-auto w-100">
                            <div class="col-md-6 col-lg-7 d-flex align-items-center w-100">
                                <div class="card-body p-4 p-lg-5 text-black w-100">

                                    <form class="w-100" method="post" action="/register">

                                        <div class="d-flex align-items-center mb-3 pb-1">
                                            <span class="h1 fw-bold mb-0">Trobalo</span>
                                        </div>

                                        <h5 class="fw-normal mb-3 pb-3 letter-space" th:text="#{user.create.title}"></h5>

                                        <div class="form-outline mb-4">
                                            <input type="email" id="form2Example17" name="correo" class="form-control form-control-lg" />
                                            <label class="form-label" for="form2Example17" required th:text="#{user.update.correo}"></label>
                                            <div th:if="${error != null && error.containsKey('correo')}" th:text="${error.correo}" class="error-validation"></div>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input type="password" id="form2Example27" name="password" class="form-control form-control-lg" />
                                            <label class="form-label" for="form2Example27" required th:text="#{user.update.password}"></label>
                                            <div th:if="${error != null && error.containsKey('password')}" th:text="${error.password}" class="error-validation"></div>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input type="text" name="nombre_usuario" id="form2Example37" class="form-control form-control-lg" />
                                            <label class="form-label" for="form2Example37" required th:text="#{user.update.username}"></label>
                                            <div th:if="${error != null && error.containsKey('nombre_usuario')}" th:text="${error.nombre_usuario}" class="error-validation"></div>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input type="text" name="nombre" id="form2Example47" class="form-control form-control-lg" />
                                            <label class="form-label" for="form2Example47" required th:text="#{user.update.name}"></label>
                                            <div th:if="${error != null && error.containsKey('nombre')}" th:text="${error.nombre}" class="error-validation"></div>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input type="text" name="apellido1" id="form2Example57" class="form-control form-control-lg" />
                                            <label class="form-label" for="form2Example57" required th:text="#{user.update.surname1}"></label>
                                            <div th:if="${error != null && error.containsKey('apellido1')}" th:text="${error.apellido1}" class="error-validation"></div>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input type="text" name="apellido2" id="form2Example67" class="form-control form-control-lg" />
                                            <label class="form-label" for="form2Example67" th:text="#{user.update.surname2}"></label>
                                            <div th:if="${error != null && error.containsKey('apellido2')}" th:text="${error.apellido2}" class="error-validation"></div>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input type="text" name="telefono" id="form2Example77" class="form-control form-control-lg" />
                                            <label class="form-label" for="form2Example77" required th:text="#{user.update.phone}"></label>
                                            <div th:if="${error != null && error.containsKey('telefono')}" th:text="${error.telefono}" class="error-validation"></div>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input type="text" name="dni" id="form2Example87" class="form-control form-control-lg" />
                                            <label class="form-label" for="form2Example87" required th:text="#{user.update.dni}"></label>
                                            <div th:if="${error != null && error.containsKey('dni')}" th:text="${error.dni}" class="error-validation"></div>
                                        </div>

                                        <div class="pt-1 mb-4">
                                            <input class="btn btn-dark btn-lg btn-block" type="submit" th:value="#{button.register}"/>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>