<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mis Reservas</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link th:href="@{/css/custom.css}" rel="stylesheet">
    <link th:href="@{/css/form.css}" rel="stylesheet">
    <link th:href="@{/css/asideLeft.css}" rel="stylesheet">
    <link th:href="@{/css/datepickerCustom.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/reservas.css}" rel="stylesheet">
</head>
<body>
<div th:if="${restaurantesUser.size()}==0" th:insert="shared/headerVersion1 :: header" class="sticky-top top-0"></div>
<header th:if="${restaurantesUser.size()}!=0" th:fragment="header(restaurant)" id="header1" class="w-100 bg-front m-0">
    <div class="h-100 pt-2 pb-2 margin-nav-header1">
        <nav class="h-100 navbar navbar-light p-0 d-flex justify-content-lg-end justify-content-center border-e-grey">
            <a class="nav-link size-header1 d-lg-none d-block text-white align-self-center p-0 pe-3 ps-3" href="#">Buscadar Avanzado</a>
            <a class="nav-link size-header1 text-white align-self-center p-0 pe-3 ps-3" href="#">Preguntas</a>
            <a class="nav-link size-header1 text-white align-self-center p-0 pe-3 ps-3" href="#">Quien Somos?</a>
        </nav>
    </div>
</header>
<header th:if="${restaurantesUser.size()}!=0" id="header2" class="sticky-top w-100">
    <nav class="navbar navbar-expand-lg navbar-light h-100">
        <div class="container-fluid flex-row h-100 w-100 p-0">
            <div class="d-xl-none d-block h-100 col-lg-4 col-3 d-flex flex-row justify-content-center">
                <button id="navbar-button-header" class="align-self-center border-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#asideHeader" aria-controls="asideHeader">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line mb-0"></span>
                </button>
            </div>
            <div class="col-xl-3 col-sm-4 col-5 h-100">
                <div class="h-100 w-100 d-flex flex-row justify-content-center">
                    <img id="logoHeader1" class="h-100 align-self-center" th:src="@{/img/ies_manacor_white.png}" alt="ies">
                </div>
            </div>
            <div class="col-lg-6 d-xl-block d-none h-100 p-0">
                <nav id="navbarContent" class="h-100 d-flex flex-row justify-content-center navbar navbar-light fw-bold">
                    <a class="align-self-center p-0 pe-3 ps-3" href="/">Inicio</a>
                    <a class="align-self-center p-0 pe-3 ps-3" href="/restaurant/create">Crear Restaurante</a>
                    <a class="align-self-center p-0 pe-3 ps-3" href="/reservas">Mis Reservas</a>
                </nav>
            </div>
            <form class="col-lg-3 col-4 d-flex flex-row justify-content-end">
                <a href="/lista/restaurantes" methods="POST" th:object="${session}"><i class="bi bi-shop fs-3 pe-xl-5 pe-3 align-self-center"></i></a>
                <a href="/login"><i class="bi bi-person-fill fs-3 pe-xl-5 pe-3 align-self-center"></i></a>
                <div class="btn-group dropstart">
                    <a class="dropdown-toggle" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" role="button"><i class="bi bi-globe fs-3 pe-xl-5 pe-3 align-self-center"></i></a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Castellano</a></li>
                        <li><a class="dropdown-item" href="#">Catalan</a></li>
                        <li><a class="dropdown-item" href="#">Ingles</a></li>
                    </ul>
                </div>
            </form>
        </div>
    </nav>
    <div>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="asideHeader" aria-labelledby="asideHeaderLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="asideHeaderLabel">Opciones</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <a class="w-100 select-info text-decoration-none text-black ps-5" th:href="@{/lista/restaurantes}">
                <i class="bi bi-shop fs-3"></i>
                Lista Restaurantes
            </a>
            <a th:each="restaurant : ${restaurantesUser}" th:for="${restaurant.nombre}" th:name="${restaurant.id_restaurante}" class="restaurantes w-100 d-flex flex-row select-info text-decoration-none text-black ps-5">
                <i class="bi bi-journal-text fs-3"></i>
                <div th:text="${restaurant.nombre}"></div>
            </a>
        </div>
    </div>
</header>
<div id="error" class="message_error"></div>

<aside th:if="${restaurantesUser.size()}!=0" class="float-info aside z-index1 position-absolute">
    <div class="container-info">
        <a class="w-100 select-info text-decoration-none text-black ps-5" th:href="@{/lista/restaurantes}">
            <i class="bi bi-shop fs-3"></i>
            Lista Restaurantes
        </a>
        <a th:each="restaurant : ${restaurantesUser}" th:for="${restaurant.nombre}" th:name="${restaurant.id_restaurante}" class="restaurantes d-flex flex-row select-info text-decoration-none text-black ps-5">
            <i class="bi bi-journal-text fs-3"></i>
            <div th:text="${restaurant.nombre}"></div>
        </a>
    </div>
</aside>
<main class="container-100">
    <section class="d-flex flex-column justify-content-center w-100">
        <section class="pt-5 w-100 d-flex flex-row justify-content-center">
            <div>
                <h1 id="title" class="pb-3" th:if="${restaurantesUser.size()}!=0"></h1>
                <h1 class="pb-3" th:if="${restaurantesUser.size()}==0">No hay restaurantes</h1>
                <h3 class="text-center" id="titleTime"></h3>
            </div>


        </section>
        <div th:if="${restaurantesUser.size()}==0" class="container_restaurants">
            <div th:insert="shared/noRestaurante :: norestaurant"></div>
        </div>
        <section th:if="${restaurantesUser.size()}!=0" class="w-100 d-flex flex-xxl-row flex-column justify-content-xxl-center pt-0">
            <div class="w-25"></div>
            <div class="table-container">
                <table class="nowrap w-100" id="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>nombre</th>
                        <th>personas</th>
                        <th class="displayColumn">telefono</th>
                        <th>Hora</th>
                        <th>Correo</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="check-datepicker">
                <section class="w-100 d-flex flex-column justify-content-center p-lg-3 pt-0">
                    <div class="form-check form-switch d-flex flex-column justify-content-center p-0 m-0">
                        <label class="w-100 d-flex flex-row justify-content-center gap-4">
                            Activo permanentemente
                            <input class="form-check-input m-0 fs-3" id="datepickcheck" type="checkbox">
                        </label>
                    </div>
                    <div class="pt-2 pe-lg-5">
                        <input id="datepicker" type="text" class="form-control">
                    </div>
                    <div class="datepicker">

                    </div>
                </section>
            </div>
        </section>
    </section>
</main>

<footer th:insert="shared/footer :: footer"></footer>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/headerv2.js}"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.11.4/dataRender/datetime.js"></script>
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>


<script>
    let restaurants = $(".restaurantes");
    let restaurantActive;
    let restaurant;
    let datepicker = $("#datepicker");

    let titleTime = $("#titleTime");

    let title = $("#title");

    $(".datepicker").hide();

    const error = $("#error");

    const table = $("#table");

    error.hide();

    const options = {
        month: '2-digit',
        day: '2-digit',
        year: 'numeric',
    };
    let currentTime = new Date().toLocaleDateString('en-US', options);

    if (restaurants.length!==0) {
        restaurant = restaurants.eq(0);
        restaurantActive = restaurants.attr('name')[0];
        selectRestaurantCSS(restaurant);
        title.text(restaurants.attr('for'));
    }

    // ANIMATION DATE PICKER
    $(document).on('click', '.ui-datepicker-next', function () {
        $(".ui-datepicker-title>span").hide().show(500);
        $(".ui-datepicker-calendar").hide('slide', { direction: 'right' }, 500).show('slide', { direction: 'left' }, 500)
    })

    $(document).on('click', '.ui-datepicker-prev', function () {
        $(".ui-datepicker-title>span").hide().show(500);
        $(".ui-datepicker-calendar").hide('slide', { direction: 'left' }, 500).show('slide', { direction: 'right' }, 500)
    })

    createDataTable(null);
    activeTheFirstIfExist();

    function activeTheFirstIfExist() {
        if (restaurantActive !== undefined) {
            var date = new Date(currentTime);
            titleTime.text(reFormatDateLeftToRight(currentTime));
            table.DataTable().destroy();
            $.getJSON("/get/reservas/json/"+restaurantActive+"/"+date, function (data) {
                createDataTable(data);
            });
        } else {
            $("#table").append("<h1 class='title_principal text-center'>No hay restaurantes creados para ver las reservas, <a href='/restaurant/create' class='z-index1 text-success fw-bold'>crea uno ahora</a></h1>")
        }
    }

    $( function() {
        datepicker.datepicker({
            weekStart: 1,
            todayBtn: "linked",
            daysOfWeekHighlighted: "0,6",
            todayHighlight: true,
            onSelect: function(dateText, inst) {
                var date = new Date(reFormatDate(dateText));
                table.DataTable().destroy();
                titleTime.text(reFormatDateLeftToRight(dateText));
                $.getJSON("/get/reservas/json/" + restaurantActive+"/"+date, function (data) {
                    createDataTable(data);
                });
            }
        });
    } );
    $(".datepicker").datepicker({
        weekStart: 1,
        todayBtn: "linked",
        daysOfWeekHighlighted: "0,6",
        todayHighlight: true,
        onSelect: function(dateText, inst) {
            var date = new Date(reFormatDate(dateText));
            table.DataTable().destroy();
            titleTime.text(reFormatDateLeftToRight(dateText));
            $.getJSON("/get/reservas/json/" + restaurantActive+"/"+date, function (data) {
                createDataTable(data);
            });
        }
    });

    restaurants.on('click', function () {
        var date = new Date(currentTime);
        table.DataTable().destroy();
        titleTime.text(reFormatDateLeftToRight(currentTime));
        $.getJSON( "/get/reservas/json/"+$(this).attr('name')+"/"+date, function( data ) {
            createDataTable(data);
        });
        datepicker.datepicker('setDate', null);
        restaurantActive = $(this).attr('name');
        removeRestaurantCSS(restaurant);
        restaurant = $(this);
        selectRestaurantCSS(restaurant);
        title.text($(this).attr('for'));
    });

    function reFormatDate(date) {
        let current = date.split("/");
        return current[2]+"-"+current[0]+"-"+current[1];
    }

    function reFormatDateLeftToRight(date) {
        let current = date.split("/");
        return current[1]+"-"+current[0]+"-"+current[2];
    }

    function createDataTable(data) {
        var fecha;
        $.each(data, function (key, object) {
            fecha = new Date(object.fecha);
            object.fecha = formatDate(object)[0]+"-"+getMonthDate(object)+"-"+fecha.getFullYear();
        });
        table.dataTable({
            data: data,
            responsive: {
                details: false
            },
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'print',
                    customize: function ( win ) {
                        $(win.document.body)
                            .prepend(
                                '<p style="position:absolute; top:0; left:0; font-size: 50px; opacity: 0.1" >'+title.text()+'</p>'
                            );

                        $(win.document.body).find( 'table' )
                            .addClass( 'compact' )
                            .css( 'font-size', 'inherit' );
                    }
                }
            ],
            columns: [
                {
                    "className":      'dt-control displayColumn border-0',
                    "orderable":      false,
                    "data":           null,
                    "defaultContent": ''
                },
                {"data": "nombre"},
                {"data": "personas"},
                {"data": "telefono", "className" : 'displayColumn'},
                {"data": "Hora", "defaultContent": getHoraDate(fecha)},
                {"data":"correo"}
            ],
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
        });
    }

    $('#table tbody').on('click', 'td.dt-control', function () {
        var tr = $(this).closest('tr');
        var row = $("#table").DataTable().row(tr);

        if (row.child.isShown()) {
            row.child.hide();
            tr.removeClass('shown');
        } else {
            row.child(format(row.data())).show();
            tr.addClass('shown');
        }
    });

    function format ( d ) {
        return '<table cellpadding="6" cellspacing="0" border="0" class="displayColumn">'+
            '<tr>'+
            '<td>Fecha:</td>'+
            '<td>'+d.fecha+'</td>'+
            '</tr>'+
            '<tr>'+
            '<td>Telefono:</td>'+
            '<td>'+d.telefono+'</td>'+
            '</tr>'+
            '<tr>'+
            '<td>Lenguaje:</td>'+
            '<td>'+d.lenguaje+'</td>'+
            '</tr>'+
            '</table>';
    }

    function formatDate(date){
        var getDate = date.fecha.toString().split("-");
        return getDate[2].split("T");
    }

    function getMonthDate(date) {
        var getDay = date.fecha.toString().split("-");
        return getDay[1];
    }

    function getHoraDate(hora) {
        var date = new Date(hora);
        return date.getHours()+":"+date.getMinutes()+":"+date.getSeconds();
    }

    function selectRestaurantCSS(restaurant) {
        restaurant.css("border","solid black 2px");
        restaurant.css("border-bottom-right-radius","15px");
        restaurant.css("border-top-right-radius","15px");
    }

    function removeRestaurantCSS(restaurant) {
        restaurant.css("border","solid black 0");
    }

    $( '#datepickcheck' ).on( 'click', function() {
        if( $(this).is(':checked') ){
            $("#datepicker").hide();
            $(".datepicker").show();
        } else {
            $("#datepicker").show();
            $(".datepicker").hide();
        }
    });
    if( $("#datepickcheck").is(':checked') ){
        $("#datepicker").hide();
        $(".datepicker").show();
    } else {
        $("#datepicker").show();
        $(".datepicker").hide();
    }
</script>
</body>
</html>