<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{restaurants.admin.meta}"></title>
  <link th:href="@{/css/custom.css}" rel="stylesheet"/>
  <link th:href="@{/css/form.css}" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"/>
  <link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css"/>
</head>
<body>
<div th:insert="shared/headerVersion1 :: header" class="sticky-top top-0"></div>
<form id="form" th:action="@{/restaurant/validation}" method="POST">
  <main class="pt-3 mx-auto w-75">
    <div id="restaurantes">
      <h3 class="mt-5" th:text="#{restaurants.admin.title}"></h3>
      <table id="restaurant_table" class="display w-100">
        <thead class="thead-dark">
        <th scope="row" th:text="#{restaurants.admin.row.id}"></th>
        <th scope="row" th:text="#{restaurants.admin.row.name}"></th>
        <th scope="row" th:text="#{restaurants.admin.row.days}"></th>
        <th scope="row" th:text="#{restaurants.admin.row.phone}"></th>
        <th scope="row" th:text="#{restaurants.admin.row.validated}"></th>
        <th scope="row" th:text="#{restaurants.admin.row.capacity}"></th>
        <th scope="row" th:text="#{restaurants.admin.row.address}"></th>
        <th scope="row" th:text="#{restaurants.admin.row.locality}"></th>
        <th scope="row" th:text="#{restaurants.admin.row.membership}"></th>
        <th scope="row" th:text="#{restaurants.admin.row.useracount}"></th>
        <th scope="row" th:text="#{restaurants.admin.row.visible}"></th>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
    <label>
      <input type="text" name="idRestaurant" hidden>
    </label>
    <label>
      <input type="checkbox" name="validation" hidden>
    </label>
  </main>
</form>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/headerv2.js}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
<script th:src="@{/js/restaurante_admin.js}"></script>
</body>
</html>