<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${restaurant.nombre}"></title>
    <link th:href="@{/css/custom.css}" rel="stylesheet"/>
    <link th:href="@{/css/form.css}" rel="stylesheet">
    <link th:href="@{/css/asideLeft.css}" rel="stylesheet">
    <link th:href="@{/css/stats_restaurant.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="d-flex flex-column min-vh-100">
<div th:insert="shared/headerVersion2 :: header(${restaurant})"></div>
<div th:if="${error}!=null" th:text="${error}" class="message_error"></div>
<div th:if="${success}!=null" th:text="${success}" class="message_success"></div>
<aside th:insert="shared/asideList :: aside"></aside>
<main id="restauranteFixed" class="d-flex flex-row justify-content-center">
    <section class="d-flex flex-column justify-content-center body-info">
        <div class="pt-5">
            <h3 class="title_section-info" th:text="#{stats.title}"></h3>
            <div class="d-flex flex-row justify-content-center pt-2">
                <p class="paraf_form text-center fw-normal length-container" th:text="#{stats.paraf.title}"></p>
            </div>
            <div class="d-flex flex-row justify-content-center pb-5">
                <div class="d-flex flex-column justify-content-center length">
                    <div class="border border-secondary border-1 mt-5 p-4 box-container">
                        <h4 class="fw-normal text-start text-black QuickSand" th:text="#{stats.site.title}"></h4>
                        <p class="paraf_form text-start fw-normal pt-3" th:text="#{stats.info.section}"></p>
                        <div class="d-flex flex-row justify-content-center gap-2"><div th:text="#{stats.from}+' '"></div><div class="day_current"></div></div>
                        <div id="sitio"></div>
                        <hr>
                        <h4 class="fw-normal text-start text-black QuickSand" th:text="#{stats.service.title}"></h4>
                        <p class="paraf_form text-start fw-normal pt-3" th:text="#{stats.info.section}"></p>
                        <div class="d-flex flex-row justify-content-center gap-2"><div th:text="#{stats.from}+' '"></div><div class="day_current"></div></div>
                        <div id="servicio"></div>
                        <hr>
                        <h4 class="fw-normal text-start text-black QuickSand" th:text="#{stats.eat.title}"></h4>
                        <p class="paraf_form text-start fw-normal pt-3" th:text="#{stats.info.section}"></p>
                        <div class="d-flex flex-row justify-content-center gap-2"><div th:text="#{stats.from}+' '"></div><div class="day_current"></div></div>
                        <div id="comida"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <aside class="d-flex flex-column pt-5 w-20 position-fixed d-xl-block d-none" style="right: 10px">
        <div class="row pb-2">
            <div class="col-2 box-color star-1"></div>
            <div class="col-10">
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
            </div>
        </div>
        <div class="row pb-2">
            <div class="col-2 box-color star-2"></div>
            <div class="col-10">
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
            </div>
        </div>
        <div class="row pb-2">
            <div class="col-2 box-color star-3"></div>
            <div class="col-10">
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
            </div>
        </div>
        <div class="row pb-2">
            <div class="col-2 box-color star-4"></div>
            <div class="col-10">
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-2 box-color star-5"></div>
            <div class="col-10 text-warning">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
            </div>
        </div>
    </aside>
</main>
<footer th:insert="shared/footer :: body" class="mt-auto fot"></footer>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script th:inline="javascript">
    $(".day_current").text(formateDate(new Date()))

    let arrayColors = {
        color5: "#2c902f",
        color4: "#12d218",
        color3: "#e4e335",
        color2: "#eeb628",
        color1: "#d32102"
    }

    $(".star-1").css("background-color",arrayColors.color1);
    $(".star-2").css("background-color",arrayColors.color2);
    $(".star-3").css("background-color",arrayColors.color3);
    $(".star-4").css("background-color",arrayColors.color4);
    $(".star-5").css("background-color",arrayColors.color5);

    function formateDate(date) {
        return date.getDate()+"-"+(date.getMonth()+1)+"-"+date.getFullYear();
    }

    generateSVG([[${restaurant.id_restaurante}]],"servicio",[false,false,false,false,false]);
    generateSVG([[${restaurant.id_restaurante}]],"comida",[false,false,false,false,false]);
    generateSVG([[${restaurant.id_restaurante}]],"sitio",[false,false,false,false,false]);

    sitio.on("change",function () {
        generateSVG([[${restaurant.id_restaurante}]],"sitio",[false,false,false,false,false]);
    })

    comida.on("change",function () {
        generateSVG([[${restaurant.id_restaurante}]],"comida",[false,false,false,false,false]);
    })

    servicio.on("change",function () {
        generateSVG([[${restaurant.id_restaurante}]],"servicio",[false,false,false,false,false]);
    })

    function generateSVG(id_restaurant,type,hasAny) {
        let list = [];
        $("#"+type).empty();
        $.when(
            $.getJSON("/comentarios/sum/"+type+"/"+1+"/"+id_restaurant)
                .then(function(data) {
                    list["one"] = parseInt(data);
                    if (parseInt(data)===0) {
                        hasAny[0] = true;
                    }
                })
                .fail(function() {
                    // ...didn't work, handle it
                }),
            $.getJSON("/comentarios/sum/"+type+"/"+2+"/"+id_restaurant)
                .then(function(data) {
                    list["two"] = parseInt(data)
                    if (parseInt(data)===0) {
                        hasAny[1] = true;
                    }
                })
                .fail(function() {
                    // ...didn't work, handle it
                    list["two"] = 1;
                }),
            $.getJSON("/comentarios/sum/"+type+"/"+3+"/"+id_restaurant)
                .then(function(data) {
                    list["three"] = parseInt(data);
                    if (parseInt(data)===0) {
                        hasAny[2] = true;
                    }
                })
                .fail(function() {
                    // ...didn't work, handle it
                    list["three"] = 1;
                }),
            $.getJSON("/comentarios/sum/"+type+"/"+4+"/"+id_restaurant)
                .then(function(data) {
                    list["four"] = parseInt(data);
                    if (parseInt(data)===0) {
                        hasAny[3] = true;
                    }
                })
                .fail(function() {
                    // ...didn't work, handle it
                    list["four"] = 1;
                }),
            $.getJSON("/comentarios/sum/"+type+"/"+5+"/"+id_restaurant)
                .then(function(data) {
                    list["five"] = parseInt(data);
                    if (parseInt(data)===0) {
                        hasAny[4] = true;
                    }
                })
                .fail(function() {
                    // ...didn't work, handle it
                    list["five"] = 1;
                }),
        ).then(function () {
            if (isEmptyAll(hasAny)) {
                list = generateEmptyStars();
            } else {
                list = generateListStars(list);
            }
            var Mydata = list[0].children;
            var width = 300,
                height = 250,
                radius = Math.min(width, height) / 2;
            var color = d3.scale.ordinal()
                .range([arrayColors.color1,arrayColors.color2,arrayColors.color3,arrayColors.color4,arrayColors.color5]);
            var arc = d3.svg.arc()
                .outerRadius(radius - 10)
                .innerRadius(0);
            var pie = d3.layout.pie()
                .sort(null)
                .value(function (d) {
                    return parseInt(d.size);
                });
            var svg = d3.select("#"+type).append("svg")
                .attr("width", width)
                .attr("height", height)
                .append("g")
                .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");
            var g = svg.selectAll(".arc")
                .data(pie(Mydata))
                .enter().append("g")
                .attr("class", "arc");
            g.append("path")
                .attr("d", arc)
                .style("fill", function (d) {
                    return color(d.data.name);
                });
            g.append("text")
                .attr("transform", function (d) {
                    return "translate(" + arc.centroid(d) + ")";
                })
                .attr("dy", ".35em")
                .style("text-anchor", "middle")
                .text(function (d) {
                    if (d.data.size!==0) {
                        return d.data.name;
                    }
                }).attr("fill","black").attr("font-size","20px")
        })
    }
    function generateEmptyStars() {
        return [
            {
                "name": "Stars",
                "children": [
                    {
                        "name": "Empty",
                        "size": 1,
                    }
                ]
            }
        ]
    }

    function generateListStars(data) {
        return [
            {
                "name": "Stars",
                "children": [
                    {
                        "name": "1",
                        "size": data["one"],
                    },
                    {
                        "name": "2",
                        "size": data["two"],
                    },
                    {
                        "name": "3",
                        "size": data["three"],
                    },
                    {
                        "name": "4",
                        "size": data["four"],
                    },
                    {
                        "name": "5",
                        "size": data["five"],
                    }
                ]
            }
        ]
    }

    function isEmptyAll(data) {
        for (let i = 0; i < data.length; i++) {
            if (data[i]===false) {
                return false;
            }
        }
        return true;
    }
</script>
<script th:src="@{/js/headerv2.js}"></script>
<script th:src="@{/js/asideVersionScroll.js}"></script>
<script th:src="@{/js/hide_messages.js}"></script>
</body>
</html>