@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

.googleMaps-Height {
  height: 300px;
}
.width-responsive-50 {
  width: 50%;
}

@media only screen and (max-width: 1190px) {
  .width-responsive-50 {
    width: 100%;
  }
}