.form-container {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}
.title_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Outfit', sans-serif;
}
.paraf_form {
    font-family: 'Outfit', sans-serif;
}
.sub_comment_title {
    color: #C8C8C8;
}
.body_form {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.field_form_principal {
    width: 70%;
    border-radius: 10px;
    background-color: lightgrey;
}
.field_form_section {
    width: 30%;
    border-radius: 10px;
    background-color: lightgrey;
}

.input-text {
    border-radius: 10px;
    width: 100%;
    padding: 15px 10px 15px 25px;
    border: 0;
    background-color: lightgrey;
}