
.aboutTittle{
    color: #ADC5d9;
}

.subtext{
    width: 400px;
}

.separador{
    border-bottom: 0.5px solid black;
}

.cen{
    text-align: center;
}

.color{
    background-color: #ADC5d9;
    border: none;
    font-size: 24px;
}

.color:hover{
    background-color: #8C7654;
    border: none;
}

.izquierda{
    background-color: rgb(246,246,254);
}

.gray{
    color: gray;
}

.coso{
    width: 500px;
}
